{% macro activity_template(activity) %}
    {% set class = '' %}
    {% if activity.vars.data %}
        {% if activity.vars.data.activity.type == constant("AppBundle\\Constant\\ActivityType::ACTIVITY") %}
            {% if activity.vars.data.activity.mode == constant("AppBundle\\Constant\\ActivityMode::IN_CLASS") %}
                {% set class = 'activity-in-class' %}
            {% else %}
                {% set class = 'activity-in-autonomy' %}
            {% endif %}
        {% else %}
            {% if activity.vars.data.activity.mode == constant("AppBundle\\Constant\\ActivityMode::EVAL_CC") %}
                {% set class = 'evaluation-cc' %}
            {% else %}
                {% set class = 'evaluation-ct' %}
            {% endif %}
        {% endif %}
    {% endif %}
    <div class="activity card mb-2 border rounded shadow {{ class }}">
        <div class="card-header p-1">
            <div class="row">
                <div class="col-md-auto align-self-center">
                    <i class="fas fa-caret-down" title="Déplier / Replier."
                       data-toggle="collapse"
                       data-target="#collapse_{{ activity.vars.id }}"
                       aria-expanded="true"
                       aria-controls="collapse_{{ activity.vars.id }}"
                    ></i>
                </div>
                <div class="icon"></div>
                <div class="col align-self-center">
                    <small class="font-weight-bold activity-label">
                        {% if activity.vars.data %}
                            {{ activity.vars.data.activity.label }}
                        {% endif %}
                    </small>
                </div>
                <div class="col-md-auto pl-0">
                    <i class="fas fa-trash-alt danger activity-collection-remove" title="Retirer de la liste."></i>
                </div>
                <div class="col-md-auto pl-0">
                    <i class="fas fa-arrows-alt activity-collection-move" title="Glisser / déposer pour modifier l'ordre."></i>
                </div>
            </div>
        </div>
        <div class="card-body p-1 bg-white border-0 rounded-bottom collapse show" id="collapse_{{ activity.vars.id }}">
            <div class="row">
                <div class="col">
                    {{ form_widget(activity.description) }}
                    <label placeholder="Préciser si nécessaire"></label>
                </div>
            </div>
            <div class="row evaluation-info">
                <div class="col-md-auto align-self-center">
                    <small>Evalué par *</small>
                </div>
                <div class="col-md-auto align-self-center">
                    <small>
                        {{ form_widget(activity.evaluationTeacher) }}
                    </small>
                </div>
                <div class="col-md-auto align-self-center">
                    <small>
                        {{ form_widget(activity.evaluationPeer) }}
                    </small>
                </div>
                <div class="col align-self-center">
                    {{ form_widget(activity.evaluationRate) }}
                    <label placeholder="%"></label>
                </div>
            </div>
            {{ form_widget(activity.activity) }}
            {{ form_widget(activity) }}
        </div>
    </div>
{% endmacro %}

{% block _edit_activities_course_info_sections_entry_activities_widget %}
    {% import _self as activitiesField %}
    <div id="activities_{{ form.parent.vars.name }}"
         class="activities h-100"
         data-index=""
         data-prototype="{{ activitiesField.activity_template(form.vars.prototype)|e }}">
        {% for activity in form.children %}
            {{ activitiesField.activity_template(activity) }}
        {% endfor %}
    </div>
{% endblock %}