{% macro activity_template(activity) %}
    {% set class = '' %}
    {% if activity.vars.data %}
        {% if activity.vars.data.activity.type == constant("AppBundle\\Constant\\ActivityType::ACTIVITY") %}
                {% set class = 'activity-activity' %}
            {% else %}
                {% set class = 'activity-evaluation' %}
        {% endif %}
    {% endif %}
    <div class="activity card mb-2 rounded shadow-sm {{ class }}">
        <div class="card-header p-1">
            <div class="row">
                <div class="col-md-auto align-self-center">
                    <i class="fas fa-caret-down" title="Déplier / Replier."
                       data-toggle="collapse"
                       data-target="#collapse_{{ activity.vars.id }}"
                       aria-expanded="false"
                       aria-controls="collapse_{{ activity.vars.id }}"
                    ></i>
                </div>
                <div class="col">
                    <small class="font-weight-bold activity-label">
                        {% if activity.vars.data %}
                            {{ activity.vars.data.activity.label }}
                        {% endif %}
                    </small>
                </div>
                <div class="col-md-auto">
                    <i class="fas fa-arrows-alt-v activity-collection-move" title="Glisser / déposer pour modifier l'ordre."></i>
                    <i class="fas fa-eraser activity-collection-remove" title="Retirer de la liste."></i>
                </div>
            </div>
        </div>
        <div class="card-body p-1 bg-white border-0 rounded-bottom collapse multi-collapse" id="collapse_{{ activity.vars.id }}">
            {{ form_widget(activity.description) }}
            <label alt="Préciser si nécessaire" placeholder="Préciser si nécessaire"></label>
            {{ form_widget(activity.activity) }}
            {{ form_widget(activity) }}
        </div>
    </div>
{% endmacro %}

{% block _edit_activities_course_info_sections_entry_activities_widget %}
    {% import _self as activitiesField %}
    <div id="activities_{{ form.parent.vars.name }}"
         class="activities h-100"
         data-index=""
        data-prototype="{{ activitiesField.activity_template(form.vars.prototype)|e }}">
        {% for activity in form.children %}
            {{ activitiesField.activity_template(activity) }}
        {% endfor %}
    </div>
{% endblock %}