{% macro activity_template(activity) %}
    <div class="activity p-1 mt-1 border border-info">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        {% if activity.vars.data %}
                            <small class="font-weight-bold">{{ activity.vars.data.activity.label }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_widget(activity.description) }}
                        <label alt="Préciser si nécessaire" placeholder="Préciser si nécessaire"></label>
                    </div>
                </div>
            </div>
            <div class="col col-md-auto align-self-center">
                <i class="fas fa-arrows-alt-v activity-collection-move" title="Glisser / déposer pour modifier l'ordre."></i>
                <i class="fas fa-eraser activity-collection-remove" title="Retirer de la liste."></i>
            </div>
        </div>
        {{ form_row(activity) }}
    </div>
{% endmacro %}

{% block _edit_activities_course_info_sections_entry_activities_widget %}
    {% import _self as activitiesField %}
    <div id="activities_{{ form.parent.vars.name }}"
         class="activities"
         data-index=""
        data-prototype="{{ activitiesField.activity_template(form.vars.prototype)|e }}">
        {% for activity in form.children %}
            {{ activitiesField.activity_template(activity) }}
        {% endfor %}
    </div>
{% endblock %}