{#
{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {{ dump(form) }}
        {% for name, choices in form.vars.choices %}
            {% if choices is iterable  %}

                <label class="choice_category">
                    <strong>
                        {{ choice_translation_domain is same as(false) ? name : name|trans({}, choice_translation_domain) }}
                    </strong>
                </label>
                <div>
                    {% for key,choice in choices %}
                        {{ form_widget(form[key]) }}
                        {{ form_label(form[key]) }}
                    {% endfor %}
                </div>

            {% else %}

                {{- form_widget(form[name]) -}}
                {{- form_label(form[name], null, {translation_domain: choice_translation_domain}) -}}

            {% endif %}
        {% endfor %}
    </div>
{%- endblock choice_widget_expanded -%}
#}


{% macro print_roles_hierarchy(form, choices, parent) %}
    {% set parentId = (parent.vars is defined) ? parent.vars.id : '' %}
    <ul class="ml-3 pl-0" style="list-style: none;" data-parent="{{ parentId }}">
    {% for key, value in choices %}
        <li>
        {% if value is iterable  %}
            {% set id = findChoiceIdByLabel(key, form.vars.choices) %}
            {{ _self.print_role(form, id) }}
            {{ _self.print_roles_hierarchy(form, value, form[id]) }}
        {% else %}
            {% set id = findChoiceIdByLabel(value, form.vars.choices) %}
            {{ _self.print_role(form, id) }}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro print_role(form, id) %}
    {% if id is not empty %}
        {{ form_widget(form[id]) }}
        {{ form_label(form[id]) }}
    {% endif %}
{% endmacro %}

{% block _groups_roles_row %}
    <label>{{ form.vars.label|trans }}</label>
    <div class="form-group border p-2" id="groups_roles">
        {{ _self.print_roles_hierarchy(form, constant('AppBundle\\Constant\\UserRole::HIERARCHY')) }}
    </div>
{% endblock %}
