{% macro section_template(section) %}
    <li class="list-group-item section">
        <div class="row">
            <div class="col-md-auto">
                <i class="fas fa-caret-down" title="Déplier / Replier."
                   data-toggle="collapse"
                   data-target="#collapse_{{ section.vars.id }}"
                   aria-expanded="false"
                   aria-controls="collapse_{{ section.vars.id }}"
                ></i>
            </div>
            <div class="col"></div>
            <div class="col-md-auto">
                <i class="fas fa-arrows-alt-v section-collection-move" title="Glisser / déposer pour modifier l'ordre."></i>
                <i class="fas fa-eraser section-collection-remove" title="Retirer de la liste."></i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_widget(section.title) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="collapse_{{ section.vars.id }}">
                    <div class="row mt-3">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <strong>{{ form_label(section.description) }}</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_widget(section.description) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <strong>Activité(s) / Evaluation(s) associée(s) au contenu</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_row(section.activities) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_row(section) }}
                </div>
            </div>
        </div>
    </li>
{% endmacro %}

{% block _edit_activities_course_info_sections_widget %}
    {% import _self as sectionsField %}
    <ul class="list-group" id="sections" data-prototype="{{ sectionsField.section_template(form.vars.prototype)|e }}">
        {% for section in form.children %}
            {{ sectionsField.section_template(section) }}
        {% endfor %}
    </ul>
{% endblock %}