{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des tâches planifiées' %}

{% block modals %}
    {{ parent() }}
    {{ include('partial/warning_delete_modal.html.twig') }}
{% endblock %}


{% block subContent %}

    <div class="card">
        <div class="card-header">
            {{ form_start(form) }}
            <div class="row ui-front">
                <div class="col-md-2">
                    {{ form_row(form.label) }}
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="btn btn-danger" style="margin-top: 32px" href="{{  path('app.admin.job.index')  }}">Réinitialiser les filtres</a>
                </div>
                <input type="submit" style="position: absolute; left: -9999px"/>
                <div class="col-md-8 col-sm-8">
                    <a class="btn btn-primary float-right" style="margin-top: 32px" href="{{ path('app.admin.job.new') }}">Ajouter une tâche</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Label', 'c.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Import', 'c.command') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Statut', 'c.lastStatus') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Date d\'excecution', 'c.lastUseStart') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Fin d\'excecution', 'c.lastUseEnd') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Fréquence', 'c.frequencyJobFormat') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Immédiat', 'c.immediately') }}</th>
                        <th >Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in pagination %}
                        <tr class="{{ job.obsolete ? 'bg-warning' }}">
                            <td><a href="{{ path('app.admin.job.edit', { 'id' : job.id }) }}">{{ job.label }}</a></td>
                            <td>{{ job.command }} {{ job.obsolete ? '(Cette commande n\'existe plus)' }}</td>
                            <td>{{ ('app.const.job.status.'~ job.lastStatus)|trans }}</td>
                            <td>
                                {%  if job.lastUseStart %}
                                    le {{ job.lastUseStart|date('d-m-Y à h-i-s') }}
                                {% endif %}
                            </td>
                            <td>
                                {%  if job.lastUseEnd %}
                                    le {{  job.lastUseEnd|date('d-m-Y à h-i-s') }}
                                {% endif %}
                            </td>
                            <td>{{ job.frequencyJobFormat }}</td>
                            <td>{{ job.immediately|humanizeBoolean }}</td>
                            <td>
                                {% if job.lastStatus == constant('AppBundle\\Constant\\Job::STATUS_IN_PROGRESS') %}
                                    <button class="btn btn-primary disabled">Rapport</button>
                                    <button class="btn btn-primary disabled">Executer</button>
                                    <button class="btn btn-danger disabled"><i class="fas fa-trash"></i></button>
                                {% else %}
                                    <a href="{{ path('app.admin.job.report', {'id': job.id}) }}" class="btn btn-primary">Rapport</a>
                                    <form method="POST" action="{{ path('app.admin.job.run_command', {'id' : job.id}) }}" class="d-inline">
                                        <button href="{{ path('app.admin.job.run_command', {'id': job.id}) }}" class="btn btn-primary">Executer</button>
                                        <input type="hidden" name="_token" value="{{ csrf_token('job' ~ job.id) }}">
                                    </form>
                                    {% set deleteFormView = deleteFormsView[job.id] %}
                                    {{ form_start(deleteFormView, {'attr' : {'class' : 'd-inline'}}) }}
                                    <button type="button" class="btn btn-danger warning-delete" data-toggle="modal" data-target="#warningDeleteModal">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    {{ form_end(deleteFormView) }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucun job n'a été enregistré</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
