{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des tâches planifiées' %}

{% block modals %}
    {{ parent() }}
    {{ include('partial/warning_delete_modal.html.twig') }}
{% endblock %}


{% block subContent %}

    <div class="card">

        <div class="card-body">

            <div class="d-flex justify-content-end pb-3">
                {% include 'action/_job_create.html.twig' %}
            </div>

            <div class="border p-3 mb-3">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        {{ form_row(form.label) }}
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Filtrer</button>
                            <a class="btn btn-danger" href="{{  path('app.admin.job.index')  }}">Réinitialiser les filtres</a>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>

            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Label', 'c.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Import', 'c.command') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Statut', 'c.lastStatus') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Date d\'excecution', 'c.lastUseStart') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Fin d\'excecution', 'c.lastUseEnd') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Fréquence', 'c.frequencyJobFormat') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Immédiat', 'c.immediately') }}</th>
                        <th >Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in pagination %}
                        <tr class="{{ job.obsolete ? 'bg-warning' }}">
                            <td>
                                {% if is_granted('ROLE_ADMIN_JOB_UPDATE') %}
                                    <a href="{{ path('app.admin.job.edit', { 'id' : job.id }) }}">{{ job.label }}</a>
                                {% else %}
                                    {{ job.label }}
                                {% endif %}
                            </td>
                            <td>{{ job.command }} {{ job.obsolete ? '(Cette commande n\'existe plus)' }}</td>
                            <td>{{ ('app.const.job.status.'~ job.lastStatus)|trans }}</td>
                            <td>
                                {%  if job.lastUseStart %}
                                    le {{ job.lastUseStart|date('d-m-Y à h-i-s') }}
                                {% endif %}
                            </td>
                            <td>
                                {%  if job.lastUseEnd %}
                                    le {{  job.lastUseEnd|date('d-m-Y à h-i-s') }}
                                {% endif %}
                            </td>
                            <td>{{ job.frequencyJobFormat }}</td>
                            <td>{{ job.immediately|humanizeBoolean }}</td>
                            <td>
                                {% if is_granted('ROLE_ADMIN_JOB_REPORT') %}
                                    {% if(job.lastStatus == constant('AppBundle\\Constant\\Job::STATUS_IN_PROGRESS')) %}
                                        <a class="btn btn-primary disabled">Rapport</a>
                                    {% else %}
                                        <a href="{{ path('app.admin.job.report', {'id': job.id}) }}" class="btn btn-primary">
                                            Rapport
                                        </a>
                                    {% endif %}
                                {% endif %}

                                {% if is_granted('ROLE_ADMIN_JOB_EXECUTE') %}
                                    {% if(job.lastStatus == constant('AppBundle\\Constant\\Job::STATUS_IN_PROGRESS')) %}
                                        <a class="btn btn-primary disabled">Exécuter</a>
                                    {% else %}
                                        <form method="POST" action="{{ path('app.admin.job.run_command', {'id' : job.id}) }}" class="d-inline">
                                            <button href="{{ path('app.admin.job.run_command', {'id': job.id}) }}" class="btn btn-primary">
                                                Exécuter
                                            </button>
                                            <input type="hidden" name="_token" value="{{ csrf_token('job' ~ job.id) }}">
                                        </form>
                                    {% endif %}

                                {% endif %}

                                {% if is_granted('ROLE_ADMIN_JOB_DELETE') %}
                                    {% if(job.lastStatus == constant('AppBundle\\Constant\\Job::STATUS_IN_PROGRESS')) %}
                                        <a class="btn btn-primary disabled"><i class="fas fa-trash"></i></a>
                                    {% else %}
                                        {% set deleteFormView = deleteFormsView[job.id] %}
                                        {{ form_start(deleteFormView, {'attr' : {'class' : 'd-inline'}}) }}
                                        <button type="button" class="btn btn-danger warning-delete" data-toggle="modal" data-target="#warningDeleteModal">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        {{ form_end(deleteFormView) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucune tâche plani n'a été enregistré</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
