{% extends 'course_info/layout.html.twig' %}

{% block subContent %}
    <div style="margin-top: -0.5rem; margin-left: -7.5px; margin-right: -7.5px">
        {% include 'course_info/activities/view/sidebar_sections.html.twig' %}
        {% if activeSection is not null %}
            <div id="activity-content" class="col-sm p-0" style="width: calc(100% - 250px); left: 250px">
                {% include 'course_info/activities/view/activity_content.html.twig' %}
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3 text-black-50">Activités</h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            {% if activityTypes is not empty %}
                                {% for activityType in activityTypes %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if loop.first %}active{% endif %}" href="#tab_{{ activityType.id }}" data-toggle="tab">{{ activityType.label }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-body p-0">
                        <div class="tab-content">
                            {% for activityType in activityTypes %}
                                <div id="tab_{{ activityType.id }}" class="tab-pane {% if loop.first %}active{% endif %}">
                                    <div class="activity-carousel">
                                        <button class="activity-carousel-prev btn btn-link">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <div class="activity-carousel-items">
                                            {% for activity in activities %}
                                                {% if activity.activityTypes is not empty and activityType in activity.activityTypes %}
                                                    <a class="m-auto modal-action"
                                                       data-action-title="Ajouter une activité"
                                                       data-action-url="{{ path("course_activities_add_activity", {'sectionId': activeSection.id, 'activityId': activity.id}) }}">
                                                        <div class="activity-carousel-item text-center d-flex shadow">
                                                            <div class="m-auto">{{ activity.label }}</div>
                                                        </div>
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <button class="activity-carousel-next btn btn-link">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        /**
         * calculates the maximum position to which the carousel can translate to the left
         * @returns {number}
         */
        function getTranslationMax()
        {
            let $carousel_items_width = $('.activity-carousel-items').width();
            let translation_max = ($carousel_items_width - ($('#activity-content').width() -100)) * -1;
            if(translation_max > 0)
            {
                translation_max = 0;
            }
            return translation_max;
        }
        /**
         * Show/hide the carousel's buttons according to the size of the carousel compared to the size of the window
         */
        function toggleCarouselButton()
        {
            if(getTranslationMax() < 0)
            {
                $('.activity-carousel').removeClass('justify-content-center');
                $('.activity-carousel-prev').show();
                $('.activity-carousel-next').show();
            }else{
                $('.activity-carousel').addClass('justify-content-center');
                $('.activity-carousel-prev').hide();
                $('.activity-carousel-next').hide();
            }
        }

        $(document).ready(function() {
            $('#menu-activities').addClass('active');
            $('#menu-activities').addClass('border-bottom-3 border-white');
            $('#content-{{ contentName|default('default') }}').addClass('p-0');

            /**
             * Init carousel values
             */
            let translation = 0;
            toggleCarouselButton();
            /**
             * Show/hide the carousel's buttons when resizing th window
             */
            $(window).resize(function () {
                toggleCarouselButton();
                $('.activity-carousel-items').css('transform', 'translateX(0px)');
            });
            /**
             * Translate the carousel to the left
             */
            $('.activity-carousel-prev').click(function () {
                translation+= $('#activity-content').width()/2;
                if(translation > 0) {
                    translation = 0;
                }
                $('.activity-carousel-items').css('transform', 'translateX(' + translation + 'px)');
            });
            /**
             * Translate the carousel to the right
             */
            $('.activity-carousel-next').click(function () {
                let translation_max = getTranslationMax();
                translation-= $('#activity-content').width()/2;
                if(translation < translation_max) {
                    translation = translation_max;
                }
                $('.activity-carousel-items').css('transform', 'translateX(' + translation + 'px)');
            });
        });
    </script>
{% endblock %}
