{% extends 'course_info/layout.html.twig' %}

{% block subContent %}
    <div style="margin-top: -0.5rem; margin-left: -7.5px; margin-right: -7.5px">
        <div class="bg-dark text-center p-3 col-sm" style="position: absolute; width: 250px; min-height: calc(100vh - 5.4rem - 3px);">
            <h5>Sections</h5>
            <hr class="mb-2">
            {% if courseInfo.courseSections is empty %}
                <div class="mb-1 text-warning">
                    Aucune section n'a été créée
                </div>
            {% else %}
                <ul class="nav nav-pills flex-column">
                {% for section in courseInfo.courseSections %}
                    <li class="nav-item {% if section is same as (activeSection) %}active{% endif %}">
                        <a class="d-inline-block text-truncate nav-link menu-tab text-white align-middle" href="#">
                            {{ section.title }}
                        </a>
                        <button class="btn dropdown-icon float-right text-white" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i> </button>
                        <div class="dropdown-menu">
                            <button type="button" class="dropdown-item modal-action text-center"
                                    data-action-title="Modifier une section"
                                    data-action-url="{{ path('course_activities_edit_section', {'id': courseInfo.id, 'sectionId': section.id}) }}">
                                Modifier
                            </button>
                            <button type="button" class="dropdown-item modal-action text-center"
                                    data-action-title="Supprimer une section"
                                    data-action-url="{{ path('course_activities_remove_section', {'id': courseInfo.id, 'sectionId': section.id}) }}">
                                Supprimer
                            </button>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <hr class="mb-2">
            <div class="mb-1">
                <button type="button" class="btn btn-link modal-action p-0 text-primary"
                        data-action-title="Ajouter une section"
                        data-action-url="{{ path('course_activities_add_section', {'id': courseInfo.id}) }}">
                    <i class="fas fa-plus-circle"></i> Ajouter une section
                </button>
            </div>
        </div>
        <div id="activity-content" class="col-sm p-0" style="width: calc(100% - 250px); left: 250px">
            <div style="min-height: 300px;" class="bg-danger mb-2">

            </div>

            <div class="card">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3 text-black-50">Activités</h3>
                    <ul class="nav nav-pills ml-auto p-2">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab_1" data-toggle="tab">Tab 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab_2" data-toggle="tab">Tab 2</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div id="tab_1" class="tab-pane active">
                            <div class="activity-carousel">
                                <button class="activity-carousel-prev btn btn-link">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                                <div class="activity-carousel-items">
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test1</h3>
                                            <h6>Test2</h6>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test1</h3>
                                            <h6>Test2</h6>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test1</h3>
                                            <h6>Test2</h6>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test1</h3>
                                            <h6>Test2</h6>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test1</h3>
                                            <h6>Test2</h6>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test1</h3>
                                            <h6>Test2</h6>
                                        </div>
                                    </a>
                                </div>
                                <button class="activity-carousel-next btn btn-link">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                        <div id="tab_2" class="tab-pane">
                            <div class="activity-carousel">
                                <button class="activity-carousel-prev btn btn-link">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                                <div class="activity-carousel-items">
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test3</h3>
                                            <h6>Test4</h6>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test3</h3>
                                            <h6>Test4</h6>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test3</h3>
                                            <h6>Test4</h6>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test3</h3>
                                            <h6>Test4</h6>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test3</h3>
                                            <h6>Test4</h6>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="activity-carousel-item text-center">
                                            <h3>Test3</h3>
                                            <h6>Test4</h6>
                                        </div>
                                    </a>
                                </div>
                                <button class="activity-carousel-next btn btn-link">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        /**
         * calculates the maximum position to which the carousel can translate to the left
         * @returns {number}
         */
        function getTranslationMax()
        {
            let $carousel_items_width = $('.activity-carousel-items').width();
            let translation_max = ($carousel_items_width - ($('#activity-content').width() -100)) * -1;
            if(translation_max > 0)
            {
                translation_max = 0;
            }
            return translation_max;
        }
        /**
         * Show/hide the carousel's buttons according to the size of the carousel compared to the size of the window
         */
        function toggleCarouselButton()
        {
            if(getTranslationMax() < 0)
            {
                $('.activity-carousel').removeClass('justify-content-center');
                $('.activity-carousel-prev').show();
                $('.activity-carousel-next').show();
            }else{
                $('.activity-carousel').addClass('justify-content-center');
                $('.activity-carousel-prev').hide();
                $('.activity-carousel-next').hide();
            }
        }

        $(document).ready(function() {
            $('#menu-activities').addClass('active');
            $('#menu-activities').addClass('border-bottom-3 border-white');
            $('#content-{{ contentName|default('default') }}').addClass('p-0');

            /**
             * Init carousel values
             */
            let translation = 0;
            toggleCarouselButton();
            /**
             * Show/hide the carousel's buttons when resizing th window
             */
            $(window).resize(function () {
                toggleCarouselButton();
                $('.activity-carousel-items').css('transform', 'translateX(0px)');
            });
            /**
             * Translate the carousel to the left
             */
            $('.activity-carousel-prev').click(function () {
                translation+= $('#activity-content').width()/2;
                if(translation > 0) {
                    translation = 0;
                }
                $('.activity-carousel-items').css('transform', 'translateX(' + translation + 'px)');
            });
            /**
             * Translate the carousel to the right
             */
            $('.activity-carousel-next').click(function () {
                let translation_max = getTranslationMax();
                translation-= $('#activity-content').width()/2;
                if(translation < translation_max) {
                    translation = translation_max;
                }
                console.log(translation, translation_max);
                $('.activity-carousel-items').css('transform', 'translateX(' + translation + 'px)');
            });
        });
    </script>
{% endblock %}
