{{ form_start(form) }}
    {{ form_row(form.year) }}
    {{ form_row(form.title) }}
    {{ form_row(form.structure) }}
    <button type="submit" class="btn btn-primary float-right">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}