{% extends 'admin_layout.html.twig' %}
{% set h1 = "Ajouter un campus"%}
{% set href = path('app.admin.campus.index') %}

{% block subContent %}

    <div class="card card-primary">
        <!-- /.card-header -->
        <!-- form start -->
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form.label) }}
            <div class="custom-control custom-switch">
                {{ form_widget(form.synchronized) }}
                {{ form_label(form.synchronized) }}
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}