{% extends 'course_info/layout.html.twig' %}

{% block subContent %}

    <div class="card my-2 shadow card-syllabus"
         data-view-url="{{ path('course_presentation_general_view', {'id': courseInfo.id }) }}"
         data-form-url="{{ path('course_presentation_general_form', {'id': courseInfo.id }) }}"
    >
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h3>Informations générales</h3>
                <button type="button" class="edit-button btn btn-primary rounded">
                    Modifier
                </button>
            </div>
        </div>
        <div class="card-body">
        </div>
    </div>

    <div id="card-teacher" class="card my-2 shadow card-syllabus"
         data-view-url="{{ path('course_presentation_teachers_view', {'id': courseInfo.id }) }}"
    >
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h3>Équipe enseignante</h3>
                <button type="button" class="btn btn-primary modal-action rounded"
                        data-action-title="Ajouter un enseignant"
                        data-action-url="{{ path('course_presentation_teachers_form', {'id': courseInfo.id }) }}">
                    Ajouter un enseignant
                </button>
            </div>
        </div>
        <div class="card-body">
        </div>
    </div>

    <div class="card my-2 shadow card-syllabus"
         data-view-url="{{ path('course_presentation_teaching_mode_view', {'id': courseInfo.id }) }}"
         data-form-url="{{ path('course_presentation_teaching_mode_form', {'id': courseInfo.id }) }}"
    >
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h3>Mode d'enseignement</h3>
                <button type="button" class="edit-button btn btn-primary rounded">
                    Modifier
                </button>
            </div>
        </div>
        <div class="card-body">
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#menu-presentation').addClass('active');
            $('#menu-presentation').addClass('border-bottom-3 border-white');
        });
    </script>
{% endblock %}