{{ form_start(form, {'attr': {'class': 'form-focus'}}) }}
{{ form_errors(form) }}
{{ form_label(form.mccAdvice) }}
<small class="text-muted">
    {{ 'app.evaluation.form.example' | trans }}
</small>
{{ form_errors(form.mccAdvice) }}
{{ form_widget(form.mccAdvice) }}
<div class="mt-2">
    <button type="submit" class="submit-button btn button-orange submit" data-url="{{ path('app.course_info.evaluation.specifications', {'id': courseInfo.id}) }}">
        {{ 'app.evaluation.form.save' | trans }}
    </button>
    <button type="button" class="cancel-button btn btn-link text-dark" data-url="{{ path('app.course_info.evaluation.specifications', {'id': courseInfo.id}) }}">
        <u>{{ 'app.evaluation.form.cancel' | trans }}</u>
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form) }}