{{ form_start(form, {'attr': {'class': 'form-focus'}}) }}
{{ form_errors(form) }}
<label class="required font-weight-bold">
    Précisions (facultatif)
</label>
<small class="text-muted">
    Exemple : informations sur les examens, le plagiat, matériels interdits, pénalités de retard, d'absences, d'orthographe, …
</small>
{{ form_errors(form.mccAdvice) }}
{{ form_widget(form.mccAdvice) }}
<div class="mt-2">
    <button type="submit" class="submit-button btn btn-primary submit rounded" data-url="{{ path('app.course_info.evaluation.specifications', {'id': courseInfo.id}) }}">
        Sauvegarder
    </button>
    <button type="button" class="cancel-button btn btn-secondary rounded" data-url="{{ path('app.course_info.evaluation.specifications', {'id': courseInfo.id}) }}">
        Annuler
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form) }}