{% extends 'course_info/layout.html.twig' %}
{% block modals %}
    {{ parent() }}
    <div class="modal modal-initialized fade" id="courseInfoDuplicationModal" style="display: none;" aria-hidden="true"
         data-show="{{ isFormValid ? "false" : "true" }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'app.dashboard.modal.title' | trans }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                {{ form_start(duplicationForm) }}
                <div class="modal-body">
                    {{ form_errors(duplicationForm) }}
                    {{ form_label(duplicationForm.to) }}
                    {{ form_widget(duplicationForm.to) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'app.dashboard.modal.close' | trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'app.dashboard.modal.duplicate' | trans }}</button>
                </div>
                {{ form_end(duplicationForm) }}
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}
{% block subContent %}
    <div class="pt-3">
    <div id="card-dashboard" class="card my-2 shadow card-syllabus"
         data-view-url="{{ path('app.course_info.dashboard.dashboard', {'id': courseInfo.id }) }}"
         style="background-color: #F4F6F9;"
    >
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h3>{{ 'app.dashboard.title' | trans }}</h3>
            </div>
        </div>
        <div class="card-body">
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#menu-dashboard').addClass('active');
        });

    </script>
{% endblock %}