{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url': path('app.course_info.dashboard.askAdvice',
    {'id': courseInfo.id })}}) }}
{{ form_errors(form) }}
<div class="row mt-3">
    <div class="col">
        <div>
            <div>
                <label>Expliquez en détail votre demande :</label>
                {{ form_widget(form.description) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-primary rounded" id="create_button">
        Envoyer la demande
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false }) }}