{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.syllabus.list_syllabus' | trans %}
{% block subContent %}

    <div class="card">

        <div class="card-body">

            <div class="border p-3 mb-3">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        {{ form_row(form.title) }}
                        {{ form_row(form.structure) }}
                    </div>
                    <div class="col-lg-6 col-md-12">
                        {{ form_row(form.level) }}
                        {{ form_row(form.year) }}
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{{ 'admin.button.filter' | trans }}</button>
                            <a class="btn btn-danger" href="{{  path('app.admin.syllabus.index')  }}">{{ 'admin.button.reset_filters' | trans }}</a>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>

            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-hover table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.syllabus.title'|trans, 'ci.title') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.syllabus.published_by'|trans, 'p.username') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.syllabus.date'|trans, 'ci.publicationDate') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.syllabus.year'|trans, 'y.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.syllabus.structure'|trans, 's.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.syllabus.code'|trans, 'c.code') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.syllabus.level'|trans, 'ci.level.label') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for courseInfo in pagination %}
                        <tr>
                            <td>
                                {% if is_granted('ROLE_ADMIN_COURSE_VIEW') %}
                                    <a href="{{ path('app.admin.course.show', { 'id' : courseInfo.id }) }}">{{ courseInfo.title }}</a>
                                {% else %}
                                    {{ courseInfo.title }}
                                {% endif %}
                            </td>
                            <td>
                                {% if courseInfo.publisher %}
                                    {{ courseInfo.publisher.firstname }} {{ courseInfo.publisher.lastname }}
                                {% endif %}
                            </td>
                            <td>{{ courseInfo.publicationDate | date('d/m/Y') }}</td>
                            <td>
                                {% if courseInfo.year %}
                                    {{ courseInfo.year.label }}
                                {% endif %}
                            </td>
                            <td>
                                {% if courseInfo.structure %}
                                    {{ courseInfo.structure.label }}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if courseInfo.course %}
                                    {{ courseInfo.course.code }}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% for level in courseInfo.levels %}
                                    {% if not loop.first %}
                                        ,
                                    {% endif %}
                                    {{ level.label }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">{{ 'admin.course.empty_course' | trans }}</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
