<div class="teaching-mode teaching-mode-distant d-none">
    <label>Types d'enseignements standards</label>
    <div class="row mb-3">
        <div class="col-sm" style="max-width: 120px;">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        CM
                    </span>
                </div>
                {{ form_widget(form.teachingCmDist) }}
            </div>
        </div>
        <div class="col-sm" style="max-width: 120px;">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        TD
                    </span>
                </div>
                {{ form_widget(form.teachingTdDist) }}
            </div>
        </div>
    </div>

    <label>Type d'enseignement supplémentaire (facultatif)</label>
    {{ form_errors(form.teachingOtherTypeDist) }}
    <div class="row">
        <div class="col-sm" style="max-width: 120px;">
            {{ form_widget(form.teachingOtherDist) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.teachingOtherTypeDist) }}
        </div>
    </div>
</div>