{{ form_start(form, {'attr': {'class': 'form-focus'}}) }}
{{ form_errors(form) }}
<div class="row mt-2">
    <div class="col-6">
        {{ form_row(form.domains, {label_attr: {class: 'required'}}) }}
        {{ form_row(form.campuses) }}
        <label class="required font-weight-bold">
            {{ 'app.presentation.form.general.level_label' | trans }}
            <div class="help d-inline-block">
                <i class="fas fa-question-circle help-button"></i>
                <span class="help-message">
                    <ul>
                        {{ 'app.presentation.form.general.level.beginner' | trans | raw }}
                        {{ 'app.presentation.form.general.level.intermediary' | trans | raw }}
                        {{ 'app.presentation.form.general.level.advanced' | trans | raw }}
                    </ul>
                </span>
            </div>
        </label>
        <div class="form-group">
            {{ form_errors(form.level) }}
            {{ form_widget(form.level, {label_attr: {class: 'radio-custom'} }) }}
        </div>
    </div>
    <div class="col-6">
        {{ form_row(form.periods) }}
        {{ form_row(form.languages) }}
    </div>
</div>

<div class="row mt-2">
    <div class="col-6">
        {{ form_row(form.mediaType, {label_attr: {class: 'radio-custom'}} ) }}

        <div class="medias-type border p-2">

            <div id="image" class="media-type">
                {{ form_errors(form.image) }}
                <small class="font-weight-bold">{{ 'app.presentation.form.general.file_type' | trans }}</small>
                {{ form_widget(form.image, {label_attr: {class: 'file-custom'} }) }}
                {% if form.vars.data.image is not null %}
                    {% if courseInfo.image == form.vars.data.image %}
                        {% set imgSrc = form.vars.data.image.filename %}
                    {% else %}
                        {% set imgSrc = courseInfo.image %}
                    {% endif %}
                    <img class="img-thumbnail" id="media_image" src="{{ asset('data/' ~ imgSrc) }}">
                {% endif %}
            </div>

            <div id="video" class="media-type">
                <label>
                    {{ 'app.presentation.form.general.add_video' | trans }}
                </label>
                <div class="help d-inline-block">
                    <i class="fas fa-question-circle help-button"></i>
                    <span class="help-message">
                        <p>{{ 'app.presentation.form.general.add_video_info.part1' | trans | raw }}</p>
                        <p>{{ 'app.presentation.form.general.add_video_info.part2' | trans | raw }}</p>
                        <p>{{ 'app.presentation.form.general.add_video_info.part3' | trans | raw }}</p>
                        <p><pre class="mb-0">&lt;iframe ... &gt;&lt;/iframe&gt;</pre></p>
                        <p>{{ 'app.presentation.form.general.add_video_info.part4' | trans }}</p>
                    </span>
                </div>
                {{ form_row(form.video) }}
            </div>
        </div>
    </div>
    <div class="col-6">
        <label class="required font-weight-bold">
            {{ 'app.presentation.form.general.summary' | trans }}
        </label>
        {{ form_errors(form.summary) }}
        {{ form_widget(form.summary) }}
    </div>
</div>
<div class="mt-2">
    <button type="submit" class="submit-button btn btn-primary submit rounded"
            data-url="{{ path('app.course_info.presentation.general', {'id': courseInfo.id}) }}">
        {{ 'app.general.button.save' | trans }}
    </button>
    <button type="button" class="cancel-button btn btn-secondary rounded"
            data-url="{{ path('app.course_info.presentation.general', {'id': courseInfo.id}) }}">
        {{ 'app.general.button.cancel' | trans }}
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form) }}

<script>

    $(document).ready(function () {

        function toggleMediaType() {
            let choice = $('#general_mediaType').find('input[type="radio"]:checked').val();

            $('.media-type').hide();

            if (choice === 'video') {
                $('#video').show();
            } else {
                $('#image').show();
            }
        }

        $(document).on('change', '#general_mediaType', function () {
            toggleMediaType();
        });

        toggleMediaType();

        $('form[name="general"]').find('.select2entity').select2entity();

    });


</script>