{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url': path('app.course_info.presentation.teachers.edit', {'id': courseInfo.id }), 'data-card': 'card-teacher'}}) }}
{{ form_errors(form) }}
{{ form_row(form.teacherSource) }}
{{ form_row(form.login) }}
<div class="form-group row">
    <label class="col-form-label col-sm-auto">{{ 'app.presentation.form.teacher.mail_visibility' | trans }}</label>
    {{ form_widget(form.emailVisibility) }}
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-auto">{{ 'app.presentation.form.teacher.responsible' | trans }}</label>
    {{ form_widget(form.manager) }}
</div>
<div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-primary rounded" id="create_button">
        {{ 'app.general.button.add' | trans }}
    </button>
</div>
{{ form_end(form) }}

<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
<script>
    $(document).ready(function(){
        $('input[data-toggle="toggle"]').bootstrapToggle();

        let select2minimumInputLength = 2;
        $('#teachers_login').select2({
            minimumInputLength: select2minimumInputLength,
            language: 'fr',

            ajax: {
                url: '{{ path('teachers_select2_list') }}',
                dataType: 'json',
                delay: 250,
                data: function (params)
                {
                    return {
                        q: params.term,
                        source: $('#teachers_teacherSource').val()
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    });

</script>
