{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.button.add_domain' | trans %}
{% set href = path('app.admin.domain.index') %}

{% block subContent %}

    <div class="card card-primary">
        <!-- /.card-header -->
        <!-- form start -->
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form.label) }}
            {{ form_row(form.grp) }}
            {{ form_row(form.structures) }}
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">{{ 'admin.button.save' | trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}