{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des languages' %}
{% block subContent %}

    <div class="card">

        <div class="card-body">

            <div class="d-flex justify-content-end pb-3">
                {% include 'action/_language_create.html.twig' %}
            </div>

            <div class="border p-3 mb-3">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        {{ form_row(form.label) }}
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Filtrer</button>
                            <a class="btn btn-danger" href="{{  path('app.admin.language.index')  }}">Réinitialiser les filtres</a>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>

            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.activity.label.label'|trans, 'a.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.activity.label.obsolete'|trans, 'a.obsolete') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for language in pagination %}
                        <tr>
                            <td>
                                {% if is_granted('ROLE_ADMIN_LANGUAGE_UPDATE') %}
                                    <a href="{{ path('app.admin.language.edit', { 'id' : language.id }) }}">{{ language.label }}</a>
                                {% else %}
                                    {{ language.label }}
                                {% endif %}
                            </td>
                            <td>
                                {{ language.obsolete|humanizeBoolean }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucun languagee n'a été trouvé avec ces critères</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
