{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des années' %}
{% block subContent %}

    <div class="card">
        <div class="card-header">
            <a class="btn btn-primary float-right mb-3" href="{{ path('app_admin_year_new') }}">Ajouter une année</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm dataTable">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Année', 'y.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Import', 'y.import') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Editable', 'y.edit') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Année courante', 'y.current') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for year in pagination %}
                        <tr>
                            <td>{{ year.label }}</td>
                            <td>{{ year.import|humanizeBoolean }}</td>
                            <td>{{ year.edit|humanizeBoolean }}</td>
                            <td>{{ year.current|humanizeBoolean }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucune année n'a été enregistrée</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
