{% extends 'base_layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <style>
        body {
            position: initial;
        }
    </style>
{% endblock %}

{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        {#
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('images/default_user.jpeg') }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>
        #}

        {{ include('partial/_admin_sidebar.html.twig') }}
    </div>
{% endblock %}

{% block content %}

    <div class="content-header">
        <div class="container-fluid">
            {% if href is defined %}
                <div class="mb-2">
                    <a class="btn btn-primary"  href="{{ href }}">
                        <i class="fas fa-reply"></i>
                        Revenir à la page précédente
                    </a>
                </div>
            {% endif %}
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ h1|default('Il faut ajouter un h1') }}</h1>
                </div>
                <!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section id="content-{{ contentName|default('default') }}" class="content">
        <div class="container-fluid">
            {% block subContent %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.0
    </div>
    <strong>Copyright © 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
{% endblock %}