{% extends 'base.html.twig' %}
{% block main %}
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        {% block navbar %}{% endblock %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    Langues
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    {% for locale in managed_locales %}
                        <a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale' : locale})) }}" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <div class="media-body">
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> {{ ('app.locale.' ~ locale)|trans }}</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="{{ logoHref|default('#') }}" class="brand-link elevation-4 logo-switch">
            <img src="{{ asset('images/uca-logo-dark-small.png') }}" alt="Logo Syllabus" class="brand-image-xs logo-xs">
            <img src="{{ asset('images/uca-logo-dark.png') }}" alt="Logo Syllabus" class="brand-image-xl logo-xl">
        </a>
        {% block sidebar %}{% endblock %}
    </aside>
    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>
    <footer class="main-footer">
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}