<!DOCTYPE html>
<!--

        Syllabus L@UCA version {{ app_version }}

            ©2019 UNS\DSI\SIL

-->

<html lang="{{ app.request.locale|lower }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="language" content="{{ app.request.locale|upper }}">
        <meta name="description" content="Présentation générale des cours de licence de l'Université Côte d'Azur.">

        <title>
            {% block title %}
                Syllabus UCA
            {% endblock %}
        </title>

        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body class="sidebar-mini layout-navbar-fixed">
        <div id="app" class="wrapper">
            {% block main %}{% endblock %}
            <div id="loading_spinner"></div>

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
                <script>
                    $(document).ready(function () {
                        $("body").on("shown.bs.modal", ".modal", function () {
                            $(this).find('div.modal-dialog').animate("top", $(parent.window.document).scrollTop());
                        });
                    });
                </script>
            {% endblock %}

        </div>
    </body>
</html>
