<!DOCTYPE html>
<!--

        Syllabus L@UCA version {{ app_version }}

            ©2019 UNS\DSI\SIL

-->
{% spaceless %}

{% if in_iframe is not defined %}
    {% set in_iframe = false %}
{% endif %}

{% if in_iframe == false %}
    {% set container_class = 'container' %}
{% else %}
    {% set container_class = 'container-fluid' %}
{% endif %}

{#
{% if form is defined and form is not null %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
{% endif %}
#}

<html lang="{{ app.request.locale|lower }}">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="language" content="{{ app.request.locale|upper }}">
        <meta name="description" content="Présentation générale des cours de licence de l'Université Côte d'Azur.">

        <title>
{% block title %}
            Syllabus UCA
{% endblock %}
        </title>

        <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
{% endblock %}

    </head>

    <body>

{% if in_iframe == false %}
        <header>
        </header>
{% endif %}

        <div class="grid-container">

{% block messages %}
            <div class="{{ container_class }}">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
{% endblock %}

            <main class="{{ container_class }}" role="main">
{% block main %}

{% endblock %}
            </main>

        </div>

{% if in_iframe == false %}
        <footer>
            <a href="http://univ-cotedazur.fr/"
               title="Aller sur le site UCA."
               target="_blank">
                <img src={{ asset('images/uca-logo.svg') }}>
            </a>
        </footer>
{% endif %}

        <div id="loading_spinner"></div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script>

        function addFormToCollection(collection, classes){
            var prototype = collection.data('prototype');
            var index = collection.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            collection.data('index', index+1);
            var form = $(newForm);
            collection.append(form);
            return form;
        }


        function addActionsToForm(form, actions){
            actions = actions || {};
            actions = $.extend({
                remove: true,
                move: false,
            }, actions);

            // Remove
            if(actions.remove === true) {
                var removeFormButton = $('<i class="fas fa-eraser" title="Retirer de la liste."></i>');
                form.prepend(removeFormButton);
                removeFormButton.click(function(){
                    form.fadeOut({
                        always: function(){
                            form.remove();
                        }
                    });
                });
            }

            // Move
            if(actions.move) {
                form.prepend($('<i class="fas fa-arrows-alt-v" title="Glisser / déposer pour modifier l\'ordre."></i>'));
            }
        }

    </script>
{% endblock %}

    </body>

</html>
{% endspaceless %}