<!DOCTYPE html>
<!--

        Syllabus L@UCA version {{ app_version }}

            ©2019 UNS\DSI\SIL

-->

<html lang="{{ app.request.locale|lower }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="{{ app.request.locale|upper }}">
    <meta name="description" content="Présentation générale des cours de licence de l'Université Côte d'Azur.">

    <title>
        {% block title %}
            Syllabus UCA
        {% endblock %}
    </title>

    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="sidebar-mini layout-navbar-fixed control-sidebar-slide-open">
{% block modals %}{% endblock %}
<div class="container-loader">
    <div class="loader">
        <i class="fas fa-circle-notch text-primary fa-2x fa-spin"></i>
    </div>
</div>
{% include 'default/messages.html.twig' %}
<div id="app" class="wrapper">
    {% block main %}{% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        $(document).ready(function () {
            $(document).on('click', '.modal-syllabus', function () {
                var url = $(this).data("url");
                $.ajax({
                    url: url,
                    method: "GET",
                    dataType: "html",
                    success: function (data) {
                        $(this).html(data);
                    }
                });
            });

            /*******
             *
             * Modal
             *
             */

            let $modal_app = $('#modal_app');
            let $modal_app_title = $('#modal_app_title');
            let $modal_app_body = $('#modal_app_body');

            /**
             * Remove modal content after closing
             */

            $modal_app.on('hidden.bs.modal', function () {
                $modal_app_title.empty();
                $modal_app_body.empty();
            });

            /**
             * Load modal content and show it
             */

            $(document).on('click', '.modal-action', function () {
                let title = $(this).data('action-title');
                let url = $(this).data('action-url');
                let event = $(this).data('action-event');
                let confirm = $(this).data('action-confirm');
                if (confirm) {
                    let confirm_button = $(this).data('action-confirm-button');
                    let confirm_message = $(this).data('action-confirm-message');
                    bootbox.confirm({
                        message: confirm_message,
                        buttons: {
                            confirm: {
                                label: confirm_button,
                                className: 'btn btn-danger'
                            },
                            cancel: {
                                label: 'Annuler',
                                className: 'btn btn-outline-dark'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                Syllabus.handleModalAction($modal_app, $modal_app_title, $modal_app_body, title, url, event)
                            }
                        }
                    });
                } else {
                    Syllabus.handleModalAction($modal_app, $modal_app_title, $modal_app_body, title, url, event);
                }
            });

            /**
             * When submitting modal form, use ajax request to post form data
             */

            $(document).on('submit', '.modal-action-form', function (e) {
                e.preventDefault();
                let url = $(this).data('action-url');
                let $card = $('#' + $(this).data("card"));
                let $cardBody = $card.find('.card-body');
                let view = $card.data('view-url');
                let data = $(this).serialize();
                $.post(
                    url,
                    data
                ).done(function (response) {
                    if (Syllabus.handleAjaxResponseModal(response, $modal_app_body)) {
                        $modal_app.modal('hide');
                        $.get(view).done(function (response) {
                            if (Syllabus.handleAjaxResponseModal(response)) {
                                $cardBody.html(response["content"]);
                            }
                        })
                    }
                });
            });

            /**
             * If event is specified, triggers the event after opening the modal
             */

            $modal_app.on('shown.bs.modal', function () {
                let event = $modal_app.data('action-event');
                if (event) {
                    $(document).trigger(event);
                }
            });
        });
    </script>
{% endblock %}
</body>

</html>
