<!DOCTYPE html>
<!--

        Syllabus L@UCA version {{ app_version }}

            ©2019 UNS\DSI\SIL

-->
{% spaceless %}

{% if in_iframe is not defined %}
    {% set in_iframe = false %}
{% endif %}

{% if form is defined and form is not null %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
{% endif %}

<html lang="{{ app.request.locale|lower }}">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="language" content="{{ app.request.locale|upper }}">
        <meta name="description" content="Présentation générale des cours de licence de l'Université Côte d'Azur.">

        <title>
{% block title %}
            Syllabus UCA
{% endblock %}
        </title>

        <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
{% endblock %}

    </head>

    <body>

        <header>
        </header>

        <div class="grid-container">

{% block messages %}
            <div class="container">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
{% endblock %}

            <main class="container" role="main">
{% block main %}

{% endblock %}
            </main>

        </div>

{% if in_iframe == false %}
        <footer>
            <a href="http://univ-cotedazur.fr/"
               title="Aller sur le site UCA."
               target="_blank">
                <img src={{ asset('images/uca-logo.svg') }}>
            </a>
        </footer>
{% endif %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

    </body>

</html>
{% endspaceless %}