{% extends 'base_layout.html.twig' %}
{% set h1 = 'Liste des syllabus' %}
{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
{% endblock %}
{% block content %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ h1|default('Il faut ajouter un h1') }}</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="container-fluid">
        <div class="card">
            {% for key,course in courses %}
                <h4 class="p-2">
                    {{ key }}
                </h4>
                <table class="table table-hover table-responsive-sm">
                    <thead>
                    <tr>
                        <th>Intitulé</th>
                        <th>Type</th>
                        <th>Code établissement</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for courseInfo in course %}
                        <tr>
                            <td>
                                <a href="{{ path('app.course_info.dashboard.index', { 'id' : courseInfo.id }) }}">{{ courseInfo.title }}</a>
                            </td>
                            <td>
                                {{ courseInfo.course.type }}
                            </td>
                            <td>
                                {{ courseInfo.course.code }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}