{{ form_start(form) }}
    {{ form_row(form.label) }}
    {{ form_row(form.command) }}
    {{ form_row(form.frequencyJobFormat) }}
    <button type="submit" class="btn btn-primary">{{ 'admin.button.save' | trans }}</button>
{{ form_end(form) }}