{% extends 'base_layout.html.twig' %}
{% set h1 = 'credits.title' %}

{% block content %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="pl-4 text-primary">{{ h1|default('Il faut ajouter un h1') | trans }}</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="container-fluid">
        <div class="d-flex">
            <div class="px-5">
                <div class="mb-3">
                    {{ 'credits.description' | trans }}
                </div>
                <h4 class="mb-3">
                    <span class="border-bottom border-primary">{{ 'credits.editor' | trans }}</span>
                </h4>
                <div>
                    <p class="mb-0">{{ 'credits.university.name' | trans }}</p>
                    <p class="mb-0">{{ 'credits.university.address' | trans }}</p>
                    <p>{{ 'credits.university.postal_code' | trans }}</p>
                </div>
                <h4 class="mb-3">
                    <span class="border-bottom border-primary">{{ 'credits.website_gestion' | trans }}</span>
                </h4>
                <div>
                    <p>{{ 'credits.website_developpers' | trans }}</p>
                </div>
                <h4 class="mb-3">
                    <span class="border-bottom border-primary">{{ 'credits.conception' | trans }}</span>
                </h4>
                <div>
                    <p>{{ 'credits.conception_description' | trans }}</p>
                </div>
                <h4 class="mb-3">
                    <span class="border-bottom border-primary">{{ 'credits.link' | trans }}</span>
                </h4>
                <div>
                    <p>{{ 'credits.credits_description' | trans }}</p>
                </div>
                <h4 class="mb-3">
                    <span class="border-bottom border-primary">{{ 'credits.host' | trans }}</span>
                </h4>
                <div>
                    <p>{{ 'credits.host_description' | trans }}</p>
                </div>
                <h4 class="mb-3">
                    <span class="border-bottom border-primary">{{ 'credits.legal_mentions' | trans }}</span>
                </h4>
                <div>
                    <a href="{{ 'credits.legal_mentions_description' | trans }}" target="_blank">{{ 'credits.legal_mentions_description' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
