{% extends 'base_layout.html.twig' %}
{% set h1 = 'app.homepage.my_syllabus_list' %}
{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
{% endblock %}
{% block content %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ h1|default('Il faut ajouter un h1') | trans }}</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="container-fluid">
        <div class="card">
            <div class="mr-auto">
                {% include 'partial/_table_filter.html.twig' with {'form': form, 'formUrl': path('app_index'), 'method' : 'get' } %}
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(courses, 'app.homepage.year'|trans, 'y.id') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(courses, 'app.homepage.title'|trans, 'ci.title') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(courses, 'app.homepage.type'|trans, 'c.type') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(courses, 'app.homepage.establishment_code'|trans, 'c.code') }}</th>
                        <th>{{ 'app.homepage.publication' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for courseInfo in courses %}
                        <tr>
                            <td>
                                {{ courseInfo.year.label }}
                            </td>
                            <td>
                                <a href="{{ path('app.course_info.dashboard.index', { 'id' : courseInfo.id }) }}">
                                    {{ courseInfo.title }}
                                </a>
                            </td>
                            <td>
                                {{ courseInfo.course.type }}
                            </td>
                            <td>
                                {{ courseInfo.course.code }}
                            </td>
                            <td class="text-center">
                                {% if courseInfo.publicationDate is empty %}
                                    <i class="fas fa-times fa-2x text-danger"></i>
                                {% else %}
                                    <i class="fas fa-check fa-2x text-success"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if knp_pagination_render(courses) %}
                <div class="card-footer clearfix">
                    {{ knp_pagination_render(courses) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}