{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des groupes' %}
{% block subContent %}

    <div class="card">
        <div class="card-header">
            {{ form_start(form) }}
            <div class="row ui-front">
                <div class="col-md-2">
                    {{ form_row(form.label) }}
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="btn btn-danger" style="margin-top: 32px" href="{{  path('app_admin_groups_index')  }}">Réinitialiser les filtres</a>
                </div>
                <input type="submit" style="position: absolute; left: -9999px"/>
                {#<div class="col-md-6 col-sm-6">
                    <a class="btn btn-primary float-right" style="margin-top: 32px" href="{{  path('app_admin_structure_new')  }}">Ajouter une structure</a>
                </div>#}
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.groups.label.label'|trans, 'g.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.groups.label.obsolete'|trans, 'g.obsolete') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for groups in pagination %}
                        <tr>
                            {#<td><a href="{{ path('app_admin_year_edit', { 'id' : year.id }) }}">{{ year.label }}</a></td>#}
                            <td>{{ groups.label }}</td>
                            <td>{{ groups.obsolete|humanizeBoolean }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucun group n'a été enregistré</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
