<table class="table table-sm">
    <thead>
    <tr>
        <th>{{ 'admin.import.name' | trans }}</th>
        <th>{{ 'admin.import.mandatory' | trans }}</th>
        <th>{{ 'admin.import.authorized_value' | trans }}</th>
        <th>{{ 'admin.import.description' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for field in fieldsAllowed %}
        <tr>
            <td>{{ field.name }}</td>
            <td>{{ field.required|humanizeBoolean }}</td>
            <td>
                {% for choice in field.choices %}
                    {% if not loop.first %}
                        |
                    {% endif %}
                    {{ choice }}
                {% endfor %}
            </td>
            <td>{{ field.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>