{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.import.users' | trans %}

{% block modals %}
    {{parent()}}
{% endblock %}
{% block subContent %}

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="custom-file">
                            {{ form_label(form.file) }}
                            {{ form_widget(form.file) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">{{ 'admin.button.import' | trans }}</button>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}

            {{ report_render(parsingCsvReport) }}

            {{ report_render(validationReport) }}

            <h5>{{ 'admin.import.csv' | trans }}</h5>
            <ul>
                <li>
                    {{ 'admin.import.description_part1' | trans }}
                </li>
                <li>
                    {{ 'admin.import.description_part2' | trans }}
                </li>
                <li>
                    {{ 'admin.import.description_part3' | trans }}
                </li>
                <li>
                    {{ 'admin.import.description_part4' | trans }}
                </li>
            </ul>

            <p>
                {{ 'admin.import.example' | trans }}<br>
                {{ 'admin.import.user_example_part1' | trans }}<br>
                {{ 'admin.import.user_example_part2' | trans }}<br>
            </p>

            {% include 'import/_fields_allowed.html.twig' %}

        </div>
    </div>
{% endblock %}