{% extends 'ajax.html.twig' %}

{% block main %}
    {{ form_start(form) }}

    <div class="row mt-3">
        <div class="col">
            <h6 class="my-3">
                Espace pour laisser un message à vos étudiants (encouragements, derniers conseils...)
            </h6>
            {{form_widget(form.closingRemarks)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="row">
                <div class="col">
                    {{ form_widget(form.closingVideo) }}
                    <label alt="URL" placeholder="URL"></label>
                </div>
                <div class="col-md-auto">
                    <button id="media_closing_video_preview" class="btn btn-primary btn-sm" type="button">Prévisualiser</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="media_closing_video_iframe" class="embed-responsive-item" src="{{ form.vars.value.closingVideo }}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-outline-primary btn-block submit" type="submit">
                <i class="fas fa-save"></i>
                Enregistrer
            </button>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    <script>

        function toggleVideo(){
            var video = $("#media_closing_video_iframe");
            var container = video.parent();
            if(video.attr('src')){
                container.show();
            }else{
                container.hide();
            }
        }

        $(document).ready(function() {

            /**
             * Init video
             */
            toggleVideo();

            /**
             * Load video in iframe when click on preview
             */
            $("#media_closing_video_preview").on('click', function(){
                $("#media_closing_video_iframe").attr("src", $("#edit_closing_remarks_course_info_closingVideo").val());
                toggleVideo();
            });

            /**
             * Submit the form
             */
            $("form[name='edit_closing_remarks_course_info']").submit(function(e){

                var form = $(this)[0];

                e.preventDefault();

                Syllabus.updatePanelEditors(form);

                SILTools.spinner.fadeIn( {
                    always: function(){
                        $.ajax({
                            type: 'POST',
                            enctype: 'multipart/form-data',
                            processData: false,  // Important!
                            contentType: false,
                            url: '{{ path('save_closing_remarks_course_info', { 'id': courseInfo.id })|escape('js') }}',
                            data: new FormData(form),
                            cache: false,
                            timeout: 600000
                        }).done(function(response){
                            //response.renderTabId = 'panel_tab-7';
                            Syllabus.handleAjaxResponse(response);
                        }).always(function(){
                            SILTools.spinner.fadeOut( );
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}