{% extends 'ajax.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .fa-caret-down {
            transform: scale(1.1);
            margin-top: -4px;
        }
        .fa-caret-down[aria-expanded='false'] {
            transform: scale(1.1) rotate(-90deg);
        }

    </style>
{% endblock %}

{% block main %}

    {% form_theme form with [
    'form/sections_field.html.twig',
    'form/activities_field.html.twig',
    'form/evaluations_field.html.twig',
    'form/choices_activities_field.html.twig'
    ] %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            <button type="button" id="addSectionButton"
                    class="btn btn-primary btn-block btn-sm">
                <i class="fas fa-plus-circle"></i>
                Ajouter une section
            </button>
        </div>
    </div>

    {{ form_widget(form.sections) }}

    <hr>

    <div class="row">
        <div class="col container-evaluations">
            <div class="row">
                <div class="col">
                    <strong>Evaluation Terminale</strong>
                </div>
            </div>
            <div class="row">
                <div class="col border ml-3 mr-3 p-1">
                    {{ form_widget(form.ctEvaluations) }}
                </div>
                <div class="col border mr-3 p-1">
                    {{ form_widget(form.evaluations) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-outline-primary btn-block submit" type="submit">
                <i class="fas fa-save"></i>
                Enregistrer
            </button>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    <script>

        /**
         *
         */
        function setActivityInfos(el, data){
            el.find('.activity-label').html(data['label']);
            el.find('select[id$=_activity]').val(data['activity_id']);
            el.addClass(data['classtype']);
        }

        function setEvaluationInfos(el, data){
            el.find('.evaluation-label').html(data['label']);
            el.find('select[id$=_activity]').val(data['activity_id']);
            el.addClass(data['classtype']);
        }

        /**
         * Init activities elements
         */
        function initActivities(container){
            var activitiesClassList = container.find('.list-activities');
            var activitiesCollectionHolder = container.find('.activities');
            var groupName = activitiesCollectionHolder.attr('id');

            // Set data-index
            activitiesCollectionHolder.data('index', activitiesCollectionHolder.find('.activity').length);

            // Activities collection holder sortable
            activitiesCollectionHolder.sortable( {
                group: {
                    name: groupName
                },
                handle: ".activity-collection-move",
                sort: true,
                animation: 150,
                onAdd: function(e){
                    var item = $(e.item);
                    var form = addFormToCollection(activitiesCollectionHolder);
                    var label = item.find('input.activity-label').val();
                    var activity_id = item.find("input.activity-id").val();
                    var type = item.find("input.activity-type").val();
                    var mode = item.find("input.activity-mode").val();
                    var size = item.find("input.activity-grp").val();
                    var classtype = item.find("input.activity-class").val();
                    setActivityInfos(form, {
                        'label': label,
                        'activity_id': activity_id,
                        'type': type,
                        'mode': mode,
                        'size': size,
                        'classtype': classtype
                    });
                    form.find('i.fa-caret-down').attr('aria-expanded', 'true');
                    form.find('.collapse').addClass('show');
                    item.replaceWith(form);
                }
            } );

            // Activities lists sortable
            activitiesClassList.sortable( {
                group: {
                    name: groupName,
                    pull: 'clone',
                    put: false
                },
                sort: false,
                animation: 150
            } );

            // Remove a activity from collection
            activitiesCollectionHolder.on('click', '.activity-collection-remove', function(){
                if(confirm("Êtes-vous sûr(e) de vouloir supprimer cette activité ?")) {
                    var form = $(this).closest(".activity");
                    form.fadeOut({
                        always: function () {
                            form.remove();
                        }
                    });
                }
            });
        }


        /**
         *
         */
        $(document).ready(function(){
            /**
             * Init sections collection
             */
            var sectionsCollectionHolder = $('#sections');
            sectionsCollectionHolder.data('index', sectionsCollectionHolder.find('li.section').length);
            sectionsCollectionHolder.sortable( {
                group: {
                    name: "sections",
                },
                handle: ".section-collection-move",
                sort: true,
                animation: 150
            } );

            /**
             * Add a section when button click
             */
            $('#addSectionButton').click(function(){
                var form = addFormToCollection(sectionsCollectionHolder);
                initActivities(form.find('.container-activities'));
                form.find('input[id$=_title]').focus();
            });

            /**
             * Remove a section from collection
             */
            sectionsCollectionHolder.on('click', '.section-collection-remove', function(){
                if(confirm("Êtes-vous sûr(e) de vouloir supprimer cette section ?")) {
                    var form = $(this).closest("li.section");
                    form.fadeOut({
                        always: function () {
                            form.remove();
                        }
                    });
                }
            });




            /**
             * Init evaluations collection
             */
            var evaluationsClassList = $('.list-ct-evaluations');
            var evaluationsCollectionHolder = $('#evaluations');
            evaluationsCollectionHolder.data('index', evaluationsCollectionHolder.find('.evaluation').length);

            // Evaluations collection holder sortable
            evaluationsCollectionHolder.sortable( {
                group: {
                    name: "evaluations"
                },
                handle: ".evaluation-collection-move",
                sort: true,
                animation: 150,
                onAdd: function(e){
                    var item = $(e.item);
                    var form = addFormToCollection(evaluationsCollectionHolder);
                    var label = item.find('input.activity-label').val();
                    var activity_id = item.find("input.activity-id").val();
                    var type = item.find("input.activity-type").val();
                    var mode = item.find("input.activity-mode").val();
                    var size = item.find("input.activity-grp").val();
                    var classtype = item.find("input.activity-class").val();
                    setEvaluationInfos(form, {
                        'label': label,
                        'activity_id': activity_id,
                        'type': type,
                        'mode': mode,
                        'size': size,
                        'classtype': classtype
                    });
                    item.replaceWith(form);
                }
            } );

            // Evaluations lists sortable
            evaluationsClassList.sortable( {
                group: {
                    name: "evaluations",
                    pull: 'clone',
                    put: false
                },
                sort: false,
                animation: 150
            } );

            /**
             * Remove a evaluation from collection
             */
            evaluationsCollectionHolder.on('click', '.evaluation-collection-remove', function(){
                if(confirm("Êtes-vous sûr(e) de vouloir supprimer cette évaluation ?")) {
                    var form = $(this).closest("div.evaluation");
                    form.fadeOut({
                        always: function () {
                            form.remove();
                        }
                    });
                }
            });



            /**
             * Call initActivities function for all activities container
             */
            $('.container-activities').each(function(){
                initActivities($(this));
            });

            /**
             * Submit the form
             */
            $("form[name='edit_activities_course_info']").submit(function(e){
                e.preventDefault();

                for ( instance in CKEDITOR.instances ) {
                    CKEDITOR.instances[instance].updateElement();
                }

                var form = $(this);
                //var data = new FormData(form);

                // Set sections order
                sectionsCollectionHolder.find('li.section').each(function(order){
                    // Set section order
                    $(this).find("input[id$='_order']").each(function(){
                        if($(this).attr("id").match(/^edit_activities_course_info_sections_[\d]+_order/)){
                            $(this).val(order+1);
                        }
                    });
                    // Set activities order
                    $(this).find(".activity").each(function(order){
                        $(this).find("input[id$='_order']").val(order+1);
                    });
                });

                // Set evaluations order
                evaluationsCollectionHolder.find('div.evaluation').each(function(order){
                    $(this).find("input[id$='_order']").val(order+1);
                });


                SILTools.spinner.fadeIn( {
                    always: function(){
                        $.ajax({
                            type: 'POST',
                            //enctype: 'multipart/form-data',
                            //processData: false,  // Important!
                            //contentType: false,
                            url: '{{ path('save_activities_course_info', { 'id': courseInfo.id })|escape('js') }}',
                            data: form.serialize(),
                            //cache: false,
                            //timeout: 600000
                        }).done(function(response){
                            if(response.type !== undefined && response.message !== undefined) {
                                SILTools.alert(response.type, response.message, false);
                            }
                        }).always(function(){
                            SILTools.spinner.fadeOut( );
                        });
                    }
                });
            });

        });

    </script>
{% endblock %}