{% extends 'ajax.html.twig' %}

{% block main %}

    {{ form_start(form) }}
    <button type="button" id="addSectionButton"
            class="btn btn-outline-primary btn-block btn-sm">
        Nouvelle section
    </button>
    <ul class="list-group" id="sections"
        data-prototype="{{ form_widget(form.sections.vars.prototype)|e('html_attr') }}">
        {% for section in form.sections %}
            <li class="list-group-item section">
                {{ form_row(section.order) }}
                {{ form_row(section.title) }}
                {{ form_row(section.type) }}
                {{ form_row(section.description) }}
                <ul class="list-group activities"
                    data-section="{{ section.vars.value.id }}"
                    data-prototype="{{ form_widget(section.activities.vars.prototype)|e('html_attr') }}">
                    {% for activity in section.activities %}
                        <li class="list-group-item activity">
                            {{ form_row(activity.id) }}
                            <span>
                            {{ activity.vars.value.title }}
                        </span>
                            {{ form_row(activity.description) }}
                            {{ form_row(activity.order) }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    {{ form_widget(form._token) }}
    <button class="btn btn-outline-secondary btn-block submit" type="submit">
        Save
    </button>
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}

{% block javascripts %}

    <script>

        /**
         *
         */
        $(document).ready(function(){
            var sectionsCollectionHolder = $('#sections');
            var activitiesCollectionHolder = $('.activities');

            sectionsCollectionHolder.data('index', sectionsCollectionHolder.find('li.section').length);
            activitiesCollectionHolder.data('index', activitiesCollectionHolder.find('li.activity').length);

            sectionsCollectionHolder.find('li.section').each(function(){
                addActionsToForm($(this), {move: true});
            });
            activitiesCollectionHolder.find('li.activity').each(function(){
                addActionsToForm($(this), {move: true});
            });

            sectionsCollectionHolder.sortable( {
                group: {
                    name: "sections",
                },
                handle: ".fa-arrows-alt-v",
                sort: true,
                animation: 150
            } );
            activitiesCollectionHolder.sortable( {
                group: {
                    name: "activities",
                },
                handle: ".fa-arrows-alt-v",
                sort: true,
                animation: 150
            } );

            $('#addSectionButton').click(function(){
                var form = addFormToCollection(sectionsCollectionHolder, 'list-group-item section');
                addActionsToForm(form, {move: true});
            });

            $("form[name='edit_activities_course_info']").submit(function(e){
                e.preventDefault();
                // Set elements order
                sectionsCollectionHolder.find('li.section').each(function(order){
                    // Set section order
                    $(this).find("input[id$='_order']").each(function(){
                        if($(this).attr("id").match(/^edit_activities_course_info_sections_[\d]+_order/)){
                            $(this).val(order+1);
                        }
                    });
                    // Set activities order
                    $(this).find("li.activity").each(function(order){
                        $(this).find("input[id$='_order']").val(order+1);
                    });
                });

                $.ajax({
                    type: 'POST',
                    url: '{{ path('save_activities_course_info', { 'id': courseInfo.id })|escape('js') }}',
                    data: $(this).serialize()
                }).done(function(){
                    alert('done');
                });
            });

        });

    </script>
{% endblock %}