{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <ul class="teachers" data-prototype="{{ form_widget(form.teachers.vars.prototype)|e('html_attr') }}">
        {%  for teacher in form.teachers %}
            <li>{{ form_row(teacher.firstname) }}</li>
        {% endfor %}
    </ul>
    {{ form_widget(form) }}
    <button class="btn btn-outline-secondary btn-block submit" type="button">
        Save
    </button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        /**
         *
         * @param collectionHolder
         * @param newLink
         */
        function addTeacherForm(collectionHolder, newLink){
            var prototype = collectionHolder.data('prototype');
            var index = collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            collectionHolder.data('index', index+1);
            newLink.before($('<li></li>').append(newForm));
            addTeacherFormDeleteLink(newForm);
        }

        /**
         *
         * @param teacherForm
         */
        function addTeacherFormDeleteLink(teacherForm){
            var removeFormButton = $('<button type="button">Delete</button>');
            teacherForm.append(removeFormButton);
            removeFormButton.click(function(e){
                teacherForm.remove();
            });
        }

        $(document).ready(function(){
            var addTeacherButton = $('<button type="button" class="add_teacher_link">Add a teacher</button>');
            var newTeacherLink = $('<li></li>').append(addTeacherButton);
            var teachersCollectionHolder = $('ul.teachers');
            teachersCollectionHolder.append(newTeacherLink);
            teachersCollectionHolder.data('index', teachersCollectionHolder.find(':input').length);
            teachersCollectionHolder.find('li').each(function(){
                addTeacherFormDeleteLink($(this));
            });

            addTeacherButton.click(function(){
                addTeacherForm(teachersCollectionHolder, newTeacherLink);
            });



            $('.submit').click(function(){
                $.ajax({
                    type: 'POST',
                    url: '{{ path('save_presentation_course_info', { 'id': courseInfo.id })|escape('js') }}',
                    data: $(this).closest('form').serialize()
                }).done(function(){
                    alert('done');
                }).fail(function(){
                    alert('fail');
                });
            });
        });
    </script>
{% endblock %}