{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Modifier un cours' %}
{% set href = path('app.admin.course.index') %}

{% block subContent %}
    <div class="card card-primary">
        <!-- /.card-header -->
        <!-- form start -->
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form.code) }}
            {{ form_row(form.title) }}
            {{ form_row(form.type) }}
            <div class="custom-control custom-switch">
                {{ form_widget(form.synchronized) }}
                {{ form_label(form.synchronized) }}
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">{{ 'admin.button.edit' | trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

