{% extends 'ajax.html.twig' %}

{% block main %}

    {{ form_start(form) }}
    <button type="button" id="addSectionButton"
            class="btn btn-outline-primary btn-block btn-sm">
        Nouvelle section
    </button>
    <ul class="list-group" id="sections"
        data-prototype="{{ form_widget(form.sections.vars.prototype)|e('html_attr') }}">
    {% for section in form.sections %}
        <li class="list-group-item">
            {{ form_widget(section) }}
        </li>
    {% endfor %}
    </ul>
    {{ form_widget(form._token) }}
    <button class="btn btn-outline-secondary btn-block submit" type="submit">
        Save
    </button>
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}

{% block javascripts %}

    <script>

        /**
         * @param collectionHolder
         */
        function addSectionForm(collectionHolder){
            var prototype = collectionHolder.data('prototype');
            var index = collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            collectionHolder.data('index', index+1);
            var newFormLi = $('<li class="list-group-item"></li>').append(newForm);
            collectionHolder.append(newFormLi);
            addSectionFormDeleteLink(newFormLi);
        }

        /**
         *
         * @param sectionForm
         */
        function addSectionFormDeleteLink(sectionForm){
            var removeFormButton = $('<i class="fas fa-eraser" title="Retirer de la liste."></i>');
            sectionForm.prepend( removeFormButton )
                    .prepend( $( '<i class="fas fa-arrows-alt-v" title="Glisser / déposer pour modifier l\'ordre."></i>' ) );
            removeFormButton.click(function(){
                sectionForm.remove();
            });
        }

        /**
         *
         */
        $(document).ready(function(){
            var sectionsCollectionHolder = $('#sections');
            sectionsCollectionHolder.data('index', sectionsCollectionHolder.find('li').length);
            sectionsCollectionHolder.find('li').each(function(){
                addSectionFormDeleteLink($(this));
            });

            $('#addSectionButton').click(function(){
                addSectionForm(sectionsCollectionHolder);
            });

            $("form[name='edit_activities_course_info']").submit(function(e){
                e.preventDefault();
                $("#sections > li").each(function(order){
                    $(this).find("input[id*='_order']").val(order+1);
                });
                $.ajax({
                    type: 'POST',
                    url: '{{ path('save_activities_course_info', { 'id': courseInfo.id })|escape('js') }}',
                    data: $(this).serialize()
                }).done(function(){
                    alert('done');
                }).fail(function(){
                    alert('fail');
                });
            });

            $('#sections').sortable( {
                    group: {
                        name: "sections",
                    },
                    handle: ".fa-arrows-alt-v",
                    sort: true,
                    animation: 150
                } );

        });

    </script>
{% endblock %}