{% extends 'ajax.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    
    <div class="row mt-3">
        <div class="col">
            <h6 class="my-3">
                Espace pour laisser un message à vos étudiants (encouragements, derniers conseils...)
            </h6>
            {{form_widget(form.closingRemarks)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-outline-primary btn-block submit" type="submit">
                <i class="fas fa-save"></i>
                Enregistrer
            </button>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function() {

            /**
             * Submit the form
             */
            $("form[name='edit_closing_remarks_course_info']").submit(function(e){
                e.preventDefault();

                var form = $(this);

                SILTools.spinner.fadeIn( {
                    always: function(){
                        $.ajax({
                            type: 'POST',
                            url: '{{ path('save_closing_remarks_course_info', { 'id': courseInfo.id })|escape('js') }}',
                            data: form.serialize()
                        }).done(function(response){
                            if(response.type !== undefined && response.message !== undefined) {
                                SILTools.alert(response.type, response.message, false);
                            }
                        }).always(function(){
                            SILTools.spinner.fadeOut( );
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}