{% extends 'ajax.html.twig' %}

{% block main %}
    {% form_theme form with [
    'form/teachers_field.html.twig'
    ] %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row mt-3">
        <div class="col">
            {{ form_widget(form.period) }}
            <label placeholder="Période (facultatif)"></label>
            {{ form_errors(form.domain) }}
            {{ form_widget(form.domain) }}
            <label placeholder="Domaine *"></label>
            {{ form_widget(form.languages) }}
            <label placeholder="En quelle(s) langue(s) est dispensé ce cours (facultatif)"></label>
        </div>
        <div class="col">
            <h6>
                Quel est le niveau de ce cours ? *
            </h6>
            {{ form_errors(form.level) }}
            <ul>
                {{ form_widget(form.level) }}
            </ul>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <h6>
                Résumé *
            </h6>
            {{ form_errors(form.summary) }}
            {{ form_widget(form.summary) }}
        </div>
        <div class="col">
            <h6>
                Intégrer une ressource vidéo (ou audio) ou téléverser un fichier image de présentation du cours, en respectant la règlementation sur les droits d'auteur.&nbsp;*
            </h6>
            {{ form_errors(form.video) }}
            {{ form_errors(form.image) }}
            {{ form_widget(form.mediaType) }}
            {% set imageTabClasses = 'nav-link' %}
            {% set imageContentClasses = 'tab-pane fade' %}
            {% set videoTabClasses = 'nav-link' %}
            {% set videoContentClasses = 'tab-pane fade' %}
            {% if form.vars.value.mediaType == 'video' %}
                {% set videoTabClasses = videoTabClasses ~ ' active' %}
                {% set videoContentClasses = videoContentClasses ~ ' show active' %}
            {% else %}
                {% set imageTabClasses = imageTabClasses ~ ' active' %}
                {% set imageContentClasses = imageContentClasses ~ ' show active' %}
            {% endif %}
            <ul class="nav nav-tabs" id="media_type" role="tablist">
                <li class="nav-item">
                    <a class="{{ imageTabClasses }}" href="#media_image_container" role="tab" data-toggle="tab" data-media-type="image">
                        Image
                    </a>
                </li>
                <li class="nav-item">
                    <a class="{{ videoTabClasses }}" href="#media_video_container" role="tab" data-toggle="tab" data-media-type="video">
                        Vidéo
                    </a>
                </li>
            </ul>
            <div class="tab-content border p-2">
                <div class="{{ imageContentClasses }}" id="media_image_container" role="tabpanel">
                    {{ form_widget(form.image) }}
                    {% set imgSrc = '' %}
                    {% if form.vars.data.image is not null %}
                        {% set imgSrc = asset('data/' ~ form.vars.data.image.filename) %}
                    {% endif %}
                    <img class="img-thumbnail" id="media_image" src="{{ imgSrc }}">
                </div>
                <div class="{{ videoContentClasses }}" id="media_video_container" role="tabpanel">
                    {{ form_widget(form.video) }}
                    <label placeholder="URL"></label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col">
            <div class="row mb-3">
                <div class="col">
                    <strong>Qui fait partie de l'équipe enseignante ?</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    {{ form_widget(form.teacherSearch) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.teacherSource) }}
                    <label placeholder="Source"></label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_errors(form.teachers) }}
                    {{ form_widget(form.teachers) }}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col">
            <div class="row mb-3">
                <div class="col">
                    <strong>Quel est votre mode d'enseignement ? *</strong>
                </div>
            </div>
            <div class="row teaching-hours">
                <div class="col-5 border-right">
                    <div class="row">
                        <div class="col-5">
                            <h6>{{ form_widget(form.teachingMode.children[0]) }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-4 align-self-center">
                            <img style="max-width: 130px;" class="w-100" src="{{ asset('images/in_class_128.png') }}">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-md-auto">
                                    {{ form_widget(form.teachingCmClass) }}
                                    <label placeholder="Heures CM"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto">
                                    {{ form_widget(form.teachingTdClass) }}
                                    <label placeholder="Heures TD"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto">
                                    {{ form_widget(form.teachingTpClass) }}
                                    <label placeholder="Heures TP"></label>
                                </div>
                            </div>
                            {{ form_errors(form.teachingOtherTypeClass) }}
                            <div class="row">
                                <div class="col pr-1">
                                    {{ form_widget(form.teachingOtherClass) }}
                                    <label placeholder="Heures autre"></label>
                                </div>
                                <div class="col pl-1">
                                    {{ form_widget(form.teachingOtherTypeClass) }}
                                    <label placeholder="Type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7 border-left">
                    <div class="row">
                        <div class="col-3">
                            <h6 class="text-capitalize">{{ form_widget(form.teachingMode.children[1]) }}</h6>
                        </div>
                        <div class="col">
                            <small>Présentiel</small>
                        </div>
                        <div class="col">
                            <small>Distanciel</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-3 align-self-center">
                            <img style="max-width: 130px;" class="w-100" src="{{ asset('images/hybrid_128.png') }}">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-md-auto">
                                    {{ form_widget(form.teachingCmHybridClass) }}
                                    <label placeholder="Heures CM"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto">
                                    {{ form_widget(form.teachingTdHybridClass) }}
                                    <label placeholder="Heures TD"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto">
                                    {{ form_widget(form.teachingTpHybridClass) }}
                                    <label placeholder="Heures TP"></label>
                                </div>
                            </div>
                            {{ form_errors(form.teachingOtherTypeHybridClass) }}
                            <div class="row">
                                <div class="col pr-1">
                                    {{ form_widget(form.teachingOtherHybridClass) }}
                                    <label placeholder="Heures autre"></label>
                                </div>
                                <div class="col pl-1">
                                    {{ form_widget(form.teachingOtherTypeHybridClass) }}
                                    <label placeholder="Type"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-md-auto">
                                    {{ form_widget(form.teachingCmHybridDist) }}
                                    <label placeholder="Heures CM"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto">
                                    {{ form_widget(form.teachingTdHybridDist) }}
                                    <label placeholder="Heures TD"></label>
                                </div>
                            </div>
                            {{ form_errors(form.teachingOtherTypeHybridDistant) }}
                            <div class="row">
                                <div class="col pr-1">
                                    {{ form_widget(form.teachingOtherHybridDist) }}
                                    <label placeholder="Heures autre"></label>
                                </div>
                                <div class="col pl-1">
                                    {{ form_widget(form.teachingOtherTypeHybridDistant) }}
                                    <label placeholder="Type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-outline-primary btn-block shadow submit" type="submit">
                <i class="fas fa-save"></i>
                Enregistrer
            </button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script>

        function toogleTeachingModeHours(){
            var teachingMode = $("input[name='edit_presentation_course_info[teachingMode]']:checked").val();
            $("input[data-teaching-mode]").each(function(){
                if($(this).attr('data-teaching-mode') === teachingMode){
                    $(this).prop('disabled', false);
                }else{
                    $(this).prop('disabled', true);
                }
            });
        }


        /**
         * Init pedagogic team
         */
        var teachersCollectionHolder = $('#teachers');
        teachersCollectionHolder.data('index', teachersCollectionHolder.find('li').length);

        /**
         * Init teaching mode hours enable/disable
         */
        toogleTeachingModeHours();

        /**
         * Add a teacher to the pedagogic team
         */
        $( '#edit_presentation_course_info_teacherSearch' ).on( 'select2:select', function( ) {
            $.ajax({
                url: '{{ path('find_course_teacher_json') }}',
                type: 'GET',
                data: {
                    'source': $('#edit_presentation_course_info_teacherSource').val(),
                    'id': $('#edit_presentation_course_info_teacherSearch').val()
                },
                success: function(data){
                    var teacherAlreadyInTeam = false;
                    teachersCollectionHolder.find("input[id*=_id]").each(function(){
                        if($(this).val() === data.id){
                            teacherAlreadyInTeam = true;
                            SILTools.alert({
                                type: 'info',
                                text: "Cette personne fait déjà partie de l'équipe enseignante."
                            });
                        }
                    });
                    if(teacherAlreadyInTeam === false) {
                        var form = Syllabus.addFormToCollection(teachersCollectionHolder);
                        form.find('input[id*=_completeName]').val(data['completeName']);
                        form.find('input[id*=_id]').val(data['id']);
                        form.find('input[id*=_firstname]').val(data['firstname']);
                        form.find('input[id*=_lastname]').val(data['lastname']);
                        form.find('input[id*=_email]').val(data['email']);
                    }
                    $('#edit_presentation_course_info_teacherSearch').find('option').remove();
                    $('#select2-edit_presentation_course_info_teacherSearch-container').html('');
                }
            });
        } );

        /**
         * Remove a teacher form collection
         */
        teachersCollectionHolder.on('click', '.teacher-collection-remove', function(){
            Syllabus.temporaryItem = $(this).closest('li.teacher');
            bootbox.confirm("Confirmez-vous le retrait de cette personne de l'équipe pédagogique ?", function(result){
                Syllabus.removeListElement(Syllabus.temporaryItem);
            })
        });

        /**
         * Change the media type value when clicking on media tab
         */
        $("#media_type > li > a").on('click', function(){
            $("#edit_presentation_course_info_mediaType").val($(this).data('media-type'));
        });

        /**
         * Change the image preview when change image file
         */
        $("#edit_presentation_course_info_image").on('change', function(e){
            var reader = new FileReader();
            reader.onload = function(){
                $("#media_image").attr('src', reader.result);
            }
            reader.readAsDataURL(e.target.files[0]);
        });

        /**
         * Enable/Disable teaching mode hours inputs
         */
        $("input[name='edit_presentation_course_info[teachingMode]']").on('change', function(){
            toogleTeachingModeHours();
        });

        /**
         * Form submission
         */
        $("form[name='edit_presentation_course_info']").submit(function(e){
            Syllabus.submitPanelForm( e, this );
        });

    </script>
{% endblock %}