{% extends 'ajax.html.twig' %}

{% block main %}

    {% form_theme form with [
        'form/equipments_field.html.twig',
        'form/choices_equipments_field.html.twig'
    ] %}


    {{ form_start(form) }}

    <div class="row mt-3">
        <div class="col">
            <h6 class="my-3">
                Matériel obligatoire
            </h6>
            <div class="row">
                <div class="col border ml-3 mr-3 p-1">
                    {{form_widget(form.listEquipments)}}
                </div>
                <div class="col border ml-3 mr-3 p-1">
                    {{form_widget(form.equipments)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h6 class="my-3">
                Ressources pédagogiques
            </h6>
            {{ form_errors(form.educationalResources) }}
            {{form_widget(form.educationalResources)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h6 class="my-3">
                Eléments bibliographiques
            </h6>
            {{ form_errors(form.bibliographicResources) }}
            {{form_widget(form.bibliographicResources)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-outline-primary btn-block shadow submit" type="submit">
                <i class="fas fa-save"></i>
                Enregistrer
            </button>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>

        function setEquipmentInfos(el, data){
            el.find('.equipment-label').html(data['label']);
            el.find('select[id$=_equipment]').val(data['equipment_id']);
            el.addClass(data['classtype']);
        }


        /**
         * Init equipments collection
         */
        var equipmentsClassList = $('.list-equipments');
        var equipmentsCollectionHolder = $('#equipments');
        equipmentsCollectionHolder.data('index', equipmentsCollectionHolder.find('.equipment').length);

        // Equipments collection holder sortable
        equipmentsCollectionHolder.sortable( {
            group: {
                name: "equipments"
            },
            handle: ".equipment-collection-move",
            sort: true,
            animation: 150,
            onAdd: function(e){
                var item = $(e.item);
                var form = Syllabus.addFormToCollection(equipmentsCollectionHolder);
                var label = item.find('input.equipment-label').val();
                var equipment_id = item.find("input.equipment-id").val();
                var classtype = item.find("input.equipment-class").val();
                setEquipmentInfos(form, {
                    'label': label,
                    'equipment_id': equipment_id,
                    'classtype': classtype
                });
                item.replaceWith(form);
            }
        } );

        // Equipments lists sortable
        equipmentsClassList.sortable( {
            group: {
                name: "equipments",
                pull: 'clone',
                put: false
            },
            sort: false,
            animation: 150
        } );

        /**
         * Remove a equipment from collection
         */
        equipmentsCollectionHolder.on('click', '.equipment-collection-remove', function(){
            if(confirm("Êtes-vous sûr(e) de vouloir supprimer cette évaluation ?")) {
                var form = $(this).closest("div.equipment");
                form.fadeOut({
                    always: function () {
                        form.remove();
                    }
                });
            }
        });


        /**
         * Form submission
         */
        $("form[name='edit_equipments_course_info']").submit(function(e){

            Syllabus.submitPanelForm( e, this );

        });

    </script>
{% endblock %}