{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des cours' %}
{% block subContent %}

    <div class="card">

        <div class="card-body">

            <div class="d-flex justify-content-end pb-3">
                {% include 'action/_course_create.html.twig' %}
            </div>

            <div class="border p-3 mb-3">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        {{ form_row(form.code) }}
                    </div>
                    <div class="col-lg-6 col-md-12">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{{ 'admin.button.filter' | trans }}</button>
                            <a class="btn btn-danger" href="{{  path('app.admin.course.index')  }}">{{ 'admin.button.reset_filters' | trans }}</a>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>

            {% if pagination.totalItemCount > 0 %}
                <table class="table table-hover table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.course.label.code'|trans, 'c.code') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.course.label.title'|trans, 'c.title') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.course.label.type'|trans, 'c.type') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.course.label.synchronized'|trans, 'c.synchronized') }}</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in pagination %}
                        <tr>
                            <td>{{ course.code }}</td>
                            <td>
                                {% if is_granted('ROLE_ADMIN_COURSE_VIEW') %}
                                    <a href="{{ path('app.admin.course.show', { 'id' : course.id }) }}">{{ course.title }}</a>
                                {% else %}
                                    {{ course.code }}
                                {% endif %}
                            </td>
                            <td>{{ course.type }}</td>
                            <td>{{ course.synchronized|humanizeBoolean }}</td>
                            <td>
                                {% if is_granted('ROLE_ADMIN_COURSE_VIEW') %}
                                    <a href="{{ path('app.admin.course.show', { 'id' : course.id }) }}" class="btn btn-primary">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN_COURSE_UPDATE') %}
                                    <a href="{{ path('app.admin.course.edit', { 'id' : course.id }) }}" class="btn btn-primary">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">{{ 'admin.course.empty_course' | trans }}</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
