{% extends 'admin_layout.html.twig' %}
{% set h1 = course.title %}

{% block subContent %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Informations</h3>
            <a href="{{ path('app.admin.course.edit', {'id': course.id}) }}" class="btn btn-primary float-right">Modifier</a>
        </div>
        <div class="card-body">
            <dl>
                <dt>
                    Type
                </dt>
                <dd>
                    {{ course.type }}
                </dd>
                <dt>
                    Code
                </dt>
                <dd>
                    {{ course.code }}
                </dd>
                <dt>
                    Synchronisé
                </dt>
                <dd>
                    {{ course.synchronized|humanizeBoolean }}
                </dd>
            </dl>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN_COURSE_INFO_LIST') %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Syllabus associés</h3>
                {% if is_granted('ROLE_ADMIN_COURSE_INFO_CREATE') %}
                    <a href="{{ path('app.admin.course.new_course_info', {'id': course.id}) }}" class="btn btn-primary float-right">Ajouter un syllabus</a>
                {% endif %}
            </div>
            <div class="card-body p-0">
                <table class="table table-hover projects">
                    <thead>
                    <tr>
                        <th>
                            Année
                        </th>
                        <th>
                            Titre
                        </th>
                        <th>
                            Strucutre
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for courseInfo in course.courseInfos %}
                        <tr>
                            <td>
                                {{ courseInfo.year }}
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN_COURSE_INFO_UPDATE') %}
                                    <a href="{{ path('app.course_info.dashboard.index', {'id': courseInfo.id}) }}">
                                        {{ courseInfo.title }}
                                    </a>
                                {% else %}
                                    {{ courseInfo.title }}
                                {% endif %}
                            </td>
                            <td>
                                {{ courseInfo.structure }}
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN_COURSE_INFO_UPDATE') %}
                                    <a href="{{ path('app.course_info.dashboard.index', {'id': courseInfo.id }) }}" class="btn btn-primary">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                {% endif %}

                                {% if is_granted('ROLE_ADMIN_COURSE_INFO_UPDATE') %}
                                    <a href="{{ path('app.admin.course_info.edit', {'id': courseInfo.id }) }}" class="btn btn-primary">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    {% endif %}
{% endblock %}
