{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {% if course.title is defined %}
        • {{ course.title }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <div class="container-fluid">
        <div class="row d-flex flex-row m-3">
            <div class="col-md-6">
                <h3 class="text-justify text-left font-weight-bold">
                    {{course.title}}
                    {{dump(course)}}
                </h3>
            </div>
            <div class="col-md-6">
                {{course.ects}}
                {{course.level}}
                {{course.semester}}
            </div>   
        </div>
        <div class="row d-flex flex-row m-3">
            <div class="col-md-5">
                <p class="text-justify text-left">
                    {{course.summary}}
                </p>
                <p class="text-justify text-left">
                    Equipe enseignante: 
                    {% for teacher in course.courseTeachers %} 
                        {% if loop.last %}
                            {% if teacher.manager == true %}
                                <span class="font-weight-bold"><u> {{ teacher.firstname ~ ' ' ~ teacher.lastname }}</u>. </span>
                            {% else %}
                                <span class="font-weight-bold"> {{ teacher.firstname ~ ' ' ~ teacher.lastname }}. </span>
                            {% endif %}
                        {% else %}
                            {% if teacher.manager == true %}
                                <span class="font-weight-bold"><u> {{ teacher.firstname ~ ' ' ~ teacher.lastname }}</u>, </span>
                            {% else %}
                                <span class="font-weight-bold"> {{ teacher.firstname ~ ' ' ~ teacher.lastname }}, </span>
                            {% endif %}
                        {% endif %}
                    {% endfor %} 
                </p>
                <p class="text-justify text-left">
                    Période : <span class="font-weight-bold"> {{course.period}} </span>
                </p>
            </div>
            <div class="col-md-7">
                {% if course.mediaType == "video" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src={{course.video}} allowfullscreen></iframe>
                    </div>
                {% endif %}
                {% if course.mediaType == "image" %}
                    <img src={{course.image}} class="img-fluid" alt="Responsive image">
                {% endif %}
            </div>
        </div>
        <div class="row d-flex flex-row justify-content-around ">
            <div class="col-md-4 media d-flex align-items-center">
                <img class="img-thumbnail m-3" src="https://via.placeholder.com/100" alt="...">
                <span class="font-weight-bold media-body"> {{course.structure.campus}} </span>
            </div>
            <div class="col-md-4 media d-flex align-items-center">
                <img class="img-thumbnail m-3" src="https://via.placeholder.com/100" alt="...">
                <span class="font-weight-bold media-body"> {{course.teachingMode}} <br>
                    <span class="font-weight-normal">
                        {% if course.teachingMode == "class" %}
                            {% if course.teachingCmClass != null %}
                                {{ course.teachingCmClass }} CM <br>
                            {% endif %}
                            {% if course.teachingTdClass != null %}
                            {{ course.teachingTdClass}} TD <br>
                        {% endif %}
                            {% if course.teachingTpClass != null %}
                                {{ course.teachingTpClass}} TP
                            {% endif %}
                            {% if course.teachingOtherClass != null %}
                                {{ course.teachingOtherClass}} Autre
                            {% endif %}
                        {% endif %}
                        {% if course.teachingMode == "hybrid" %}
                            {% if course.teachingCmHybridClass != null %}
                                {{ course.teachingCmHybridClass }} CM <br>
                            {% endif %}
                            {% if course.teachingTdHybridClass != null %}
                            {{ course.teachingTdHybridClass}} TD <br>
                        {% endif %}
                            {% if course.teachingTpHybridClass != null %}
                            {{ course.teachingTpHybridClass}} TP
                        {% endif %}
                            {% if course.teachingOtherHybridClass != null %}
                            {{ course.teachingOtherHybridClass}} Autre
                        {% endif %}
                            {% if course.teachingCmHybridDist != null %}
                            {{ course.teachingCmHybridDist }} CM <br>
                        {% endif %}
                            {% if course.teachingTdHybridDist != null %}
                            {{ course.teachingTdHybridDist}} TD <br>
                        {% endif %}
                            {% if course.teachingOtherHybridDist != null %}
                                {{ course.teachingOtherHybridDist}} Autre
                            {% endif %}
                        {% endif %}
                    </span>
                </span>
            </div>
            <div class="col-md-4 media d-flex align-items-center">
                <img class="img-thumbnail m-3" src="https://via.placeholder.com/100" alt="...">
                <span class="font-weight-bold media-body">Mobilité <br> internationale</span>
            </div>
        </div>
        <div class="row d-flex flex-row">
            <div class="col-md-6">
                <h3 class="text-justify text-left font-weight-bold">
                    Objectifs du cours
                </h3>
            </div>
        </div>
        <div class="progress my-3" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row d-flex flex-row">
            <div class="col-md-12 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                <h5 class="m-0">ACQUIS D'APPRENTISSAGE</h5>
            </div>
        </div>
        <div class="row d-flex flex-row">
            <div class="col-md-12 d-flex flex-row justify-content-center align-items-center">
                <h5 class="m-2">A la fin de ce cours, je serai capable de...</h5>
            </div>
        </div>
        <div class="row d-flex flex-row my-3">
            {% for achievement in course.courseAchievements %} 
                <div class="col-md-6 border border-info bg-info text-light rounded d-flex flex-row justify-content-center align-items-center">
                {{achievement.description}}
                </div>
            {% endfor %} 
        </div>
        <div class="row d-flex flex-row justify-content-around">
            <div class="col-md-5 m-1" >
                <div class="col-md-12 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                    <h5 class="m-0">PREREQUIS</h5>
                </div>
                <div class="row d-flex flex-row">
                    <div class="col-md-12 d-flex flex-row justify-content-center align-items-center">
                        <h5 class="m-2">Avant de suivre ce cours, je dois...</h5>
                    </div>
                </div>
                {% for prerequisite in course.coursePrerequisites %} 
                    <div class="row m-3 border border-info bg-info text-light rounded d-flex flex-row justify-content-center align-items-center">
                    {{prerequisite.description}}
                    </div>
                {% endfor %} 
            </div>
            <div class="col-md-5 m-1" >
                <div class="col-md-12 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                    <h5 class="m-0">REMEDIATION / AIDE A LA REUSSITE</h5>
                </div>
                <div class="col-md-12 d-flex flex-row justify-content-center align-items-center">
                    <h5 class="m-2">Si je rencontre des difficultés, je peux...</h5>
                </div>
                    <div class="row m-3 border border-info bg-info text-light rounded d-flex flex-row justify-content-center align-items-center">
                        {{course.tutoringDescription}}
                    </div>
                {# {% for resource in course.courseTutoringResource %} 
                    <div class="row m-3 border border-info bg-info text-light rounded d-flex flex-row justify-content-center align-items-center">
                    {{resource.description}}
                    </div>
                {% endfor %}  #}
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}