{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {% if course.title is defined %}
        • {{ course.title }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
{% if course.course.parents|length != 0 %}
    {% set parent = course.course.parents[0] %}
{% endif %}
{% set year = '2018' %}



    <div class="container-fluid">

        <div class="row d-flex flex-row m-3">

            <nav class="navbar navbar-expand-lg  navbar-dark bg-info border p-0 text-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-light"></span>
                </button> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item d-flex flex-row align-items-center border-right">
                            <a class="nav-link text-light" href="#Presentation">Présentation</a>
                        </li>
                        <li class="nav-item d-flex flex-row align-items-center border-right">
                            <a class="nav-link text-light" href="#Objectifs_cours">Objectifs du cours</a>
                        </li>
                        <li class="nav-item d-flex flex-row align-items-center border-right">
                            <a class="nav-link text-light" href="#Contenu_activites">Contenu et activités</a>
                        </li>
                        <li class="nav-item d-flex flex-row align-items-center border-right">
                            <a class="nav-link text-light" href="#Modalites_evaluation">Modalités d'évaluation</a>
                        </li>
                        <li class="nav-item d-flex flex-row align-items-center border-right">
                            <a class="nav-link text-light" href="#Materiel_ressources">Matériel et ressources</a>
                        </li>
                        <li class="nav-item d-flex flex-row align-items-center border-right">
                            <a class="nav-link text-light" href="#Informations_pratiques">Informations pratiques</a>
                        </li>
                        <li class="nav-item d-flex flex-row align-items-center border-right">
                            <a class="nav-link text-light" href="#Reglementation">Réglementation</a>
                        </li>
                        <li class="nav-item d-flex flex-row align-items-center">
                            <a class="nav-link text-light" href="#Mot_fin">Mot de la fin</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div id="Presentation" class="row d-flex flex-row m-3">
            <div class="col-md-6">
                <h4 class="text-justify text-left font-weight-bold">
                    {{course.title}}
                </h4>
                {# <span>Domaine disciplinaire: {{course.course_domain.domain}} </span> #}
            </div>
            <div class="col-md-6">
                {# {% for parentInfo in parent %}
                    {% for parentInfo in parent.courseInfos %}
                    {% endfor %}
                {% endfor %}  #}
                <div class="row d-flex flex-row align-items-stretch ">
                    {% if course.course.parents|length != 1 %}
                    {% else %}
                        <div class="col-md-6 d-flex flex-row border-left border-dark align-items-center">
                            <span class="font-weight-bold">{{ parent.courseInfos[0].title }}</span>
                        </div>
                    <div class="col-md-3 border-left border-dark">
                        <div class="row d-flex flex-row justify-content-center font-weight-bold"> 
                            <h2 class="m-0">{{parent.courseInfos[0].ects}}</h2> 
                        </div>
                        <div class="row d-flex flex-row justify-content-center"> 
                            ECTS 
                        </div>
                    </div>
                    <div class="col-md-3 border-left border-dark ">
                        <div class="row d-flex flex-row justify-content-center font-weight-bold">
                            <h2 class="m-0">{{ parent.courseInfos[0].course.children|length }}</h2>
                        </div>
                        <div class="row d-flex flex-row justify-content-center"> 
                            UCUE 
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>   
        </div>


        <div class="row d-flex flex-row m-3">
            <div class="col-md-5">
                <p class="text-justify text-left">
                    {{course.summary|raw}}
                </p>
                <p class="text-justify text-left">
                    Equipe enseignante: 
                    {% for teacher in course.courseTeachers %} 
                        {% if loop.last %}
                            {% if teacher.manager == true %}
                                <span class="font-weight-bold"><u> {{ teacher.firstname ~ ' ' ~ teacher.lastname }}</u>. </span>
                            {% else %}
                                <span class="font-weight-bold"> {{ teacher.firstname ~ ' ' ~ teacher.lastname }}. </span>
                            {% endif %}
                        {% else %}
                            {% if teacher.manager == true %}
                                <span class="font-weight-bold"><u> {{ teacher.firstname ~ ' ' ~ teacher.lastname }}</u>, </span>
                            {% else %}
                                <span class="font-weight-bold"> {{ teacher.firstname ~ ' ' ~ teacher.lastname }}, </span>
                            {% endif %}
                        {% endif %}
                    {% endfor %} 
                </p>
                <p class="text-justify text-left">
                    Période : <span class="font-weight-bold"> {{course.period}} </span>
                </p>
            </div>
            <div class="col-md-7">
                {% if course.mediaType == "video" and course.video != null %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src={{course.video}} allowfullscreen></iframe>
                    </div>
                {% endif %}
                {% if course.mediaType == "image" %}
                    <img src={{ asset('data/' ~ course.image) }} class="img-fluid" alt="Responsive image">
                {% endif %}
            </div>
        </div>


        <div class="row d-flex flex-row justify-content-around ">
            <div class="col-md-4 media d-flex align-items-center">
                <i class="fas m-3 fa-4x fa-map-marker-alt"></i>
                <span class="font-weight-bold media-body"> {{course.structure.campus}} </span>
            </div>
            <div class="col-md-4 media d-flex align-items-center">
                {% if course.teachingMode == "class" %}
                    <img class="w-50 mx-3" src="{{ asset('images/presentiel.png') }}">
                {% elseif course.teachingMode == "hybrid" %}
                    <img class="w-50 mx-3" src="{{ asset('images/hybride.png') }}">
                {% endif %}
                <span class="font-weight-bold media-body d-flex flex-column justify-content-center align-items-start"> 
                    <span>{{course.teachingMode}}</span>
                    <span class="font-weight-normal d-flex flex-column justify-content-center align-items-start">
                        {% if course.teachingMode == "class" %}
                            {% if course.teachingCmClass != null %}
                                <span>{{ course.teachingCmClass }} CM</span> 
                            {% endif %}
                            {% if course.teachingTdClass != null %}
                                <span>{{ course.teachingTdClass}} TD</span> 
                        {% endif %}
                            {% if course.teachingTpClass != null %}
                                <span>{{ course.teachingTpClass}} TP</span>
                            {% endif %}
                            {% if course.teachingOtherClass != null %}
                                <span>{{ course.teachingOtherClass}} Autre</span>
                            {% endif %}
                        {% endif %}
                        {% if course.teachingMode == "hybrid" %}
                            {% if course.teachingCmHybridClass != null %}
                                <span>{{ course.teachingCmHybridClass }} CM</span> 
                            {% endif %}
                            {% if course.teachingTdHybridClass != null %}
                                <span>{{ course.teachingTdHybridClass}} TD</span> 
                        {% endif %}
                            {% if course.teachingTpHybridClass != null %}
                                <span>{{ course.teachingTpHybridClass}} TP</span>
                        {% endif %}
                            {% if course.teachingOtherHybridClass != null %}
                                <span>{{ course.teachingOtherHybridClass}} Autre</span>
                        {% endif %}
                            {% if course.teachingCmHybridDist != null %}
                                <span>{{ course.teachingCmHybridDist }} CM</span> 
                        {% endif %}
                            {% if course.teachingTdHybridDist != null %}
                                <span>{{ course.teachingTdHybridDist}} TD</span> 
                        {% endif %}
                            {% if course.teachingOtherHybridDist != null %}
                                <span>{{ course.teachingOtherHybridDist}} Autre</span>
                            {% endif %}
                        {% endif %}
                    </span>
                </span>
            </div>
            <div class="col-md-4 media d-flex align-items-center">
                <i class="fas m-3 fa-4x fa-globe"></i>
                <span class="font-weight-bold media-body">Mobilité internationale</span>
            </div>
        </div>


        <div id="Objectifs_cours" class="row mx-3 d-flex flex-row">
            <div class="col-md-6 p-0">
                <h4 class="text-justify text-left font-weight-bold">
                    Objectifs du cours
                </h4>
            </div>
        </div>
        <div class="progress mb-3" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>


        <div class="row mx-3 d-flex flex-row">
            <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                <h5 class="m-0">ACQUIS D'APPRENTISSAGE</h5>
            </div>
        </div>
        <div class="row d-flex flex-row">
            <div class="col-md-12 d-flex flex-row justify-content-center align-items-center">
                <h5 class="m-2">A la fin de ce cours, je serai capable de...</h5>
            </div>
        </div>
        <div>
            {% for row in course.courseAchievements|batch(2) %}
                <div class="row mx-3 d-flex flex-row my-3">
                    {% for achievement in row %}
                        <div class="col-md-6 border border-info bg-info text-light rounded-pill d-flex flex-row justify-content-between align-items-center">
                            <img src="https://via.placeholder.com/25" class="img-fluid rounded-circle" alt="Responsive image">
                            <span class="my-2">{{achievement.description}} </span>
                            <div></div>
                        </div> 
                    {% endfor %}
                </div>
            {% endfor %} 
        </div>


        <div class="row mx-3 d-flex flex-row justify-content-around">
            <div class="col-md-6 pl-0" >
                <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                    <h5 class="m-0">PREREQUIS</h5>
                </div>
                <div class="row d-flex flex-row">
                    <div class="col-md-12 d-flex flex-row justify-content-center align-items-center">
                        <h5 class="m-2">Avant de suivre ce cours, je dois...</h5>
                    </div>
                </div>
                {% for prerequisite in course.coursePrerequisites %} 
                    <div class="row m-3 p-2 border border-info bg-info text-light rounded-pill d-flex flex-row justify-content-center align-items-center">
                    {{prerequisite.description}}
                    </div>
                {% endfor %} 
            </div>
            <div class="col-md-6 pr-0" >
                <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                    <h5 class="m-0">REMEDIATION / AIDE A LA REUSSITE</h5>
                </div>
                <div class="col-md-12 d-flex flex-row justify-content-center align-items-center">
                    <h5 class="m-2">Si je rencontre des difficultés, je peux...</h5>
                </div>
                {% if course.tutoringDescription != null %}
                    <div class="row m-3 p-2 border border-info bg-info text-light rounded-pill d-flex flex-row justify-content-center align-items-center">
                        {{course.tutoringDescription}}
                    </div>
                {% endif %}
                {% for resource in course.courseTutoringResources %} 
                    <div class="row m-3 p-2 border border-info bg-info text-light rounded-pill d-flex flex-row justify-content-center align-items-center">
                    {{resource.description}}
                    </div>
                {% endfor %} 
            </div>
        </div>


        <div id="Contenu_activites" class="row mx-3 d-flex flex-row">
            <div class="col-md-6 p-0">
                <h4 class="text-justify text-left font-weight-bold">
                    Contenu et activités
                </h4>
            </div>
        </div>
        <div class="progress mb-3" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row m-3 d-flex flex-row justify-content-around">
            <div class="col-md-12 p-0" >
                {% for section in course.courseSections %}
                    <div class="col p-2 border border-dark bg-light"> 
                    <h6>{{section.title|raw}} : {{section.description|raw}}</h6>
                    {% for activity in section.courseSectionActivities %}
                        {% if activity.activity.type == "activity" %}
                            <div class="row mx-1 p-3 d-flex flex-row justify-content-between align-items-center text-light {{ loop.index0 is odd ? 'bg-dark' : 'bg-secondary' }}">
                            <span>{{activity.activity.label}} </span>
                            {% if activity.activity.mode == 'distant' %}
                                <div class="d-flex flex-row align-items-center">
                                <span class="font-weight-bold mx-3"> En autonomie</span>
                                <i class="fas mr-5 fa-2x fa-book-reader"></i>
                                </div>
                            {% elseif activity.activity.mode == 'class' %}
                                <div class="d-flex flex-row align-items-center">
                                <span class="font-weight-bold mx-3"> En classe</span>
                                <i class="fas mr-5 fa-2x fa-chalkboard-teacher"></i>
                                </div>
                            {% endif %}
                            </div>
                        {% elseif activity.activity.type == "evaluation" %}
                            <div class="row mx-1 p-3 d-flex flex-row justify-content-between align-items-center text-light bg-info }}">
                                <div class="d-flex flex-column">
                                    <span> {{activity.activity.label}} </span>
                                    {% if activity.acitivity.evaluation == "teacher" %}
                                        <span class="font-weight-bold font-italic">Evalué par l'enseignant</span>
                                    {% elseif activity.acitivity.evaluation == "student" %}
                                        <span class="font-weight-bold font-italic">Evalué par les pairs</span>
                                    {% endif %}
                                </div>
                                <i class="fas fa-file-signature"></i>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}

            </div>
        </div>



        <div id="Modalites_evaluation" class="row mx-3 d-flex flex-row">
            <div class="col-md-6 p-0">
                <h4 class="text-justify text-left font-weight-bold">
                    Modalités d'évaluation
                </h4>
            </div>
        </div>
        <div class="progress mb-3" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>


        <div class="row mx-3 d-flex flex-row justify-content-around">
            <div class="col-md-6 pl-0" >
                <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                    <h5 class="m-0">MODALITE DE CONTROLE DES CONNAISSANCES</h5>
                </div>
                <div class="row m-3 d-flex flex-row justify-content-around">
                    <div class="col-md-6 pl-0" >
                    <table class="table table-dark">
                        <thead>
                            <tr>
                            <th scope="col">1ère session</th>
                            </tr>
                            <tr>
                            <th>Type d'évaluation</th>
                            <th>Coef</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-primary">
                            <td>Contrôle Continu ({{course.mccCcNbEvalSession1}} minimum)</td>
                            <td> {{course.mccCcCoeffSession1}}%</td>
                            </tr>
                            <tr class="table-info">
                            <td>Contrôle Terminal - {{course.mccCtDurationSession1}} </td>
                            <td>{{course.mccCtCoeffSession1}}%</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 pr-0" >
                    <table class="table table-dark">
                        <thead>
                            <tr>
                            <th scope="col">2ème session</th>
                            </tr>
                            <tr>
                            <th>Type d'évaluation</th>
                            <th>Coef</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-info">
                            <td>Contrôle Terminal - {{course.mccCtDurationSession2}} </td>
                            <td>{{course.mccCtCoeffSession2}}%</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pr-0" >
                <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                    <h5 class="m-0">METHODES D'EVALUATION</h5>
                </div>
                <div>
                {% for section in course.courseSections %}
                    {% for activity in section.courseSectionActivities if activity.activity.type == "evaluation"%}
                        <div class="row rounded bg-info" >{{activity.activity.label}}</div>
                    {% endfor %}
                {% endfor %}
                </div>
                <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                    <h5 class="m-0">CONSEILS PRATIQUES</h5>
                    <div>
                    {{course.mccAdvice|raw}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-3 d-flex flex-row justify-content-around">
            <div class="col-md-4 media d-flex align-items-center">
                <div class="border rounded-circle font-weight-bold  p-3 m-3">
                    <h3 class="font-weight-bold my-2"> {{course.mccWeight}}% </h3>
                </div>
                <span class="font-weight-bold media-body"> Poids de l'ECUE dans l'UE </span>
                <i class="fas fa-2x fa-info-circle"></i>
            </div>
            <div class="col-md-4 media d-flex align-items-center">
                <i class="fas m-3 fa-4x fa-check-circle"></i>
                <span class="font-weight-bold media-body"> UE compensable </span>
                <i class="fas fa-2x fa-info-circle"></i>
            </div>
            <div class="col-md-4 media d-flex align-items-center">
                {% if course.mccCapitalizable == true %}
                <i class="fas m-3 fa-4x fa-check-circle"></i>
                {% elseif course.mccCapitalizable == false %}
                <i class="fas m-3 fa-4x fa-times-circle"></i>
                {% endif %}
                <span class="font-weight-bold media-body"> UE capitalisable </span>
                <i class="fas fa-2x fa-info-circle"></i>
            </div>
        </div>


        <div id="Materiel_ressources" class="row mx-3 d-flex flex-row">
            <div class="col-md-6 p-0">
                <h4 class="text-justify text-left font-weight-bold">
                    Matériel et ressources
                </h4>
            </div>
        </div>
        <div class="progress mb-3" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row mx-3 d-flex flex-row">
            <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                <h5 class="m-0">MATERIEL OBLIGATOIRE</h5>
            </div>
        </div>
        <div>
            {% for row in course.courseResourceEquipments|batch(3) %}
                <div class="row mx-3 d-flex flex-row my-3">
                    {% for courseResourceEquipment in row %}
                        {% if courseResourceEquipment.equipment.labelVisibility == true %}
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-start">
                                <div>
                                {{courseResourceEquipment.equipment.label}}
                                </div>
                        {% endif %}
                        {% if courseResourceEquipment.description != null %}
                            <div>
                            {{courseResourceEquipment.description}}
                            </div>
                        {% endif %}
                        {% if courseResourceEquipment.equipment.labelVisibility == true %}
                        </div> 
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %} 
        </div>

        <div class="row mx-3 d-flex flex-row">
            <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                <h5 class="m-0">RESSOUCRES PEDAGOGIQUES</h5>
            </div>
        </div>
        <div class="row mx-3 d-flex flex-row">
            {{course.educationalResources|raw}}
        </div>


        <div class="row mx-3 d-flex flex-row">
            <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                <h5 class="m-0">ELEMENTS BIBLIOGRAPHIQUES</h5>
            </div>
        </div>
        <div class="row mx-3 d-flex flex-row">
            {{course.bibliographicResources|raw}}
        </div>


        <div id="Informations_pratiques" class="row mx-3 d-flex flex-row">
            <div class="col-md-6 p-0">
                <h4 class="text-justify text-left font-weight-bold">
                    Informations pratiques
                </h4>
            </div>
        </div>
        <div class="progress mb-3" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>


        <div class="row mx-3 d-flex flex-row">
            <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                <h5 class="m-0">AGENDA / CALENDRIER</h5>
            </div>
        </div>
        <div class="row mx-3 d-flex flex-row">
                 {{course.agenda|raw}}
        </div>


        <div class="row mx-3 d-flex flex-row">
            <div class="col-md-12 p-2 border border-info bg-light text-info rounded d-flex flex-row justify-content-center align-items-center">
                <h5 class="m-0">ORGANISATION DU COURS</h5>
            </div>
        </div>
        <div class="row mx-3 d-flex flex-row">
                 {{course.organization|raw}}
        </div>


        <div id="Reglementation" class="row mx-3 d-flex flex-row">
            <div class="col-md-6 p-0">
                <h4 class="text-justify text-left font-weight-bold">
                    Réglementation
                </h4>
            </div>
        </div>
        <div class="progress mb-3" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row d-flex flex-row">
            <div class="col-md-12 d-flex flex-row justify-content-center align-items-center">
                <h5 class="m-2">En m'inscrivant à l'université, je m'engage à respecter le règlement des études ci-après :</h5>
            </div>
        </div>


        <div id="Mot_fin" class="row mx-3 d-flex flex-row">
            <div class="col-md-6 p-0">
                <h4 class="text-justify text-left font-weight-bold">
                    Mot de la fin
                </h4>
            </div>
        </div>
        <div class="progress mb-3" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="row mx-3 d-flex flex-row">
            {{course.closingRemarks|raw}}
        </div>

    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}