{% extends 'base.html.twig' %}

{% set dark_background = true %}

{% block title %}
    {{ parent() }}
    {% if course.title is defined %}
        • {{ course.title }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% if course == null %}
        <div class="alert alert-danger text-center" role="alert">
            <p>Le syllabus demandé n'a pas été retrouvé.</p>
        </div>
    {% elseif course.publicationDate == null and coursePermissionHelper.hasPermission(course, app.user, constant('AppBundle\\Constant\\Permission::WRITE')) != true %}
        <div class="alert alert-warning text-center" role="alert">
            <p>Le syllabus demandé n'est pas encore publié.</p>
            <p>Si vous êtes un enseignant nouvellement inscrit sur ce cours vous aurez la possibilité de modifier le Syllabus d'ici 24h.</p>
        </div>
    {% else %}
        {% set parent = course.course.parents[0] %}
        {% set parentInfo = '' %}
        {% if course.course.parents|length == 1 %}
            {% for info in course.course.parents[0].courseInfos %}
                {% if info.year.id == course.year.id %}
                    {% set parentInfo = info %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <small class="float-right font-italic">
            Dernière modification le {{ course.modificationDate|localizeddate('long', 'short', 'fr') }}.
        </small>

        {% if in_iframe == false %}
            <h2 class="font-weight-bold">{{ course.title }}</h2>
        {% endif %}


        <!--

        NAV

        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link" href="#presentation">Présentation</a>
            <a class="nav-item nav-link" href="#objectives">Objectifs du cours</a>
            <a class="nav-item nav-link" href="#activities">Contenu et activités</a>
            <a class="nav-item nav-link" href="#evaluations">Modalités d'évaluation</a>
            <a class="nav-item nav-link" href="#equipments_resources">Matériel et ressources</a>
            <a class="nav-item nav-link" href="#information">Informations pratiques</a>
            <a class="nav-item nav-link" href="#regulation">Réglementation</a>
            <a class="nav-item nav-link" href="#closing">Mot de la fin</a>
        </nav>
        -->


        <!--

        COURSE PRESENTATION

        -->
        <section id="presentation" class="mt-4">
            <h4 class="font-weight-bold">Présentation du cours</h4>
            <hr class="border border-white bg-light" style="height: 2px;">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <div class="row mb-2">
                        <div class="col-md align-self-center">
                            {% set levelBeginnerColor = 'info' %}
                            {% set levelIntermediateColor = 'white' %}
                            {% set levelAdvancedColor = 'white' %}
                            {% set levelText = '' %}
                            {% if course.level == "beginner" %}
                                {% set levelText = 'Niveau débutant' %}
                            {% elseif course.level == "intermediate" %}
                                {% set levelIntermediateColor = 'info' %}
                                {% set levelText = 'Niveau intermédiaire' %}
                            {% elseif course.level == "advanced" %}
                                {% set levelIntermediateColor = 'info' %}
                                {% set levelAdvancedColor = 'info' %}
                                {% set levelText = 'Niveau avancé' %}
                            {% endif %}
                            <i class="fas fa-circle text-{{ levelBeginnerColor }} rounded-circle border border-dark"></i>
                            <i class="mx-1 fas fa-circle text-{{ levelIntermediateColor }} rounded-circle border border-dark"></i>
                            <i class="fas fa-circle text-{{ levelAdvancedColor }} rounded-circle border border-dark"></i>
                            <span class="px-3 text-white">{{ levelText }}</span>
                        </div>
                        <div class="col-md align-self-center border-left border-dark">
                            <span class="text-white">Domaine disciplinaire : {{course.domain}}</span>
                        </div>
                    </div>
                    {% if course.languages is not null %}
                        <span>Ce cours est dispensé en : {{ course.languages }}</span>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if parent is not empty and parentInfo is not empty %}
                        <div class="row d-flex flex-row">
                            <div class="col-md-6 d-flex flex-column align-items-start border-left align-self-stretch px-3">
                                <div>
                                    <h6>Appartenant à :</h6>
                                </div>
                                <div>
                                    {{ parentInfo.title }}
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-column align-items-start align-self-center align-self-stretch border-left">
                                {% if parent.children|length > 0 %}
                                    <div class="mb-auto">
                                        Comprenant <strong>{{ parent.children|length }}</strong> ECUE
                                    </div>
                                {% endif %}
                                {% if parentInfo.ects is not empty %}
                                    <div>
                                        Donnant <strong>{{ parentInfo.ects }}</strong> ECTS
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 d-flex flex-column">
                    <div>
                        {{ course.summary|raw }}
                    </div>
                    <div class="mt-3">
                        <span>Équipe enseignante :</span>
                        {% for teacher in course.courseTeachers %}
                            {% set teacherName = teacher.firstname ~ ' ' ~ teacher.lastname %}
                            {% set teacherTitle = '' %}
                            {% set teacherStyle = '' %}
                            {% if teacher.manager == true %}
                                {% set teacherName = '<u>' ~ teacherName ~ '</u>' %}
                                {% set teacherTitle = 'Responsable' %}
                                {% set teacherStyle = 'cursor: help;' %}
                            {% endif %}
                            <span class="font-weight-bold"
                                  title="{{ teacherTitle }}"
                                  style="{{ teacherStyle }}">{{ teacherName|raw }}</span>{% if loop.last %}.{% else %},{% endif %}
                        {% endfor %}
                        </span>
                    </div>
                    <div id="presentation_media_container" class="mt-3">
                        {% if course.period is not null %}
                            <span>
                                Période : <strong>{{ course.period }}</strong>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    {% if course.mediaType == "video"
                    and course.video[:7]|lower == "<iframe"
                    and course.video[-9:]|lower == "</iframe>" %}
                        <div class="embed-responsive embed-responsive-16by9">
                            {{ course.video|raw }}
                        </div>
                    {% endif %}
                    {% if course.mediaType == "image" %}
                        <img src={{ asset('data/' ~ course.image.filename) }} class="img-fluid">
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg d-flex align-items-center">
                    <i class="fas m-3 fa-4x fa-map-marker-alt"></i>
                    <div class = "d-flex flex-column font-weight-bold">
                        <span>Campus principal</span>
                        <span>{{course.structure.campus}}</span>
                    </div>
                </div>
                <div class="col-lg d-flex align-items-center">
                    {% if course.teachingMode == "class" %}
                        <img src="{{ asset('images/in_class_white_128.png') }}">
                        <div class = "d-flex flex-column">
                            <span class="font-weight-bold">Présentiel</span>
                            {% if course.teachingCmClass is not null %}
                                <span>{{ course.teachingCmClass }}h CM</span>
                            {% endif %}
                            {% if course.teachingTdClass is not null %}
                                <span>{{ course.teachingTdClass }}h TD</span>
                            {% endif %}
                            {% if course.teachingTpClass is not null %}
                                <span>{{ course.teachingTpClass }}h TP</span>
                            {% endif %}
                            {% if course.teachingOtherClass is not null and course.teachingOtherTypeClass is not null %}
                                <span>{{ course.teachingOtherClass }}h {{ course.teachingOtherTypeClass }}</span>
                            {% endif %}
                        </div>
                    {% elseif course.teachingMode == "hybrid" %}
                        <img src="{{ asset('images/hybrid_white_128.png') }}">
                        <div class = "d-flex flex-column w-100">
                            <span class="font-weight-bold">Hybride</span>
                            <div class="row">
                                <div class="col-auto d-flex flex-column">
                                    <strong>Présentiel</strong>
                                    {% if course.teachingCmHybridClass is not null %}
                                        <span>{{ course.teachingCmHybridClass }}h CM</span>
                                    {% endif %}
                                    {% if course.teachingTdHybridClass is not null %}
                                        <span>{{ course.teachingTdHybridClass }}h TD</span>
                                    {% endif %}
                                    {% if course.teachingTpHybridClass is not null %}
                                        <span>{{ course.teachingTpHybridClass }}h TP</span>
                                    {% endif %}
                                    {% if course.teachingOtherHybridClass is not null and course.teachingOtherTypeHybridClass is not null %}
                                        <span>{{ course.teachingOtherHybridClass }}h {{ course.teachingOtherTypeHybridClass }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-auto d-flex flex-column">
                                    <strong>Distanciel</strong>
                                    {% if course.teachingCmHybridDist is not null %}
                                        <span>{{ course.teachingCmHybridDist }}h CM</span>
                                    {% endif %}
                                    {% if course.teachingTdHybridDist is not null %}
                                        <span>{{ course.teachingTdHybridDist }}h TD</span>
                                    {% endif %}
                                    {% if course.teachingOtherHybridDist is not null and course.teachingOtherTypeHybridDistant is not null %}
                                        <span>{{ course.teachingOtherHybridDist }}h {{ course.teachingOtherTypeHybridDistant }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg d-flex align-items-center">
                    <a href="http://unice.fr/international/les-ri-a-luns/reseau-des-ri/bri" target="_blank" class="text-decoration-none">
                        <div class="d-flex flex-row align-items-center">
                            <i class="fas m-3 fa-4x fa-globe"></i>
                            <span class="font-weight-bold media-body">
                                Se renseigner sur la mobilité internationale
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </section>


        <!--

        COURSE OBJECTIVES

        -->
        {% if courseInfoHelper.objectivesAreEmpty(course) == false %}
            <section id="objectives" class="mt-5">
                <h4 class="font-weight-bold">Objectifs du cours</h4>
                <hr class="border border-white bg-light" style="height: 2px;">
                {% if courseInfoHelper.objectivesAchievementsAreEmpty(course) == false %}
                    <div id="objectives_achievements" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">ACQUIS D'APPRENTISSAGE</h5>
                        <h6 class="text-center">A la fin de ce cours, je devrais être capable de…</h6>
                        <div class="row">
                            {% for achievement in course.courseAchievements %}
                                {% if achievement.description is not null %}
                                    <div class="col-lg-6">
                                        <div class="bg-info rounded-pill text-center p-2 my-2">
                                            {{ achievement.description|linkify({"attr": {"target": "_blank"}})|raw }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    {% if courseInfoHelper.objectivesPrerequisitesAreEmpty(course) == false %}
                        <div class="col-lg">
                            <div id="objectives_prerequisites" class="mt-4">
                                <h5 class="border border-info bg-light text-info rounded text-center p-2">PRÉREQUIS</h5>
                                <h6 class="text-center">Avant de suivre ce cours, je dois…</h6>
                                {% for prerequisite in course.coursePrerequisites %}
                                    {% if prerequisite.description is not null %}
                                        <div class="bg-info rounded-pill text-center p-2 my-2">
                                            {{ prerequisite.description|linkify({"attr": {"target": "_blank"}})|raw }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if courseInfoHelper.objectivesTutoringAreEmpty(course) == false %}
                        <div class="col-lg">
                            <div id="objectives_tutoring" class="mt-4">
                                <h5 class="border border-info bg-light text-info rounded text-center p-2">REMÉDIATION / AIDE À LA RÉUSSITE</h5>
                                <h6 class="text-center">Si je rencontre des difficultés, je peux…</h6>
                                {% if courseInfoHelper.objectivesTutoringInfoAreEmpty(course) == false %}
                                    <div class="bg-info rounded-pill text-center p-2 my-2 d-flex flex-column">
                                        <span>Aller aux séances de tutorat</span>
                                        <small>
                                            {{ course.tutoringDescription|linkify({"attr": {"target": "_blank"}})|raw }}
                                        </small>
                                    </div>
                                {% endif %}
                                {% for resource in course.courseTutoringResources %}
                                    {% if resource.description is not null %}
                                        <div class="bg-info rounded-pill text-center p-2 my-2">
                                            {{ resource.description|linkify({"attr": {"target": "_blank"}})|raw }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}


        <!--

        COURSE ACTIVITIES

        -->
        <section id="activities" class="mt-5">
            <h4 class="font-weight-bold">Contenu et activités</h4>
            <hr class="border border-white bg-light" style="height: 2px;">
            {% for section in course.courseSections %}
                <div id="activities_sections" class="mt-4 p-2 bg-light">
                    <h5 class="text-body font-weight-bold">{{section.title}}</h5>
                    <div class="section-description text-dark p-2">
                        {{section.description|raw}}
                    </div>
                    {% if section.courseSectionActivities|length > 0 %}
                        <div class="mt-2">
                            {% set activity = section.courseSectionActivities|first %}
                            {% set activities = [] %}
                            {% set activityType = activity.activity.type %}
                            {% set activityMode = activity.activity.mode %}
                            {% for activity in section.courseSectionActivities %}
                                {% if activityMode != activity.activity.mode or activityType != activity.activity.type %}
                                    {% include 'course/view_student_print_activities.html.twig' with {
                                    'activities': activities,
                                    'activityType': activityType,
                                    'activityMode': activityMode
                                    }%}
                                    {% set activities = [] %}
                                    {% set activityType = activity.activity.type %}
                                    {% set activityMode = activity.activity.mode %}
                                {% endif %}
                                {% set activities = activities|merge([activity]) %}
                            {% endfor %}
                            {% include 'course/view_student_print_activities.html.twig' with {
                            'activities': activities,
                            'activityType': activityType,
                            'activityMode': activityMode
                            }%}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% if courseInfoHelper.evaluationCtAreEmpty(course) == false %}
                <div id="activities_evaluations" class="mt-4">
                    <div id="activities_sections" class="mt-4 p-2 bg-light">
                        <h5 class="text-body font-weight-bold">Contrôle Terminal</h5>
                        <div class="mt-2">
                            <div class="d-flex p-3 bg-primary">
                                <div class="mr-auto p-2 d-flex flex-column align-self-center">
                                    {% for evaluation in course.courseEvaluationCts %}
                                        <span>
                                    {{ evaluation.activity.label }}
                                            {% if evaluation.description is not null %}
                                                : {{ evaluation.description|linkify({"attr": {"target": "_blank"}})|raw }}
                                            {% endif %}
                                    </span>
                                    {% endfor %}
                                </div>
                                <div class="p-2 d-flex align-self-center">
                                    <img src="{{ asset('images/evaluation_cc_white_64.png') }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>


        <!--

        COURSE EVALUATIONS

            -->
        {% if courseInfoHelper.evaluationAreEmpty(course) == false %}
            <section id="evaluations" class="mt-5">
                <h4 class="font-weight-bold">Modalités d'évaluation</h4>
                <hr class="border border-white bg-light" style="height: 2px;">
                <div class="row">
                    {% if courseInfoHelper.evaluationMccAreEmpty(course) == false %}
                        <div class="col-lg">
                            <div id="evaluations_mcc" class="mt-4">
                                <h5 class="border border-info bg-light text-info rounded text-center p-2">MODALITÉS DE CONTRÔLE DES CONNAISSANCES</h5>
                                <div class="row">
                                    <div class="col-md">
                                        <table class="table table-dark bg-transparent">
                                            <thead class="">
                                            <tr class="border-bottom font-weight-bold">
                                                <td colspan="2" class="text-center">
                                                    1ère session
                                                    <img id="infos_mcc_session1" src="{{ asset('images/info_white_32.png') }}" style="cursor: pointer;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Type d'évaluation</td>
                                                <td>Coef</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="bg-info">
                                                <td>
                                                    <p class="m-0">Contrôle continu</p>
                                                    <p class="m-0">({{course.mccCcNbEvalSession1}} minimum)</p>
                                                </td>
                                                <td>
                                                    {% if course.mccCcCoeffSession1 is not null%}
                                                        {{course.mccCcCoeffSession1}}%
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr class="bg-primary">
                                                <td>
                                                    <p class="m-0">Contrôle Terminal </p>
                                                    <p class="m-0">{{course.mccCtDurationSession1}}</p>
                                                </td>
                                                <td>
                                                    {% if course.mccCtCoeffSession1 is not null%}
                                                        {{course.mccCtCoeffSession1}}%
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {#
                                    <div class="col-md">
                                        <table class="table table-dark bg-transparent">
                                            <thead class="">
                                            <tr class="border-bottom font-weight-bold">
                                                <td colspan="2" class="text-center">
                                                    2ème session
                                                    <img id="infos_mcc_session2" src="{{ asset('images/info_white_32.png') }}" style="cursor: pointer;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Type d'évaluation
                                                </td>
                                                <td>
                                                    Coef
                                                </td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="bg-primary">
                                                <td>
                                                    <p class="m-0">Contrôle Terminal </p>
                                                    <p class="m-0">{{course.mccCtDurationSession2}}</p>
                                                </td>
                                                <td>
                                                    {% if course.mccCtCoeffSession2 is not null%}
                                                        {{course.mccCtCoeffSession2}}%
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    #}
                                </div>
                            </div >
                        </div>
                    {% endif %}
                    {#
                    {% if courseInfoHelper.evaluationMethodsAreEmpty(course) == false or courseInfoHelper.evaluationAdvicesAreEmpty(course) == false %}
                    #}
                    {% if courseInfoHelper.evaluationAdvicesAreEmpty(course) == false %}
                        <div class="col-lg">
                            {#
                            {% if courseInfoHelper.evaluationMethodsAreEmpty(course) == false %}
                                <div id="evaluations_methods" class="mt-4">
                                    <h5 class="border border-info bg-light text-info rounded text-center p-2">MÉTHODES D'ÉVALUATION</h5>
                                    <div class="row">
                                        {% for section in course.courseSections %}
                                            {% for activity in section.courseSectionActivities %}
                                                {% if activity.activity.type == "evaluation" %}
                                                    <div class="col-md-6">
                                                        <div class="bg-info rounded-pill text-center p-1 my-1">
                                                            {{activity.activity.label}}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        {% for evaluation in course.courseEvaluationCts %}
                                            {% if evaluation.activity.type == "evaluation" %}
                                                <div class="col-md-6">
                                                    <div class="bg-primary rounded-pill text-center p-1 my-1">
                                                        {{evaluation.activity.label}}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            #}
                            {% if courseInfoHelper.evaluationAdvicesAreEmpty(course) == false %}
                                <div id="evaluations_advices" class="mt-4">
                                    <h5 class="border border-info bg-light text-info rounded text-center p-2">PRÉCISIONS</h5>
                                    {{course.mccAdvice|raw}}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% if courseInfoHelper.evaluationMccAreEmpty(course) == false %}
                    <div class="row mt-4">
                        <div class="col-md d-flex align-items-center">
                            <div class="bg-info rounded-circle p-2 m-2">
                                <h4 class="my-2 font-weight-bold">{{course.mccWeight}}%</h4>
                            </div>
                            <strong class="px-2">Poids dans l'UE</strong>
                            <img id="infos_mcc_weight" src="{{ asset('images/info_white_32.png') }}" style="cursor: pointer;">
                        </div>
                        <div class="col-md d-flex align-items-center">
                            {% if not course.mccCompensable %}
                                <i class="fas fa-4x fa-times-circle text-info"></i>
                                <strong class="px-2">{{course.course.type}} non compensable</strong>
                            {% else %}
                                <i class="fas fa-4x fa-check-circle text-info"></i>
                                <strong class="px-2">{{course.course.type}} compensable</strong>
                            {% endif %}
                            <img id="infos_mcc_compensable" src="{{ asset('images/info_white_32.png') }}" style="cursor: pointer;">
                        </div>
                        <div class="col-md d-flex align-items-center">
                            {% if not course.mccCapitalizable %}
                                <i class="fas fa-4x fa-times-circle text-info"></i>
                                <strong class="px-2">{{course.course.type}} non capitalisable</strong>
                            {% else %}
                                <i class="fas fa-4x fa-check-circle text-info"></i>
                                <strong class="px-2">{{course.course.type}} capitalisable</strong>
                            {% endif %}
                            <img id="infos_mcc_capitalizable" src="{{ asset('images/info_white_32.png') }}" style="cursor: pointer;">
                        </div>
                    </div>
                {% endif %}
            </section>
        {% endif %}


        <!--

        COURSE EQUIPMENTS

        -->
        {% if courseInfoHelper.equipementsAreEmpty(course) == false %}
            <section id="equipments_resources" class="mt-5">
                <h4 class="font-weight-bold">Matériel et ressources</h4>
                <hr class="border border-white bg-light" style="height: 2px;">
                {% if courseInfoHelper.equipementsEquipmentsAreEmpty(course) == false %}
                    <div id="equipments_resources_equipments" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">MATÉRIEL NÉCESSAIRE</h5>
                        <div class="row">
                            {% for equipment in course.courseResourceEquipments %}
                                <div class="col-md-4 d-flex align-items-center">
                                    <i class="fas fa-2x fa-border rounded-circle fa-pencil-ruler p-2"></i>
                                    <div class="p-1">
                                        <p class="m-0">{{ equipment.equipment.label }}</p>
                                        {% if equipment.description is not null %}
                                            <small class="m-0 font-italic">
                                                {{ equipment.description|linkify({"attr": {"target": "_blank"}})|raw }}
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if courseInfoHelper.equipementsEducationalResourcesAreEmpty(course) == false %}
                    <div id="equipments_resources_teaching" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">RESSOURCES PÉDAGOGIQUES</h5>
                        {{course.educationalResources|raw}}
                    </div>
                {% endif %}
                {% if courseInfoHelper.equipementsBibliographicResourcesAreEmpty(course) == false %}
                    <div id="equipments_resources_bibliographic" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">ÉLÉMENTS BIBLIOGRAPHIQUES</h5>
                        {{course.bibliographicResources|raw}}
                    </div>
                {% endif %}
            </section>
        {% endif %}


        <!--

        COURSE INFORMATION

        -->
        {% if courseInfoHelper.infoAreEmpty(course) == false %}
            <section id="information" class="mt-5">
                <h4 class="font-weight-bold">Informations pratiques</h4>
                <hr class="border border-white bg-light" style="height: 2px;">
                {% if courseInfoHelper.infoAgendaAreEmpty(course) == false %}
                    <div id="information_agenda" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">AGENDA / CALENDRIER</h5>
                        {{course.agenda|raw}}
                    </div>
                {% endif %}
                {% if courseInfoHelper.infoOrganizationAreEmpty(course) == false %}
                    <div id="information_organization" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">ORGANISATION DU COURS</h5>
                        {{course.organization|raw}}
                    </div>
                {% endif %}
            </section>
        {% endif %}


        <!--

        CLOSING

        -->
        {% if courseInfoHelper.closingInfoAreEmpty(course) == false %}
            <section id="closing" class="mt-5">
                <h4 class="font-weight-bold">Mot de la fin</h4>
                <hr class="border border-white bg-light" style="height: 2px;">
                {% if courseInfoHelper.closingRemarksAreEmpty(course) == false %}
                    <div id="closing_remarks" class="mt-4">
                        {{course.closingRemarks|raw}}
                    </div>
                {% endif %}
                {% if courseInfoHelper.closingVideoIsEmpty(course) == false
                and course.closingVideo[:7]|lower == "<iframe"
                and course.closingVideo[-9:]|lower == "</iframe>" %}
                    <div id="closing_video" class="mt-4">
                        <div class="embed-responsive embed-responsive-16by9">
                            {{ course.closingVideo|raw }}
                        </div>
                    </div>
                {% endif %}
            </section>
        {% endif %}


        <!--

        REGULATION

        -->
        <section id="regulation" class="mt-5">
            <h4 class="font-weight-bold">Règlementation</h4>
            <hr class="border border-white bg-light" style="height: 2px;">
            <div class="alert alert-dark border border-info" role="alert">
                <h4 class="alert-heading">
                    Important
                </h4>
                <p>
                    Ce syllabus n'a aucune valeur contractuelle.
                </p>
                <p>
                    Son contenu est susceptible d'évoluer en cours d'année : soyez attentifs aux dernières modifications. La date de dernière mise à jour est affichée en haut de la page à droite.
                </p>
            </div>
            <div id="regulation_link" class="mt-4">
                <a href="{{ regulation_link }}" target="_blank" class="btn btn-info btn-block">Consulter la règlementation</a>
            </div>
        </section>


    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#infos_mcc_session1').click(function(){
                var message = '<p>1ère session : Epreuves du Contrôle Continu et/ou du Contrôle Terminal. Attention ne pas confondre avec le premier semestre.</p>';
                bootbox.dialog({
                    message: message,
                    className: 'text-dark',
                    backdrop: true,
                    onEscape: true
                });
            });

            $('#infos_mcc_session2').click(function(){
                var message = '<p>2ème session : Session de rattrapage des examens du semestre 1 ET du semestre 2, généralement en juin. Un étudiant ne repasse en 2ème session que les ECUE des UE non obtenues. Les étudiants concernés recevront un email de convocation comme lors de la 1ère session. Attention ne pas confondre avec le second semestre.</p>';
                bootbox.dialog({
                    message: message,
                    className: 'text-dark',
                    backdrop: true,
                    onEscape: true
                });
            });


            $('#infos_mcc_weight').click(function(){
                var message = '<p><strong>Poids de l\'ECUE dans l\'UE</strong> : coefficient de l\'ECUE en question par rapport aux autres ECUE de l\'UE.</p>';
                bootbox.dialog({
                    message: message,
                    className: 'text-dark',
                    backdrop: true,
                    onEscape: true
                });
            });

            $(document).on('click', '#infos_mcc_compensable', function(){
                var message = '<p><strong>UE/ECUE (non) compensable</strong> : Une UE/ECUE est compensable par une ou plusieurs autre(s) si la moyenne des UE/ECUE considérés est supérieure ou égale à la valeur seuil qui a été déterminée par l\'équipe pédagogique (ex: 10/20). Pour les UE/ECUE non compensables, il faut atteindre la valeur seuil pour chaque UE/ECUE considéré.</p>';
                bootbox.dialog({
                    message: message,
                    className: 'text-dark',
                    backdrop: true,
                    onEscape: true
                });
            });

            $('#infos_mcc_capitalizable').click(function(){
                var message = '<p><strong>UE/ECUE (non) capitalisable</strong> : Capitalisable signifie que l\'UE/ECUE obtenu est définitivement acquis, quelle que soit la durée de la formation et les interruptions d\'études éventuelles.</p>';
                bootbox.dialog({
                    message: message,
                    className: 'text-dark',
                    backdrop: true,
                    onEscape: true
                });
            });


        });

        Syllabus.setMediaFrameAttributes(document.querySelector( '#presentation_media_container > .embed-responsive > iframe' ));
        Syllabus.setMediaFrameAttributes(document.querySelector( '#closing_video > .embed-responsive > iframe' ));
    </script>
{% endblock %}
