{% extends 'base.html.twig' %}

{% set dark_background = true %}

{% block title %}
    {{ parent() }}
    {% if course.title is defined %}
        • {{ course.title }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% if course == null %}
        <div class="alert alert-danger" role="alert">
            Le cours demandé n'a pas été retrouvé.
        </div>
    {% elseif course.publicationDate == null and coursePermissionHelper.hasPermission(course, app.user, constant('AppBundle\\Constant\\Permission::WRITE')) != true %}
        <div class="alert alert-warning" role="alert">
            Le syllabus de ce cours n'est pas encore publié.
        </div>
    {% else %}
        {% set parent = course.course.parents[0] %}
        {% set parentInfo = '' %}
        {% if course.course.parents|length == 1 %}
            {% for info in course.course.parents[0].courseInfos %}
                {% if info.year.id == course.year.id %}
                    {% set parentInfo = info %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <h2 class="font-weight-bold">{{ course.title }}</h2>
        <p class="font-italic text-right">
            <small>
                Dernière modification le {{ course.modificationDate|date('d/m/Y') }} à {{ course.modificationDate|date('H:i') }}.
            </small>
        </p>


        <!--

        NAV

        -->
        <nav class="navbar navbar-expand-lg bg-info text-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#view_navbar" aria-controls="view_navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="view_navbar">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#presentation">Présentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#objectives">Objectifs du cours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#activities">Contenu et activités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#evaluations">Modalités d'évaluation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#equipments_resources">Matériel et ressources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#information">Informations pratiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#regulation">Réglementation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#closing">Mot de la fin</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!--

        COURSE PRESENTATION

        -->
        <section id="presentation" class="mt-4">
            <div class="row">
                <div class="col-md d-flex align-items-center">
                    {% set levelBeginnerColor = 'info'  %}
                    {% set levelIntermediateColor = 'white'  %}
                    {% set levelAdvancedColor = 'white'  %}
                    {% set levelText = ''  %}
                    {% if course.level == "beginner" %}
                        {% set levelText = 'Niveau débutant'  %}
                    {% elseif course.level == "intermediate" %}
                        {% set levelIntermediateColor = 'info'  %}
                        {% set levelText = 'Niveau intermédiare'  %}
                    {% elseif course.level == "advanced" %}
                        {% set levelIntermediateColor = 'info'  %}
                        {% set levelAdvancedColor = 'info'  %}
                        {% set levelText = 'Niveau avancé'  %}
                    {% endif %}
                    <i class="fas fa-circle text-{{ levelBeginnerColor }} rounded-circle border border-dark"></i>
                    <i class="mx-1 fas fa-circle text-{{ levelIntermediateColor }} rounded-circle border border-dark"></i>
                    <i class=" fas fa-circle text-{{ levelAdvancedColor }} rounded-circle border border-dark"></i>
                    <span class="px-3 text-white">{{ levelText }}</span>
                </div>
                <div class="col-md d-flex align-items-center border-left border-dark">
                    <span class="mx-3 text-white">Domaine disciplinaire : {{course.domain}}</span>
                </div>
                <div class="col-md-6">
                    {% if parent is not empty and parentInfo is not empty %}
                        <div class="row d-flex flex-row">
                            <div class="col-md-6 d-flex flex-column border-left px-3">
                                <h6>{{ parentInfo.title }}</h6>
                            </div>
                            <div class="col-md-3 d-flex flex-column border-left px-5">
                                <h2 class="text-center">{{ parentInfo.ects }}</h2>
                                <span class="text-center">ECTS</span>
                            </div>
                            <div class="col-md-3 d-flex flex-column border-left px-5">
                                <h2 class="text-center">{{ parent.children|length }}</h2>
                                <span class="text-center">ECUE</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 d-flex flex-column">
                    <div>
                        {{ course.summary|raw }}
                    </div>
                    <div class="mt-3">
                        <span>Équipe enseignante :</span>
                        {% for teacher in course.courseTeachers %}
                            {% set teacherName = teacher.firstname ~ ' ' ~ teacher.lastname  %}
                            {% if teacher.manager == true %}
                                {% set teacherName = '<u>' ~ teacherName ~ '</u>' %}
                            {% endif %}
                            <span class="font-weight-bold">{{ teacherName|raw }}</span>
                            {% if loop.last %}
                                .
                            {% else %}
                                ,
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                    <div id="presentation_media_container" class="mt-3">
                    <span>
                        Période : <strong>{{ course.period }}</strong>
                    </span>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    {% if course.mediaType == "video"
                    and course.video[:7]|lower == "<iframe"
                    and course.video[-9:]|lower == "</iframe>" %}
                        <div class="embed-responsive embed-responsive-16by9">
                            {{ course.video|raw }}
                        </div>
                    {% endif %}
                    {% if course.mediaType == "image" %}
                        <img src={{ asset('data/' ~ course.image) }} class="img-fluid" alt="Responsive image">
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4 d-flex align-items-center">
                    <i class="fas m-3 fa-4x fa-map-marker-alt"></i>
                    <div class = "d-flex flex-column font-weight-bold">
                        <span> Campus principal </span>
                        <span> {{course.structure.campus}} </span>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    {% if course.teachingMode == "class" %}
                        <img src="{{ asset('images/in_class_white_128.png') }}">
                        <div class = "d-flex flex-column">
                            <span class="font-weight-bold">Présentiel</span>
                            {% if course.teachingCmClass is not null %}
                                <span>{{ course.teachingCmClass }}h CM</span>
                            {% endif %}
                            {% if course.teachingTdClass is not null %}
                                <span>{{ course.teachingTdClass }}h TD</span>
                            {% endif %}
                            {% if course.teachingTpClass is not null %}
                                <span>{{ course.teachingTpClass }}h TP</span>
                            {% endif %}
                            {% if course.teachingOtherClass is not null and course.teachingOtherTypeClass is not null %}
                                <span>{{ course.teachingOtherClass }}h {{ course.teachingOtherTypeClass }}</span>
                            {% endif %}
                        </div>
                    {% elseif course.teachingMode == "hybrid" %}
                        <img src="{{ asset('images/hybrid_white_128.png') }}">
                        <div class = "d-flex flex-column w-100">
                            <span class="font-weight-bold">Hybride</span>
                            <div class="row">
                                <div class="col-md-auto d-flex flex-column">
                                    <strong>Présentiel</strong>
                                    {% if course.teachingCmHybridClass is not null %}
                                        <span>{{ course.teachingCmHybridClass }}h CM</span>
                                    {% endif %}
                                    {% if course.teachingTdHybridClass is not null %}
                                        <span>{{ course.teachingTdHybridClass }}h TD</span>
                                    {% endif %}
                                    {% if course.teachingTpHybridClass is not null %}
                                        <span>{{ course.teachingTpHybridClass }}h TP</span>
                                    {% endif %}
                                    {% if course.teachingOtherHybridClass is not null and course.teachingOtherTypeHybridClass is not null %}
                                        <span>{{ course.teachingOtherHybridClass }}h {{ course.teachingOtherTypeHybridClass }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-md-auto d-flex flex-column">
                                    <strong>Distanciel</strong>
                                    {% if course.teachingCmHybridDist is not null %}
                                        <span>{{ course.teachingCmHybridDist }}h CM</span>
                                    {% endif %}
                                    {% if course.teachingTdHybridDist is not null %}
                                        <span>{{ course.teachingTdHybridDist }}h TD</span>
                                    {% endif %}
                                    {% if course.teachingOtherHybridDist is not null and course.teachingOtherTypeHybridDistant is not null %}
                                        <span>{{ course.teachingOtherHybridDist }}h {{ course.teachingOtherTypeHybridDistant }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <a href="http://unice.fr/international/les-ri-a-luns/reseau-des-ri/bri" target="_blank">
                        <i class="fas m-3 fa-4x fa-globe"></i>
                        <span class="font-weight-bold media-body">
                            Mobilité internationale
                        </span>
                    </a>
                </div>
            </div>
        </section>


        <!--

        COURSE OBJECTIVES

        -->
        <section id="objectives" class="mt-5">
            <h4 class="font-weight-bold">Objectifs du cours</h4>
            <hr class="border border-white bg-light" style="height: 2px;">
            <div id="objectives_achievements" class="mt-4">
                <h5 class="border border-info bg-light text-info rounded text-center p-2">ACQUIS D'APPRENTISSAGE</h5>
                <h6 class="text-center">A la fin de ce cours, je serai capable de…</h6>
                <div class="row">
                    {% for achievement in course.courseAchievements %}
                        {% if achievement.description is not null %}
                            <div class="col-md-6">
                                <div class="bg-info rounded-pill text-center p-2 my-2">
                                    {{achievement.description}}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="objectives_prerequisites" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">PRÉREQUIS</h5>
                        <h6 class="text-center">Avant de suivre ce cours, je dois…</h6>
                        {% for prerequisite in course.coursePrerequisites %}
                            {% if prerequisite.description is not null %}
                                <div class="bg-info rounded-pill text-center p-2 my-2">
                                    {{prerequisite.description}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="objectives_tutoring" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">REMÉDIATION / AIDE À LA RÉUSSITE</h5>
                        <h6 class="text-center">Si je rencontre des difficultés, je peux…</h6>
                        {% if course.tutoringDescription != null %}
                            <div class="bg-info rounded-pill text-center p-2 my-2">
                                {{course.tutoringDescription}}
                            </div>
                        {% endif %}
                        {% for resource in course.courseTutoringResources %}
                            {% if resource.description is not null %}
                                <div class="bg-info rounded-pill text-center p-2 my-2">
                                    {{resource.description}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>


        <!--

        COURSE ACTIVITIES

        -->
        <section id="activities" class="mt-5">
            <h4 class="font-weight-bold">Contenu et activités</h4>
            <hr class="border border-white bg-light" style="height: 2px;">

            {% for section in course.courseSections %}
                <div id="activities_sections" class="mt-4 p-2 bg-light">
                    <h5 class="text-body font-weight-bold">{{section.title}}</h5>
                    <div class="text-body border p-2">
                        {{section.description|raw}}
                    </div>
                    {% if section.courseSectionActivities|length > 0  %}
                        <div class="mt-2">
                            {% set activity = section.courseSectionActivities|first %}
                            {% set activities = [] %}
                            {% set activityType = activity.activity.type %}
                            {% set activityMode = activity.activity.mode %}
                            {% for activity in section.courseSectionActivities %}
                                {% if activityMode != activity.activity.mode or activityType != activity.activity.type %}
                                    {% include 'course/view_student_print_activities.html.twig' with {
                                    'activities': activities,
                                    'activityType': activityType,
                                    'activityMode': activityMode
                                    }%}
                                    {% set activities = [] %}
                                    {% set activityType = activity.activity.type %}
                                    {% set activityMode = activity.activity.mode %}
                                {% endif %}
                                {% set activities = activities|merge([activity]) %}
                            {% endfor %}
                            {% include 'course/view_student_print_activities.html.twig' with {
                            'activities': activities,
                            'activityType': activityType,
                            'activityMode': activityMode
                            }%}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div id="activities_evaluations" class="mt-4">
                <div id="activities_sections" class="mt-4 p-2 bg-light">
                    <h5 class="text-body font-weight-bold">Contrôle Terminal</h5>
                    <div class="mt-2">
                        <div class="d-flex p-3 bg-primary">
                            <div class="mr-auto p-2 d-flex flex-column align-self-center">
                                {% for evaluation in course.courseEvaluationCts %}
                                    <span>
                                    {{ evaluation.activity.label }}
                                        {% if evaluation.description is not null %}
                                            : {{ evaluation.description }}
                                        {% endif %}
                                </span>
                                {% endfor %}
                            </div>
                            <div class="p-2 d-flex align-self-center font-weight-bold">Sur le campus</div>
                            <div class="p-2 d-flex align-self-center">
                                <i class="fas m-3 fa-2x fa-map-marker-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--

        COURSE EVALUATIONS

        -->
        <section id="evaluations" class="mt-5">
            <h4 class="font-weight-bold">Modalités d'évaluation</h4>
            <hr class="border border-white bg-light" style="height: 2px;">
            <div class="row">
                <div class="col-md-6">
                    <div id="evaluations_mcc" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">MODALITÉS DE CONTRÔLE DES CONNAISSANCES</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-dark bg-transparent">
                                    <thead class="">
                                    <tr class="border-bottom font-weight-bold">
                                        <td colspan="2" class="text-center">
                                            1ère session
                                            <i class="fas fa-info-circle"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Type d'évaluation</td>
                                        <td>Coef</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="bg-info">
                                        <td>
                                            <p class="m-0">Contrôle continu</p>
                                            <p class="m-0">({{course.mccCcNbEvalSession1}} minimum)</p>
                                        </td>
                                        <td>{{course.mccCcCoeffSession1}}%</td>
                                    </tr>
                                    <tr class="bg-primary">
                                        <td>
                                            <p class="m-0">Contrôle Terminal </p>
                                            <p class="m-0">{{course.mccCtDurationSession1}}</p>
                                        </td>
                                        <td>{{course.mccCtCoeffSession1}}%</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-dark bg-transparent">
                                    <thead class="">
                                    <tr class="border-bottom font-weight-bold">
                                        <td colspan="2" class="text-center">
                                            2ème session
                                            <i class="fas fa-info-circle"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Type d'évaluation
                                        </td>
                                        <td>
                                            Coef
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="bg-primary">
                                        <td>
                                            <p class="m-0">Contrôle Terminal </p>
                                            <p class="m-0">{{course.mccCtDurationSession2}}</p>
                                        </td>
                                        <td>{{course.mccCtCoeffSession2}}%</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div >
                </div>
                <div class="col-md-6">
                    <div id="evaluations_methods" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">MÉTHODES D'ÉVALUATION</h5>
                        <div class="row">
                            {% for section in course.courseSections %}
                                {% for activity in section.courseSectionActivities %}
                                    {% if activity.activity.type == "evaluation" %}
                                        <div class="col-md-6">
                                            <div class="bg-info rounded-pill text-center p-1 my-1">
                                                {{activity.activity.label}}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% for evaluation in course.courseEvaluationCts %}
                                {% if evaluation.activity.type == "evaluation" %}
                                    <div class="col-md-6">
                                        <div class="bg-primary rounded-pill text-center p-1 my-1">
                                            {{evaluation.activity.label}}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="evaluations_advices" class="mt-4">
                        <h5 class="border border-info bg-light text-info rounded text-center p-2">PRÉCISIONS</h5>
                        {{course.mccAdvice|raw}}
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col d-flex align-items-center">
                    <div class="bg-info rounded-circle p-2 m-2">
                        <h4 class="my-2 font-weight-bold">{{course.mccWeight}}%</h4>
                    </div>
                    <strong class="px-2">Poids dans l'UE</strong>
                    <i class="fas fa-info-circle"></i>
                </div>
                <div class="col d-flex align-items-center">
                    <i class="fas fa-4x fa-check-circle text-info"></i>
                    <strong class="px-2">UE compensable</strong>
                    <i class="fas fa-info-circle"></i>
                </div>
                <div class="col d-flex align-items-center ">
                    {% if course.mccCapitalizable == false %}
                        <i class="fas fa-4x fa-times-circle text-info"></i>
                        <strong class="px-2">UE non capitalisable</strong>
                        <i class="fas fa-info-circle"></i>
                    {% else %}
                        <i class="fas fa-4x fa-check-circle text-info"></i>
                        <strong class="px-2">UE capitalisable</strong>
                        <i class="fas fa-info-circle"></i>
                    {% endif %}
                </div>
            </div>
        </section>


        <!--

        COURSE EQUIPMENTS

        -->
        <section id="equipments_resources" class="mt-5">
            <h4 class="font-weight-bold">Matériel et ressources</h4>
            <hr class="border border-white bg-light" style="height: 2px;">
            <div id="equipments_resources_equipments" class="mt-4">
                <h5 class="border border-info bg-light text-info rounded text-center p-2">MATÉRIEL OBLIGATOIRE</h5>
                <div class="row">
                    {%  for equipment in course.courseResourceEquipments %}
                        <div class="col-md-4 d-flex align-items-center">
                            <i class="fas fa-2x fa-border rounded-circle fa-pencil-ruler p-2"></i>
                            <div class="p-1">
                                <p class="m-0">{{ equipment.equipment.label }}</p>
                                {%  if equipment.description is not null %}
                                    <p class="m-0 font-italic">
                                        <small>{{ equipment.description }}</small>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="equipments_resources_teaching" class="mt-4">
                <h5 class="border border-info bg-light text-info rounded text-center p-2">RESSOURCES PÉDAGOGIQUES</h5>
                {{course.educationalResources|raw}}
            </div>
            <div id="equipments_resources_bibliographic" class="mt-4">
                <h5 class="border border-info bg-light text-info rounded text-center p-2">ÉLÉMENTS BIBLIOGRAPHIQUES</h5>
                {{course.bibliographicResources|raw}}
            </div>
        </section>


        <!--

        COURSE INFORMATION

        -->
        <section id="information" class="mt-5">
            <h4 class="font-weight-bold">Informations pratiques</h4>
            <hr class="border border-white bg-light" style="height: 2px;">
            <div id="information_agenda" class="mt-4">
                <h5 class="border border-info bg-light text-info rounded text-center p-2">AGENDA / CALENDRIER</h5>
                {{course.agenda|raw}}
            </div>
            <div id="information_organization" class="mt-4">
                <h5 class="border border-info bg-light text-info rounded text-center p-2">ORGANISATION DU COURS</h5>
                {{course.organization|raw}}
            </div>
        </section>


        <!--

        REGULATION

        -->
        <section id="regulation" class="mt-5">
            <h4 class="font-weight-bold">Règlementation</h4>
            <hr class="border border-white bg-light" style="height: 2px;">
            <div id="regulation_link" class="mt-4">
                <a href="http://unice.fr" target="_blank" class="btn btn-info btn-block">Consulter la règlementation</a>
            </div>
        </section>


        <!--

        CLOSING

        -->
        <section id="closing" class="mt-5">
            <h4 class="font-weight-bold">Mot de la fin</h4>
            <hr class="border border-white bg-light" style="height: 2px;">
            <div id="closing_remarks" class="mt-4">
                {{course.closingRemarks|raw}}
            </div>
            {% if course.closingVideo
                  and course.closingVideo[:7]|lower == "<iframe"
                  and course.closingVideo[-9:]|lower == "</iframe>" %}
                <div id="closing_video" class="mt-4">
                    <div class="embed-responsive embed-responsive-16by9">
                        {{ course.closingVideo|raw }}
                    </div>
                </div>
            {% endif %}
        </section>


        <div class="mt-5 border bg-dark text-center p-3">
            <small>
                Ce syllabus est non contractuel, il est susceptible d'évoluer en cours d'année, restez vigilants aux dernières modifications (date de mise à jour affichée en haut à droite)
            </small>
        </div>

    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        Syllabus.setMediaFrameAttributes(document.querySelector( '#presentation_media_container > .embed-responsive > iframe' ));
        Syllabus.setMediaFrameAttributes(document.querySelector( '#closing_video > .embed-responsive > iframe' ));
    </script>
{% endblock %}
