{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url':
    path('app.course_info.prerequisite.tutoring_resource.add', {'id': courseInfo.id }), 'data-card': 'card-tutoring-resources'}}) }}
{{ form_errors(form) }}
<div class="row mt-3">
    <div class="col">
        <div>
            <div>
                {% if form.description is defined %}
                    {{ form_row(form.description) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-primary rounded" id="create_button">
        {{ 'app.prerequisites.form.add' | trans }}
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false }) }}