{% extends 'course_info/layout.html.twig' %}

{% block subContent %}
    <div id="section-activities-content">
        {% include 'course_info/activities/view/sidebar_sections.html.twig' %}
        <button id="button-minimize" class="btn text-secondary mt-2"><i class="fas fa-caret-square-left"></i></button>
        <div id="activity-content" class="col p-0">
            {% if activeSection is null %}
                <div class="text-center p-2">
                    <h3 class="text-danger">{{ 'app.activities.view.activity.empty_section' | trans }}</h3>
                    <div class="text-bold">
                        {{ 'app.activities.view.activity.add_sections' | trans }}
                    </div>
                    <i class="fas fa-arrow-left fa-5x"></i>
                </div>
            {% else %}
                {% include 'course_info/activities/view/activity_content.html.twig' %}

                <div class="border-top">

                    <div class="card activity-card">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3 text-black-50">{{ 'list of activity' | trans }}</h3>
                            <ul id="tab-links" class="nav nav-pills ml-auto p-2">
                                {% if activityTypes is not empty %}
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#tab_all" data-toggle="tab">Toutes</a>
                                    </li>
                                    {% for activityType in activityTypes %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="#tab_{{ activityType.id }}" data-toggle="tab">{{ activityType.label }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <div class="m-2">
                                <input id="search-activity-input" class="form-control" type="text" placeholder="{{ 'app.activities.view.carousel.search_activity' | trans }}" aria-label="Search">
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="tab-content">
                                <div id="tab_all" class="tab-pane active">
                                    <div class="activity-carousel">
                                        {% for activity in activities %}
                                            {% if activity.activityTypes is not empty %}
                                                {% set firstActivityType = activity.activityTypes | first %}
                                                <div class="modal-action activity-carousel-item"
                                                     data-action-title="{{ 'app.activities.view.carousel.add_activity' | trans }}"
                                                     data-action-url="{{ path("app.course_info.section.activity.add", {'id': activeSection.id, 'activityId': activity.id, 'activityTypeId': firstActivityType.id}) }}">
                                                    <div class="activity-item-content text-center rounded border">
                                                        <div>
                                                            {{ activity.label }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% for activityType in activityTypes %}
                                    <div id="tab_{{ activityType.id }}" class="tab-pane">
                                        <div class="activity-carousel">
                                            {% for activity in activities %}
                                                {% if activity.activityTypes is not empty and activityType in activity.activityTypes %}
                                                    <div class="modal-action activity-carousel-item"
                                                         data-action-title="{{ 'app.activities.view.carousel.add_activity' | trans }}"
                                                         data-action-url="{{ path("app.course_info.section.activity.add", {'id': activeSection.id, 'activityId': activity.id, 'activityTypeId': activityType.id}) }}">
                                                        <div class="activity-item-content text-center rounded border">
                                                            <div>
                                                                {{ activity.label }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $.fn.modal.Constructor.prototype._enforceFocus = function() {};

        $(document).ready(function() {
            /**
             * Sortable
             */
            if ($('#activities-list').length)
            {
                Syllabus.sortable($('#activities-list'));
            }

            Syllabus.sortable($('#sections-list'));

            /**
             * Init activity carousel
             */

            $('.activity-carousel').slick(
                {
                    slidesToShow: 5,
                }
            );

            /**
             * Activity carousel filtering
             */
            $('#search-activity-input').on('keyup', function () {

                let val = $(this).val();

                $('.activity-carousel').slick('slickUnfilter');
                if (val =='') {
                    return;
                }

                $('.activity-carousel').slick('slickFilter', function () {
                    return $(this).text().toLowerCase().indexOf(val.toLowerCase()) >= 0;
                });
            });


            //Refresh slick position on shown.bs.ta to avoid issues causing by bootstrap tabs
            $('.activity-card').find('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                let tab = $($(this).attr('href'));
                let carousel = tab.find('.activity-carousel');

                carousel.slick('setPosition');

            });

            /**
             * NC (not communicated)
             */
            $('#menu-activities').addClass('active');
            $('#content-{{ contentName|default('default') }}').addClass('p-0');

            $('#button-minimize').click(function () {
                let $sectionActivitiesContent = $('#section-activities-content');
                if ($sectionActivitiesContent.hasClass('sidebar-mini'))
                {
                    $sectionActivitiesContent.removeClass('sidebar-mini');
                    $(this).html('<i class="fas fa-caret-square-left"></i>');
                }
                else
                {
                    $sectionActivitiesContent.addClass('sidebar-mini');
                    $(this).html('<i class="fas fa-caret-square-right"></i>');
                }
            });


        });
    </script>
{% endblock %}
