{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.lastname) }}
            {{ form_widget(form.lastname) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.groups) }}
                {{ form_widget(form.groups) }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{{ buttonLabel|default('Modifier') }}</button>
    {% set user = form.vars.data %}
    {% if user.id %}
        <a type="submit" class="btn btn-primary" href="{{ path('app_admin_user_send_password_token', {'id' : user.id}) }}">Envoyer un mail de réinitialisation de mot de passe</a>
    {% endif %}
{{ form_end(form) }}