{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des utilisateurs' %}
{% block subContent %}

    <div class="card">
        <div class="card-header">
            <a class="btn btn-primary float-right" href="{{ path('app_admin_user_new') }}">Ajouter un utilisateur</a>
        </div>
        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Identifiant', 'u.username') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Nom', 'u.lastname') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Prénom', 'u.firstname') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Groupes', 'u.roles') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in pagination %}
                        <tr>
                            <td><a href="{{ path('app_admin_user_edit', { 'id' : user.id }) }}">{{ user.username }}</a></td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% for group in user.groups %}
                                    {{ not loop.first ? ', ' }}{{ group }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucune utilisateur n'a été enregistré</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
