{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url': path('app.course_info.permission.delete', {'id': form.vars.data.id })}}) }}
{{ form_errors(form) }}
<h5>Voulez-vous supprimer la permission ?</h5>
<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-danger rounded mr-2">{{ "app.general.button.delete" | trans }}</button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form) }}