{% extends 'course_info/layout.html.twig' %}

{% block subContent %}
    <div class="pt-3">
        <div class="card my-2 shadow card-syllabus"
             data-view-url="{{ path('app.course_info.info.info', {'id': courseInfo.id }) }}"
             data-form-url="{{ path('app.course_info.info.info.edit', {'id': courseInfo.id }) }}"
        >
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3 class="text-blue-title">{{ 'app.info.view.additionnal_info' | trans }}</h3>
                    <button type="button" class="edit-button btn button-orange" data-title="{{ 'app.info.view.edit' | trans }}">
                        {{ 'app.info.view.edit' | trans }}
                    </button>
                </div>
            </div>
            <div class="card-body">
            </div>
        </div>

        <div id="card-equipment" class="card my-2 shadow card-syllabus"
             data-view-url="{{ path('app.course_info.resource_equipment.equipments', {'id': courseInfo.id }) }}"
        >
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3 class="text-blue-title">{{ 'app.equipment.view.equipment' | trans }}</h3>
                </div>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('#menu-info').addClass('active');

            $(document).on('click', '.update-focus', function () {
                var updateFocus = $(this);
                var card = updateFocus.closest('.toggle-focus');
                var url = $(this).data("url");
                var section = card.parent('section');
                $.ajax({
                    url: url,
                    method: "GET",
                    dataType: "html",
                    beforeSend: function () {
                        updateFocus.attr("disabled", true).html('<i class="fas fa-spinner fa-spin"></i>');
                        $('#app').addClass('hasActiveChild');
                        $(card).addClass('active');
                    },
                    success: function (data) {
                        section.html(data);
                    }
                });
                $(document).on('submit', 'form', function (e) {
                    e.preventDefault();
                    formSubmit($(this), 'submit');
                });
                $(document).on('click', '.focus-cancel', function () {
                    formSubmit($(this), 'cancel');
                });
            });

            function formSubmit(element, action) {
                var card = element.closest('.toggle-focus');
                var section = card.parent('section');
                var forms = card.find('form');
                var focusSubmit = card.find('button.focus-submit');
                var focusSubmitContent = focusSubmit.html();
                var focusCancel = card.find('button.focus-cancel');
                var focusCancelContent = focusCancel.html();

                var buttonClicked = action === 'cancel' ? focusCancel : focusSubmit;
                var url = buttonClicked.data("url");
                $.ajax({
                    url: url,
                    enctype: 'multipart/form-data',
                    processData: false, // Preventing default serialization.
                    contentType: false, // No auto “contentType” header.
                    data: new FormData(forms[0]),
                    method: "POST",
                    dataType: "html",
                    beforeSend: function () {
                        focusSubmit.attr("disabled", true);
                        focusCancel.attr("disabled", true);
                        buttonClicked.html('<i class="fas fa-spinner fa-spin"></i>');
                    },
                    success: function (data) {
                        $('#app').removeClass('hasActiveChild');
                        $(card).removeClass('active');
                        section.html(data);
                    }
                }).always(function () {
                    focusSubmit.attr("disabled", false).html(focusSubmitContent);
                    focusCancel.attr("disabled", false).html(focusCancelContent);
                });
            }
        });
    </script>
{% endblock %}