{% set notificationsToShow = app.session.get('admin_notifications')|filter(n => n.to_show)  %}
{% if notificationsToShow is not empty %}
    <div class="modal modal-initialized fade" id="modal-notification" data-show="{{ false ? 'false' : 'true' }}">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Notes</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    {% for notification in notificationsToShow %}
                        <div
                                class="alert {{ notification.type ? 'alert-'~notification.type }} alert-dismissible
                                notification-alert"
                                data-path="{{ path('app.notification.seen', {'id' : notification.id}) }}"
                                data-token="{{ csrf_token('notification' ~ notification.id) }}"
                        >
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {{ notification.message }}
                        </div>
                    {% endfor %}
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endif %}