{% extends 'base.html.twig' %}

{% block modals %}
    {{ parent() }}
    {% include 'modal/EcueListUeLight.html.twig' %}
{% endblock %}


{% block main %}
    {% include 'partial/_light_header.html.twig' %}
    <div class="light-view-header"></div>
    <div class="light-view">
        <div class="container">

            {% include 'lightVersion/light_menu.html.twig' %}
            <div class="light-content">

                <div class="student-title">
                    <h1>{{ courseInfo.title }}</h1>
                    <h2>
                        {{ 'app.light_version.presentation.code_ecue' | trans({'%type%' : courseInfo.course.type }) }} {{ courseInfo.course.code }}
                    </h2>
                </div>

                {% if courseInfo.course.parents.count == 1 %}
                    {% set parent = courseInfo.course.parents[0] %}
                    {% set parentInfo = parent.courseInfo(courseInfo.year.id) %}
                    {% if parentInfo is not empty %}
                        <span>{{ 'app.view.student.presentation.belong_to' | trans({'%title%' : parentInfo.title}) }} </span>
                        <span class="text-primary ml-1">
                        {% if parentInfo.ects is not null %}
                            ({{ parentInfo.ects }} ECTS)
                        {% endif %}
                            {{ 'app.view.student.presentation.nb_ecue' | trans({'%ecue%': parent.children.count}) }}
                        </span>
                    {% else %}
                        <span>{{ 'app.view.student.presentation.belong_to' | trans({'%title%' : parent.title}) }} </span>
                    {% endif %}
                {% else %}
                    <span>
                        {% if courseInfo.course.parents.count == 0 and courseInfo.course.ects != 0 %}
                        {{ 'app.view.student.presentation.belong_to_multi' | trans }} <a href="#" data-toggle="modal" data-target="#EcueListUeModalLight">
                            Ce cours donne droit à {{ courseInfo.course.ects }} cours.
                        </a>
                        {% else %}
                        {{ 'app.view.student.presentation.belong_to_multi' | trans }} <a href="#" data-toggle="modal" data-target="#EcueListUeModalLight">
                                {{ courseInfo.course.parents.count }} UE
                            </a>
                        {% endif %}
                    </span>
                {% endif %}

                {% if courseInfo.publicationDate is not null or is_granted(constant('App\\Syllabus\\Constant\\Permission::WRITE'), courseInfo)  %}
                    {% include 'lightVersion/light_presentation.html.twig' %}
                    {% include 'lightVersion/light_prerequisite.html.twig' %}
                    {% include 'lightVersion/light_objectives.html.twig' %}
                    {% include 'lightVersion/light_activities.html.twig' %}
                {% else %}
                    <h4 class="my-5 text-center">
                        {{ 'app.view.student.presentation.not_published' | trans }}
                    </h4>
                {% endif %}
                <div class="text-center">
                    <a href="{{ path('app.course_info.dashboard.index', { 'id' : courseInfo.id }) }}" class="btn btn-primary text-center">
                        {{ 'app.light_version.layout.link_to_authenticate' | trans }}
                    </a>
                    <div class="warning">
                        <div class="text-bold">{{ 'app.view.student.alert.important' | trans }}</div>
                        <div class="font-italic">
                            {{ 'app.view.student.alert.text.part_1' | trans }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
