{% extends 'base.html.twig' %}


{% block main %}
    <div class="bg-dark p-2">
        <i class="fas fa-chevron-left"></i> Université Côte d'azur
    </div>

    <div>
        <img class="w-100" src="{{ asset('build/images/image_banniere.png') }}">
    </div>

    <div class="light-view">
        <div class="container">
            {% include 'lightVersion/light_menu.html.twig' %}
            <div class="light-content">
                {% include 'lightVersion/light_presentation.html.twig' %}
                {% include 'lightVersion/light_prerequisite.html.twig' %}
                {% include 'lightVersion/light_objectives.html.twig' %}
                {% include 'lightVersion/light_activities.html.twig' %}

                <div class="text-muted text-center pb-5">
                    <h5>{{ 'app.view.student.alert.important' | trans }}</h5>
                    <p>
                        {{ 'app.view.student.alert.text.part_1' | trans }}
                    </p>
                    <p>
                        {{ 'app.view.student.alert.text.part_2' | trans }}
                    </p>
                    <a href="{{ 'app.view.student.syllabus_form.link' | trans }}" class="btn btn-outline-primary text-center" target="_blank">
                        {{ 'app.view.student.syllabus_form.text' | trans }}
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}