<section id="presentation-section" class="pb-3">
    <div class="student-title">
        <h2 class="my-1 text-bold text-gray">{{ courseInfo.title }}</h2>
        <div class="mb-3 text-gray">
            {{ 'app.light_version.presentation.code_ecue' | trans }} {{ courseInfo.course.code }}
        </div>
    </div>

    <div class="presentation-info row px-4 pt-4">
        <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="light-subtitle">
                <img class="icon-20" src="{{ asset('build/images/composante_picto.png') }}">
                <span class="text-bold">{{ 'app.view.student.presentation.structure' | trans }}</span>
            </div>
            <ul>
                <li>
                    {{ courseInfo.structure.label }}
                </li>
            </ul>
        </div>
        <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="light-subtitle">
                <img class="icon-20" src="{{ asset('build/images/domaine_picto.png') }}">
                <span class="text-bold">{{ 'app.view.student.presentation.domain' | trans }}</span>
            </div>
            <ul>
                {% for domain in courseInfo.domains %}
                    <li>
                        {{ domain.label }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="light-subtitle">
                <img class="icon-20" src="{{ asset('build/images/lieu_picto.png') }}">
                <span class="text-bold">{{ 'app.view.student.presentation.campus' | trans }}</span>
            </div>
            <ul>
                {% for campus in courseInfo.campuses %}
                    <li>
                        {{ campus.label }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="light-subtitle">
                <img class="icon-20" src="{{ asset('build/images/niveau_picto.png') }}">
                <span class="text-bold">{{ 'app.view.student.presentation.level' | trans }}</span>
            </div>
            <ul>
                {% for level in courseInfo.levels %}
                    <li>
                        {{ level.label }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if courseInfo.periods is not empty %}
            <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
                <div class="light-subtitle">
                    <img class="icon-20" src="{{ asset('build/images/calendrier_picto.png') }}">
                    <span class="text-bold">{{ 'app.view.student.presentation.semester' | trans }}</span>
                </div>
                <ul>
                    {% for period in courseInfo.periods %}
                        <li>
                            {{ period.label }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="light-subtitle">
                <img class="icon-20" src="{{ asset('build/images/langue_picto.png') }}">
                <span class="text-bold">{{ 'app.view.student.presentation.language' | trans }}</span>
            </div>
            <ul>
                {% for language in courseInfo.languages %}
                    <li>
                        {{ language.label }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="title-underlined mt-3">
        {{ 'app.light_version.title_section.presentation' | trans }}
    </div>

    <div class="presentation-summary mt-5">
        {% if courseInfo.mediaType == 'image' and courseInfo.image is not null %}
            {% set imgSrc = courseInfo.image | split('/') | last %}
            <div class="media media-image">
                <img class="img-fluid" src="{{ asset('data/' ~ imgSrc) }}">
            </div>
        {% elseif courseInfo.mediaType == 'video' and courseInfo.video is not null %}
            <div class="media media-video">
                <div class="embed-responsive embed-responsive-16by9">
                    {{ courseInfo.video|raw }}
                </div>
            </div>
        {% endif %}
        <div class="summary">
            {{ courseInfo.summary|purify }}
        </div>

        <div class="row w-100">
            <div class="d-flex flex-column col-12 col-lg-6 mb-4">
                <h6 class="text-bold text-primary">
                    {{ 'app.view.student.presentation.teachers' | trans }}
                </h6>
                <span>
                    {% for teacher in courseInfo.courseTeachers %}
                        {% if not loop.first %}
                            ,
                        {% endif %}
                        {{ teacher.firstname }} {{ teacher.lastname }} {% if teacher.emailVisibility and teacher.email is not null %}({{ teacher.email }}){% endif %}
                    {% endfor %}
                </span>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-between flex-wrap">
                {% if courseInfo.teachingMode == constant('App\\Syllabus\\Constant\\TeachingMode::IN_CLASS') or
                    courseInfo.teachingMode == constant('App\\Syllabus\\Constant\\TeachingMode::HYBRID') %}
                    {% include 'lightVersion/light_teaching_mode_in_class.html.twig' %}
                {% endif %}
                {% if courseInfo.teachingMode == constant('App\\Syllabus\\Constant\\TeachingMode::DIST') or
                    courseInfo.teachingMode == constant('App\\Syllabus\\Constant\\TeachingMode::HYBRID') %}
                    {% include 'lightVersion/light_teaching_mode_dist.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</section>