<section id="activities-section">
    <h3>
        {{ 'app.light_version.title_section.activities' | trans }}
    </h3>

    <ul class="light-sections">
        {% for section in courseInfo.courseSections %}
                <li>
                    <div class="light-section-header collapsed" data-toggle="collapse"
                         data-target="#activity-{{ section.id }}"
                         aria-expanded="false" aria-controls="Title">
                        <span class="light-section-title">{{ section.title }}</span>
                        <img class="collapse-button" src="{{ asset('build/images/collapsed-arrow.png') }}" alt=""/>
                    </div>
                    <div class="light-section-content collapse" id="activity-{{ section.id }}">
                        <div class="row ml-2">
                            <div class="summary">
                                {% if section.description %}
                                    {{ section.description|purify }}
                                {% else %}
                                    {{ 'app.light_version.activities.description_empty' | trans }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
        {% endfor %}
    </ul>
</section>
{#
<div class="mt-2">

</div>
#}
