{% extends 'base.html.twig' %}


{% block main %}
    <div class="bg-dark p-2">
        <i class="fas fa-chevron-left"></i> <a href="https://univ-cotedazur.fr/">{{ 'app.light_version.menu.top_link' | trans }}</a>
    </div>

    <div>
        <img class="w-100" src="{{ asset('build/images/image_banniere.png') }}">
    </div>

    <div class="light-view">
        <div class="container">
            {% include 'lightVersion/light_menu.html.twig' %}
            <div class="light-content">
                {% include 'lightVersion/light_presentation.html.twig' %}
                {% if courseInfo.publicationDate is not null or is_granted(constant('App\\Syllabus\\Constant\\Permission::WRITE'), courseInfo)  %}

                    {% include 'lightVersion/light_prerequisite.html.twig' %}
                    {% include 'lightVersion/light_objectives.html.twig' %}
                    {% include 'lightVersion/light_activities.html.twig' %}

                {% endif %}
                <div class="text-center">
                    <a href="{{ path('app.course_info.dashboard.index', { 'id' : courseInfo.id }) }}" class="btn btn-primary text-center">
                        {{ 'app.light_version.layout.link_to_authenticate' | trans }}
                    </a>
                    <div class="warning">
                        <div class="text-bold">{{ 'app.view.student.alert.important' | trans }}</div>
                        <div class="font-italic">
                            {{ 'app.view.student.alert.text.part_1' | trans }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}