{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.course_info_field.title' | trans %}

{% block subContent %}
    <div class="card">
        
        <div class="card-body">
            {% if courseInfoFields %}
                <table class="table table-striped table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th>{{ 'app.form.course_info_field.label.label'|trans }}</th>
                        <th>{{ 'app.form.course_info_field.label.mannually_duplication'|trans }}</th>
                        <th>{{ 'app.form.course_info_field.label.automatic_duplication'|trans }}</th>
                        <th>{{ 'app.form.course_info_field.label.import'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in courseInfoFields %}
                        <tr>
                            {% set formView = form.createView %}
                            {{ form_start(
                                formView,
                                {
                                    'attr' : {
                                        'data-url' : path('app_admin_course_info_field_edit', { 'id' : field.id }),
                                        'id' : 'course-info-field-'~field.id
                                    }
                                }
                            )}}
                            <td>{{ field.label }}</td>
                            <td>
                                <div class="custom-control custom-switch">
                                    {{ form_widget(formView.manuallyDuplication, { 'id' : formView.manuallyDuplication.vars.id ~ '_' ~ field.id, 'attr' : {
                                        'class' : 'custom-control-input course-info-field-edit-ajax',
                                        'checked' : field.manuallyDuplication,
                                        'data-target' : '#course-info-field-'~field.id
                                    } }) }}
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-switch">
                                    {{ form_widget(formView.automaticDuplication, { 'id' : formView.automaticDuplication.vars.id ~ '_' ~ field.id, 'attr' : {
                                        'class' : 'custom-control-input course-info-field-edit-ajax',
                                        'checked' : field.automaticDuplication,
                                        'data-target' : '#course-info-field-'~field.id
                                    } }) }}
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-switch">
                                    {{ form_widget(formView.import, { 'id' : formView.import.vars.id ~ '_' ~ field.id, 'attr' : {
                                        'class' : 'custom-control-input course-info-field-edit-ajax',
                                        'checked' : field.import,
                                        'data-target' : '#course-info-field-'~field.id
                                    } }) }}
                                </div>
                            </td>
                            {{ form_widget(formView._token, { 'id' : formView._token.vars.id ~ '_' ~ field.id }) }}
                            {{ form_end(formView) }}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">{{ 'admin.course_info_field.empty_field' | trans }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}