{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.year.list_years' | trans %}
{% block subContent %}

    <div class="card">
        <div class="card-header">
            {% include 'action/_year_create.html.twig' %}
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-hover table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.year.year' | trans, 'y.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.year.import' | trans, 'y.import') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.year.editable' | trans, 'y.edit') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'admin.year.current_year' | trans, 'y.current') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for year in pagination %}
                        <tr>
                            <td>
                                {% if is_granted('ROLE_ADMIN_YEAR_UPDATE') %}
                                    <a href="{{ path('app.admin.year.edit', { 'id' : year.id }) }}">
                                        {{ year.label }}
                                    </a>
                                {% else %}
                                    {{ year.label }}
                                {% endif %}
                            </td>
                            <td>{{ year.import|humanizeBoolean }}</td>
                            <td>{{ year.edit|humanizeBoolean }}</td>
                            <td>{{ year.current|humanizeBoolean }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% include 'partial/_no_element.html.twig' %}
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
