{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.notification.list_notifications' | trans %}

{% block modals %}
    {{ parent() }}
    {{ include('partial/warning_delete_modal.html.twig') }}
{% endblock %}

{% block subContent %}
    <div class="card">

        <div class="card-body">

            <div class="d-flex justify-content-end pb-3">
                {% include 'action/_notification_create.html.twig' %}
            </div>

            {% if pagination.totalItemCount > 0 %}
                <table class="table table-hover table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.notification.label.message'|trans, 'n.message') }}</th>
                        <th>{{ 'admin.notification.actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notification in pagination %}
                        <tr>
                            <td>
                                {% if is_granted('ROLE_ADMIN_NOTIFICATION_UPDATE') %}
                                    <a href="{{ path('app.admin.notification.edit', { 'id' : notification.id }) }}">{{ notification.message }}</a>
                                {% else %}
                                    {{ notification.message }}
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN_NOTIFICATION_DELETE') %}
                                    {% set deleteFormView = deleteFormsView[notification.id] %}
                                    {{ form_start(deleteFormView) }}
                                    {{ form_row(deleteFormView._token, {'id': deleteFormView._token.vars.id ~ notification.id }) }}
                                    <button type="button" class="btn btn-danger float-right warning-delete" data-toggle="modal" data-target="#warningDeleteModal">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    {{ form_end(deleteFormView) }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% include 'partial/_no_element.html.twig' %}
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
