{% if courseInfo.courseCriticalAchievements is empty %}
    <span class="empty-data">
        Aucun apprentissage critique renseigné
    </span>
{% else %}
    {% for criticalAchievement in courseInfo.courseCriticalAchievements %}

        <div id="card-achievement-{{ criticalAchievement.id }}" class="border p-2 my-2 shadow card-syllabus"
             data-view-url="{{ path('app.course_info.objectives.achievements', {'id': courseInfo.id }) }}"
        >
            <div class="d-flex justify-content-between">
                <h4>{{ criticalAchievement.criticalAchievement.label }}</h4>
                <div>
                    <button type="button"
                            class="btn btn-link modal-action p-0"
                            data-action-title="Modifier un acquis critique"
                            data-action-url="{{ path('app.course_info.critical_achievement.edit', {'id': criticalAchievement.id}) }}">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-link modal-action p-0 mr-2"
                            data-action-title="Supprimer un acquis critique"
                            data-action-url="{{ path('app.course_info.critical_achievement.delete', {'id': criticalAchievement.id}) }}">
                        <i class="fas fa-trash-alt text-danger"
                        ></i>
                    </button>
                </div>
            </div>
            <div class="card-syllabus mt-3">
                <dl>
                    <dt>
                        {% if criticalAchievement.rule == 'Score' %}
                            {% if criticalAchievement.id in tabValideScore %}
                                <i class="fas fa-circle success"></i>
                            {% else %}
                                <i class="fas fa-circle danger"></i>
                            {% endif %}
                        {% endif %}
                        Règle de validation de l'objectif d'apprentissage
                    </dt>
                    <dd>
                        {% if criticalAchievement.rule == 'Score' %}
                            {{ criticalAchievement.score }} points sont nécessaires
                        {% else %}
                            {{ criticalAchievement.rule }}
                        {% endif %}
                    </dd>
                </dl>

                <div class="d-flex justify-content-end mb-2">
                    <button type="button"
                            class="btn btn-primary rounded modal-action"
                            data-action-title="Ajouter un acquis"
                            data-action-url="{{ path('app.course_info.critical_achievement.learning_achievement.add', {'id': criticalAchievement.id }) }}">
                        Ajouter un acquis
                    </button>
                </div>
                {% if criticalAchievement.learningAchievements is empty %}
                    <span class="empty-data">
                        Aucun acquis d'apprentissage renseigné
                    </span>
                {% else %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-left" style="width: 70%">Description</th>
                            <th class="text-center" style="width: 10%">
                                {% if criticalAchievement.rule == 'Score' %}
                                    Score
                                {% endif %}
                            </th>
                            <th class="text-center" style="width: 20%">Modifier/Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for learningAchievement in criticalAchievement.learningAchievements %}
                            <tr>
                                <td class="text-left" style="width: 70%">{{ learningAchievement.description }}</td>
                                <td class="text-center" style="width: 10%">
                                    {% if criticalAchievement.rule == 'Score' %}
                                        {{ learningAchievement.score }}
                                    {% endif %}
                                </td>
                                <td class="text-center" style="width: 20%">
                                    <button type="button"
                                            class="btn btn-link modal-action p-0"
                                            data-action-title="Modifier un acquis"
                                            data-action-url="{{ path('app.course_info.learning_achievement.edit', {'id': learningAchievement.id }) }}">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-link modal-action p-0"
                                            data-action-title="Supprimer un acquis"
                                            data-action-url="{{ path('app.course_info.learning_achievement.delete', {'id': learningAchievement.id }) }}">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

        </div>
    {% endfor %}
{% endif %}
