{% form_theme form.roles 'form/groups_field.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.label) }}
    {{ form_row(form.roles) }}
    {% if form.obsolete is defined %}
        <div class="form-group custom-control custom-switch">
            {{ form_widget(form.obsolete) }}
            {{ form_label(form.obsolete) }}
        </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">{{ 'admin.button.save' | trans }}</button>
{{ form_end(form) }}
