{% extends 'base_layout.html.twig' %}
{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <h3>{{ courseInfo.title }}</h3>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a class="nav-link menu-tab"
                       href="{{ path('course_presentation', { 'id': courseInfo.id }) }}"
                       id="menu-presentation">
                        <i>1</i>&nbsp;
                        <p>Présentation générale</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link menu-tab"
                       id="menu-activities"
                       href="{{ path('edit_activities_course_info', { 'id': courseInfo.id }) }}">
                        <i>2</i>&nbsp;
                        <p>Contenu et activités</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-tab" id="menu-objective"
                       href="{{ path('edit_objectives_course_info', { 'id': courseInfo.id }) }}">
                        <i>3</i>&nbsp;
                        <p>Objectifs du cours</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-tab" href="{{ path('edit_mcc_course_info', { 'id': courseInfo.id }) }}">
                        <i>4</i>&nbsp;
                        <p>Modalités d'évaluation</p>
                    </a>
                </li>
                <li class="nav-item menu-tab">
                    <a class="nav-link" href="{{ path('edit_equipments_course_info', { 'id': courseInfo.id }) }}">
                        <i>5</i>&nbsp;
                        <p>Matériel et ressources</p>
                    </a>
                </li>
                <li class="nav-item menu-tab">
                    <a class="nav-link" href="{{ path('edit_infos_course_info', { 'id': courseInfo.id }) }}">
                        <i>6</i>&nbsp;
                        <p>Informations pratiques</p>
                    </a>
                </li>
                <li class="nav-item menu-tab">
                    <a class="nav-link" href="{{ path('edit_closing_remarks_course_info', { 'id': courseInfo.id }) }}">
                        <i>7</i>&nbsp;
                        <p>Le mot de la fin</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <section class="content pt-2">
        <div class="container-fluid">
            {% block subContent %}{% endblock %}
        </div>
    </section>
{% endblock %}