{% extends 'base_layout.html.twig' %}

{% block modals %}
    {% include 'default/modal.html.twig' %}
{% endblock %}

{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>

    </ul>
{% endblock %}

{% block sidebar %}
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column user-panel" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a class="nav-link menu-tab"
                       href="{{ path('course_dashboard_index', { 'id': courseInfo.id }) }}"
                       id="menu-dashboard">
                        <i class="fas fa-th"></i>
                        <p>Tableau de bord</p>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a class="nav-link menu-tab"
                       href="{{ path('course_presentation_index', { 'id': courseInfo.id }) }}"
                       id="menu-presentation">
                        <i class="fas fa-star"></i>
                        <p>Présentation Générale</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link menu-tab"
                       id="menu-activities"
                       href="{{ path('course_activities', { 'id': courseInfo.id }) }}">
                        <i class="fas fa-list-alt"></i>
                        <p>Contenu et activités</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link menu-tab"
                       id="menu-objectives-course"
                       href="{{ path('objective_course_index', { 'id': courseInfo.id }) }}">
                        <i class="fas fa-bullseye"></i>
                        <p>Objectifs du cours</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link menu-tab"
                       id="menu-evaluation"
                       href="{{ path('course_evaluation_specifications_index', { 'id': courseInfo.id }) }}">
                        <i class="fas fa-medal"></i>
                        <p>Modalités d'évaluation</p>
                    </a>
                </li>
                <li class="nav-item menu-tab has-treeview">
                    <a class="nav-link"
                       id="menu-resource"
                       href="{{ path('course_equipment_index', { 'id': courseInfo.id }) }}">
                        <i class="fas fa-tools"></i>
                        <p>Matériel et ressources</p>
                    </a>
                </li>
                <li class="nav-item menu-tab has-treeview">
                    <a class="nav-link" href="{{ path('course_info_index', { 'id': courseInfo.id }) }}"
                       id="menu-info">
                        <i class="fas fa-info-circle"></i>
                        <p>Informations pratiques</p>
                    </a>
                </li>
                <li class="nav-item menu-tab has-treeview">
                    <a class="nav-link" href="{{ path('course_closing_remarks_index', { 'id': courseInfo.id }) }}"
                       id="menu-closing_remarks">
                        <i class="fas fa-flag-checkered"></i>
                        <p>Le mot de la fin</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <h3>{{ courseInfo.title }}</h3>
        </div><!-- /.container-fluid -->
    </div>
    <section id="content-{{ contentName|default('default') }}" class="content">
        <div class="container-fluid">
            {% block subContent %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('course_info_layout') }}
{% endblock %}