<div class="card bg-dark">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <div class="text-center">
                    <img src="{{ asset('images/activity_in_class_white_64.png') }}">
                </div>
            </div>
            <div class="col-sm">
                <span class="text-bold">{{ activityType }}</span>
                <div>
                    {% for act in activities %}
                        {% if act.evaluable %}
                            <div>
                                <span class="text-danger">
                                    {{ act.activity.label }} ({{ act.activityMode }})
                                    {% if act.description is not null %}
                                        : {{ act.description }}
                                    {% endif %}
                                </span>
                                {% if act.evaluationPeer %}<span class="badge badge-primary rounded float-right mr-2">{{ 'app.activities.view.activity.evaluated_peers' | trans }}</span>{% endif %}
                                {% if act.evaluationTeacher %}<span class="badge badge-primary rounded float-right mr-2">{{ 'app.activities.view.activity.evaluated_teachers' | trans }}</span>{% endif %}
                                <span class="badge badge-danger rounded float-right mr-2">
                                    {{ (act.evaluationCt ? 'ct' : 'cc') | trans }} ({{ act.evaluationRate }}%)
                                </span>
                            </div>
                        {% else %}
                            <div>
                                <span>
                                    {{ act.activity.label }} ({{ act.activityMode }})
                                    {% if act.description is not null %}
                                        : {{ act.description }}
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>