{% if courseInfo.educationalResources is not empty or
    courseInfo.bibliographicResources is not empty or
    courseInfo.courseResourceEquipments is not empty %}
    <hr class="bg-dark horizontal-separator">
    <div class="px-4">
        <h1 id="equipments-section" class="text-shadow my-2">{{ 'app.view.student.tabs.equipments' | trans   }}</h1>

        {% if courseInfo.courseResourceEquipments is not empty %}
            <div class="row">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th class="text-left">{{ 'app.view.student.equipments.list' | trans }}</th>
                        <th class="text-left">{{ 'app.view.student.equipments.description' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for resourceEquipment in courseInfo.courseResourceEquipments %}
                        <tr>
                            <td class="text-left">{{ resourceEquipment.equipment.label }}</td>
                            <td class="text-left">{{ resourceEquipment.description|humanizeEmptyData() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if courseInfo.educationalResources is not empty or
            courseInfo.bibliographicResources is not empty %}
            <div class="row">
                {% if courseInfo.educationalResources is not empty %}
                    <div class="col-6">
                        <dl>
                            <dt>{{ 'app.view.student.equipments.educational_resources' | trans }}</dt>
                            <dd>
                                {{ courseInfo.educationalResources | humanizeEmptyData() | purify }}
                            </dd>
                        </dl>
                    </div>
                {% endif %}
                {% if courseInfo.bibliographicResources is not empty %}
                    <div class="col-6">
                        <dl>
                            <dt>{{ 'app.view.student.equipments.bibliographic_resources' | trans }}</dt>
                            <dd>
                                {{ courseInfo.bibliographicResources | humanizeEmptyData() | purify }}
                            </dd>
                        </dl>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}