{%
    if courseInfo.agenda is not empty or
    courseInfo.organization is not empty or
    courseInfo.mccAdvice is not null or
    courseInfo.closingRemarks is not empty or
    courseInfo.closingVideo is not empty
%}
    <h3 id="info-section" class="text-shadow mt-5">{{ 'app.view.student.tabs.info' | trans   }}</h3>
    <hr class="bg-dark horizontal-separator">
    {% if courseInfo.mccAdvice is not null %}
        <div class="row">
            <h5 class="bg-dark border border-danger rounded text-center p-2 w-100">{{ 'app.view.student.info.evaluation' | trans | upper }}</h5>
            <div>
                {{ courseInfo.mccAdvice | humanizeEmptyData() | purify }}
            </div>
        </div>
    {% endif %}

    {% if courseInfo.agenda is not empty %}
        <div class="row">
            <h5 class="bg-dark border border-danger rounded text-center p-2 w-100">{{ 'app.view.student.info.agenda' | trans }}</h5>
            <div>
                {{ courseInfo.agenda | humanizeEmptyData() | purify }}
            </div>
        </div>
    {% endif %}

    {% if courseInfo.organization is not empty %}
        <div class="row">
            <h5 class="bg-dark border border-danger rounded text-center p-2 w-100">{{ 'app.view.student.info.organization' | trans }}</h5>
            <div>
                {{ courseInfo.organization | humanizeEmptyData() | purify }}
            </div>
        </div>
    {% endif %}

    {% if courseInfo.closingRemarks is not empty %}
        <div class="row">
            <h5 class="bg-dark border border-danger rounded text-center p-2 w-100">{{ 'app.view.student.info.closing_remarks' | trans }}</h5>
            <div>
                {{ courseInfo.closingRemarks | humanizeEmptyData() | purify }}
            </div>
            {% if courseInfo.closingVideo is not empty %}
                <div class="embed-responsive embed-responsive-16by9">
                    {{ courseInfo.closingVideo|raw  }}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
