{%
    if courseInfo.agenda is not empty or
    courseInfo.organization is not empty
%}
    <hr class="bg-dark horizontal-separator">
    <div class="px-4">
        <h1 id="info-section" class="text-shadow my-3">{{ 'app.view.student.tabs.info' | trans }}</h1>
        {% if courseInfo.agenda is not empty %}
            <div class="row">
                <h5 class="bg-dark border border-danger rounded text-center p-2 w-100">{{ 'app.view.student.info.agenda' | trans | upper }}</h5>
                <div>
                    {{ courseInfo.agenda | humanizeEmptyData() | purify }}
                </div>
            </div>
        {% endif %}

        {% if courseInfo.organization is not empty %}
            <div class="row">
                <h5 class="bg-dark border border-danger rounded text-center p-2 w-100">{{ 'app.view.student.info.organization' | trans | upper }}</h5>
                <div>
                    {{ courseInfo.organization | humanizeEmptyData() | purify }}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
