{% extends 'base.html.twig' %}

{% block body_class %}
{% endblock %}

{% block main %}
    <div class="student-view">
        <div class="container">
            <div class="student-content">
                <section id="presentation-section" class="pb-3">
                    <div class="student-title">
                        <h1 class="mb-0">{{ 'app.view.student.tabs.presentation' | trans }}</h1>
                        <h5 class="mb-3">
                            {{ courseInfo.title }} - {{ courseInfo.course.code }}
                            <span class="float-right text-sm">{{ 'app.view.student.presentation.last_update' | trans }} - {{ courseInfo.modificationDate | date("d/m/Y") }}</span>
                        </h5>

                    </div>
                    <div class="presentation-info row p-4">
                        <div class="presentation-info-element pb-0 col-12 col-lg-4 col-md-6 col-sm-12">
                            <div class="student-subtitle">
                                <img class="icon-20" src="{{ asset('/build/images/composante_picto.png') }}">
                                <span>{{ 'app.view.student.presentation.structure' | trans }}</span>
                            </div>
                            <ul class="student-list list-dotted">
                                <li>
                                    {{ courseInfo.structure.label }}
                                </li>
                            </ul>
                        </div>

                        {% if courseInfo.course.parents | length == 1 %}
                            {% set parent = courseInfo.course.parents[0] %}
                            {% set parentInfo = '' %}
                            {% if courseInfo.course.parents|length == 1 %}
                                {% for info in parent.courseInfos %}
                                    {% if info.year.id == courseInfo.year.id %}
                                        {% set parentInfo = info %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if parentInfo is not empty %}
                                {% set title = parentInfo.title %}
                                {% set ects = parentInfo.ects %}
                                {% set ecue = parent.children|length %}
                                <div class="presentation-info-element pb-0 col-8">
                                    <div class="student-subtitle">
                                        <img class="icon-20" src="{{ asset('/build/images/info_picto.png') }}">
                                        <span>
                                            {{ 'app.view.student.presentation.belong_to' | trans({'%title%' : title}) }}
                                        </span>
                                        <span class="text-primary ml-1">
                                            {% if ects is not null %}
                                                ({{ ects }} ECTS)
                                            {% endif %}
                                            {{ 'app.view.student.presentation.nb_ecue' | trans({'%ecue%': ecue}) }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>

                    <h3 class="mt-5 text-center">
                        {{ 'app.view.student.presentation.not_published' | trans }}
                    </h3>
                </section>
            </div>
        </div>
    </div>
{% endblock %}