<section id="activities-section" class="content">
    <div class="container-fluid">
        <div class="card my-2 shadow">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3  class="text-shadow" style="font-weight: 500;">{{ 'app.view.student.tabs.activities' | trans }}</h3>
                </div>
            </div>
            <div class="card-body">
                {% for section in courseInfo.courseSections %}
                    {% if section.courseSectionActivities is not empty %}
                        <div class="row">
                            <h4 class="text-shadow">{{ section.title }}</h4>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="text-left">Activité</th>
                                    <th class="text-left">Mode</th>
                                    <th class="text-left">Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sectionActivity in section.courseSectionActivities %}
                                    <tr>
                                        <td class="text-left">{{ sectionActivity.activity.label }}</td>
                                        <td class="text-left">{{ sectionActivity.activityMode }}</td>
                                        <td class="text-left">{{ sectionActivity.activityType }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
