{% set teachingCm = courseInfo.teachingCmDist %}
{% set teachingTd = courseInfo.teachingTdDist %}
{% if courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::HYBRID') %}
        {% set teachingCm = courseInfo.teachingCmHybridDist %}
        {% set teachingTd = courseInfo.teachingTdHybridDist %}
{% endif %}


<div class="teaching-mode">
        <div class="teaching-mode_title">
                <img src="{{ asset('build/images/distanciel_picto.png') }}">
                <div>
                        <h5 class="title-underlined">{{ 'app.view.student.presentation.distant' | trans }}</h5>
                </div>
        </div>
        <ul>
                {% if teachingCm is not empty %}
                        <li>
                                <i class="fas fa-check text-primary"></i>
                                {{ 'app.view.student.presentation.hours_cm' | trans({'%hours%': teachingCm}) }}
                        </li>
                {% endif %}
                {% if teachingTd is not empty %}
                        <li>
                                <i class="fas fa-check text-primary"></i>
                                {{ 'app.view.student.presentation.hours_td' | trans({'%hours%': teachingTd}) }}
                        </li>
                {% endif %}
                {% for teaching in courseInfo.teachings %}
                        {% if teaching.mode == constant('AppBundle\\Constant\\TeachingMode::DIST') %}
                                <li>
                                        <i class="fas fa-check text-primary"></i>
                                        {{ 'app.view.student.presentation.hours_teachings' | trans({'%hours%': teaching.hourlyVolume, '%type%': teaching.type}) }}
                                </li>
                        {% endif %}
                {% endfor %}
        </ul>
</div>








