<section id="information-section" class="pb-5">
    <div class="student-title">
        <div class="student-img-banner"
             style="background-image: url('{{ asset('build/images/information_photo.jpg') }}') !important; ">
        </div>
        <div class="student-text-banner">
            {{ 'app.view.student.tabs.info' | trans }}
        </div>
    </div>

        {% if courseInfo.agenda is not empty %}
            <div class="mb-4">
                <div class="student-subtitle mb-3">
                    <img src="{{ asset('build/images/calendrier_picto.png') }}" class="icon-40" alt="">
                    <h5 class="title-underlined">{{ 'app.view.student.info.agenda' | trans }}</h5>
                </div>
                {{ courseInfo.agenda|purify }}
            </div>
        {% endif %}
        {% if courseInfo.organization is not empty %}
            <div class="mb-4">
                <div class="student-subtitle mb-3">
                    <img src="{{ asset('build/images/organisation_picto.png') }}" class="icon-40" alt="">
                    <h5 class="title-underlined">{{ 'app.view.student.info.organization' | trans }}</h5>
                </div>
                {{ courseInfo.organization|purify }}
            </div>
        {% endif %}
        {% if courseInfo.courseResourceEquipments is not empty %}
            <div class="mb-4">
                <div class="student-subtitle mb-3">
                    <img src="{{ asset('build/images/materiel_picto.png') }}" class="icon-40" alt="">
                    <h5 class="title-underlined">{{ 'app.view.student.equipments.required_equipments' | trans }}</h5>
                </div>
                <ul class="student-list">
                    {% for resourceEquipment in courseInfo.courseResourceEquipments %}
                        {% if resourceEquipment.equipment.labelVisibility == true or resourceEquipment.description is not null %}
                            <li>
                                <i class="fas fa-check"></i>
                                <div class="d-flex flex-column">
                                    {% if resourceEquipment.equipment.labelVisibility == true %}
                                        <span>{{ resourceEquipment.equipment.label }}</span>
                                        {% if resourceEquipment.equipment.labelVisibility == true %}
                                            <span class="small font-italic">{{ resourceEquipment.description }}</span>
                                        {% endif %}
                                    {% elseif resourceEquipment.equipment.labelVisibility == false and resourceEquipment.description is not null %}
                                        <span>{{ resourceEquipment.description }}</span>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
</section>