<section id="presentation-section" class="content">
    <h3 class="blue_uca mt-5">{{ 'app.view.student.tabs.equipments' | trans }}</h3>
    <input type="image" src="/build/images/modalite_photo.jpg">

    <div class="row mt-5">
        <div class="col-4 border-right border-white">
            <input width="40px" height="40px" type="image" src="/build/images/presentiel_picto.png">
            <span>{{ 'app.view.student.equipments.bibliographic_resources' | trans }}</span>
            <div>
                {{ courseInfo.bibliographicResources | humanizeEmptyData() | purify }}
            </div>
        </div>
        <div class="col-4 pl-4 border-right border-white">
            <input width="40px" height="40px" type="image" src="/build/images/presentiel_picto.png">
            <span>{{ 'app.view.student.equipments.educational_resources' | trans }}</span>
            <div>
                {{ courseInfo.educationalResources | humanizeEmptyData() | purify }}
            </div>
        </div>
        <div class="col-4 pl-4">
            <input width="40px" height="40px" type="image" src="/build/images/presentiel_picto.png">
            <span>{{ 'app.view.student.equipments.required_equipments' | trans }}</span>
            <ul class="blue_uca fa-ul">
                {% for resourceEquipment in courseInfo.courseResourceEquipments %}
                    <li class="mb-2">
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <p class="m-0 text-white">{{ resourceEquipment.equipment.label }}</p>
                        {% if resourceEquipment.description %}
                            <small class="m-0 font-italic text-white">
                                {{ resourceEquipment.description|humanizeEmptyData() }}
                            </small>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>