<section id="activities-section" class="pb-5">
    <div class="student-title">
        <h1 class="text-primary">{{ 'app.view.student.tabs.activities' | trans }}</h1>
        <img src="{{ asset('build/images/programmation_photo.jpg') }}" alt="">
    </div>
        <ul class="student-sections">
            {% for section in courseInfo.courseSections %}
                {% if section.courseSectionActivities is not empty %}
                    <li>
                        <div class="student-section-header" data-toggle="collapse" data-target="#activity-{{ section.id }}"
                             aria-expanded="false" aria-controls="Title">
                            <span class="student-section-title">{{ section.title }}</span>
                            <img class="icon-20" src="{{ asset('build/images/collapsed-arrow.png') }}" alt=""/>
                        </div>
                        <div class="collapse mb-2" id="activity-{{ section.id }}">
                            {% if section.url %}
                                <div class="text-right">
                                    <a href="{{ section.url }}" target="_blank">
                                        <u>{{ 'app.view.student.activities.section_url' | trans }}</u>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="bg-black">
                                <ul class="student-list">
                                    {% for courseSectionActivity in section.courseSectionActivities %}
                                        <li>
                                            <i class="fas fa-check text-primary"></i>[{{ courseSectionActivity.activityType }}] {{ courseSectionActivity.activity.label }} - {{ courseSectionActivity.activityMode }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
</section>
{#
    <div class="mt-2">

    </div>
#}
