{% if courseInfo.agenda is not empty or courseInfo.organization is not empty %}
<section id="info-section" class="content">
    <div class="container-fluid">
        <div class="card my-2 shadow">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3  class="text-shadow" style="font-weight: 500;">{{ 'app.view.student.tabs.info' | trans }}</h3>
                </div>
            </div>
            <div class="card-body">
                    <div class="ml-2">
                        {% if courseInfo.agenda is not empty %}
                            <dl>
                                <dt>{{ 'app.view.student.info.agenda' | trans }}</dt>
                                <dd>
                                    {{ courseInfo.agenda | humanizeEmptyData() | purify }}
                                </dd>
                            </dl>
                        {% endif %}
                        {% if courseInfo.organization is not empty %}
                            <dl>
                                <dt>{{ 'app.view.student.info.organization' | trans }}</dt>
                                <dd>
                                    {{ courseInfo.organization | humanizeEmptyData() | purify }}
                                </dd>
                            </dl>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
</section>
{% endif %}