<section id="equipment-section" class="pb-5">
    <div class="student-title">
        <h1 class="text-primary">{{ 'app.view.student.tabs.equipments' | trans }}</h1>
        <img src="{{ asset('build/images/materiel_photo.jpg') }}" alt="">
    </div>

    <div class="student-grid">
        <div class="grid-element">
            <div class="student-subtitle mb-3">
                <img src="{{ asset('build/images/biblio_picto.png') }}" class="icon-40" alt="">
                <h5 class="title-underlined">{{ 'app.view.student.equipments.bibliographic_resources' | trans }}</h5>
            </div>
            <div class="student-ressources">
                {{ courseInfo.bibliographicResources | humanizeEmptyData() | purify }}
            </div>
        </div>

        <div class="grid-element">
            <div class="student-subtitle mb-3">
                <img src="{{ asset('build/images/biblio_picto.png') }}" class="icon-40" alt="">
                <h5 class="title-underlined">{{ 'app.view.student.equipments.educational_resources' | trans }}</h5>
            </div>
            <div class="student-ressources">
                {{ courseInfo.educationalResources | humanizeEmptyData() | purify }}
            </div>
        </div>

        <div class="grid-element">
            <div class="student-subtitle mb-3">
                <img src="{{ asset('build/images/materiel_picto.png') }}" class="icon-40" alt="">
                <h5 class="title-underlined">{{ 'app.view.student.equipments.required_equipments' | trans }}</h5>
            </div>
            <ul class="student-list">
                {% for resourceEquipment in courseInfo.courseResourceEquipments %}
                    <li>
                        <i class="fas fa-check"></i>
                        {% if resourceEquipment.equipment.labelVisibility == true %}
                            <div class="d-flex flex-column">
                                <span>{{ resourceEquipment.equipment.label }}</span>
                                {% if resourceEquipment.equipment.labelVisibility == true %}
                                    <span class="small font-italic">{{ resourceEquipment.description }}</span>
                                {% endif %}
                            </div>
                        {% else %}
                            <span>{{ resourceEquipment.description }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</section>