<section id="equipment-section" class="pb-5">
    <div class="student-title">
        <h1 class="text-primary">{{ 'app.view.student.tabs.equipments' | trans }}</h1>
        <img src="{{ asset('build/images/materiel_photo.jpg') }}" alt="">
    </div>

    <div class="student-grid">
        {% if courseInfo.bibliographicResources is not empty %}
            <div class="grid-element">
                <div class="student-subtitle mb-3">
                    <img src="{{ asset('build/images/biblio_picto.png') }}" class="icon-40" alt="">
                    <h5 class="title-underlined">{{ 'app.view.student.equipments.bibliographic_resources' | trans }}</h5>
                </div>
                <div class="student-ressources">
                    {{ courseInfo.bibliographicResources | humanizeEmptyData() | purify }}
                </div>
            </div>
        {% endif %}
        {% if courseInfo.educationalResources is not empty %}
            <div class="grid-element">
                <div class="student-subtitle mb-3">
                    <img src="{{ asset('build/images/biblio_picto.png') }}" class="icon-40" alt="">
                    <h5 class="title-underlined">{{ 'app.view.student.equipments.educational_resources' | trans }}</h5>
                </div>
                <div class="student-ressources">
                    {{ courseInfo.educationalResources | humanizeEmptyData() | purify }}
                </div>
            </div>
        {% endif %}
        {% if courseInfo.courseResourceEquipments is not empty %}
            <div class="grid-element">
                <div class="student-subtitle mb-3">
                    <img src="{{ asset('build/images/materiel_picto.png') }}" class="icon-40" alt="">
                    <h5 class="title-underlined">{{ 'app.view.student.equipments.required_equipments' | trans }}</h5>
                </div>
                <ul class="student-list">
                    {% for resourceEquipment in courseInfo.courseResourceEquipments %}
                        {% if resourceEquipment.equipment.labelVisibility == true or resourceEquipment.description is not null %}
                            <li>
                                <i class="fas fa-check"></i>
                                <div class="d-flex flex-column">
                                    {% if resourceEquipment.equipment.labelVisibility == true %}
                                        <span>{{ resourceEquipment.equipment.label }}</span>
                                        {% if resourceEquipment.equipment.labelVisibility == true %}
                                            <span class="small font-italic">{{ resourceEquipment.description }}</span>
                                        {% endif %}
                                    {% elseif resourceEquipment.equipment.labelVisibility == false and resourceEquipment.description is not null %}
                                        <span>{{ resourceEquipment.description }}</span>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</section>