<section id="presentation-section" class="pb-5">
    <div class="student-title">
        <h1 class="mb-0">{{ 'app.view.student.tabs.presentation' | trans }}</h1>
        <h5 class="mb-3">{{ courseInfo.title }}</h5>
    </div>
    <div class="presentation-info row p-4">
        <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="student-subtitle">
                <img class="icon-20" src="{{ asset('/build/images/composante_picto.png') }}">
                <span>{{ 'app.view.student.presentation.structure' | trans }}</span>
            </div>
            <ul class="student-list list-dotted">
                <li>
                    {{ courseInfo.structure.label }}
                </li>
            </ul>
        </div>
        <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="student-subtitle">
                <img class="icon-20" src="{{ asset('/build/images/domaine_picto.png') }}">
                <span>{{ 'app.view.student.presentation.domain' | trans }}</span>
            </div>
            <ul class="student-list list-dotted">
                {% for domain in courseInfo.domains %}
                    <li>
                        {{ domain.label }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="student-subtitle">
                <img class="icon-20" src="{{ asset('/build/images/lieu_picto.png') }}">
                <span>{{ 'app.view.student.presentation.campus' | trans }}</span>
            </div>
            <ul class="student-list list-dotted">
                {% for campus in courseInfo.campuses %}
                    <li>
                        {{ campus.label }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="student-subtitle">
                <img class="icon-20" src="{{ asset('/build/images/niveau_picto.png') }}">
                <span>{{ 'app.view.student.presentation.level' | trans }}</span>
            </div>
            <ul class="student-list list-dotted">
                {% for level in courseInfo.levels %}
                    <li>
                        {{ level.label }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if courseInfo.periods is not empty %}
            <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
                <div class="student-subtitle">
                    <img class="icon-20" src="{{ asset('/build/images/calendrier_picto.png') }}">
                    <span>{{ 'app.view.student.presentation.semester' | trans }}</span>
                </div>
                <ul class="student-list list-dotted">
                    {% for period in courseInfo.periods %}
                        <li>
                            {{ period.label }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="presentation-info-element col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="student-subtitle">
                <img class="icon-20" src="{{ asset('/build/images/langue_picto.png') }}">
                <span>{{ 'app.view.student.presentation.language' | trans }}</span>
            </div>
            <ul class="student-list list-dotted">
                {% for language in courseInfo.languages %}
                    <li>
                        {{ language.label }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if courseInfo.course.parents | length == 1 %}
            {% set parent = courseInfo.course.parents[0] %}
            {% set parentInfo = '' %}
            {% if courseInfo.course.parents|length == 1 %}
                {% for info in parent.courseInfos %}
                    {% if info.year.id == courseInfo.year.id %}
                        {% set parentInfo = info %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if parentInfo is not empty %}
                {% set title = parentInfo.title %}
                {% set ects = parentInfo.ects %}
                {% set ecue = parent.children|length %}
                <div class="presentation-info-element col-12">
                    <div class="student-subtitle">
                        <img class="icon-20" src="{{ asset('/build/images/info_picto.png') }}">
                        <span>{{ 'app.view.student.presentation.belong_to' | trans({'%title%' : title}) }} </span>
                        <span class="text-primary ml-1">
                        {% if ects is not null %}
                            ({{ ects }} ECTS)
                        {% endif %}
                            {{ 'app.view.student.presentation.nb_ecue' | trans({'%ecue%': ecue}) }}
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="presentation-summary mt-5">
        {% if courseInfo.mediaType == 'image' and courseInfo.image is not null %}
            {% set imgSrc = courseInfo.image | split('/') | last %}
            <div class="media media-image">
                <img class="img-fluid" src="{{ asset('data/' ~ imgSrc) }}">
            </div>
        {% elseif courseInfo.mediaType == 'video' and courseInfo.video is not null %}
            <div class="media media-video">
                <div class="embed-responsive embed-responsive-16by9">
                    {{ courseInfo.video|raw }}
                </div>
            </div>
        {% endif %}
        <div class="summary">
            {{ courseInfo.summary|purify }}
        </div>
        <div class="d-flex flex-column">
            <h6 class="text-bold">
                {{ 'app.view.student.presentation.teachers' | trans }}
            </h6>
            <span class="text-primary">
            {% for teacher in courseInfo.courseTeachers %}
                {% if not loop.first %}
                    ,
                {% endif %}
                {{ teacher.firstname }} {{ teacher.lastname }}
            {% endfor %}
            </span>
        </div>
    </div>

    <div class="student-grid pt-5" style="clear: both;">
        {% if courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::IN_CLASS') or
            courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::HYBRID') %}
            {% include 'course_info/view/student_teaching_mode_in_class.html.twig' %}
        {% endif %}
        {% if courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::DIST') or
            courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::HYBRID') %}
            {% include 'course_info/view/student_teaching_mode_dist.html.twig' %}
        {% endif %}
    </div>

</section>