<section id="presentation-section" class="content">
    <h3 class="blue_uca mt-5">Modalités d'évaluation</h3>
    <input type="image" src="/build/images/modalite_photo.jpg">

    <div class="row mt-4">
        <div class="col-4 pr-5">
            <div>
                {{ 'app.evaluation.view.continuous_assessment' | trans }}
                {% if courseInfo.mccCcCoeffSession1 is not null %}
                    ({{ courseInfo.mccCcCoeffSession1 }}%)
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: {{ courseInfo.mccCcCoeffSession1 }}%;" aria-valuenow="{{ courseInfo.mccCcCoeffSession1 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                {% endif %}
            </div>
            <div class="mt-3">
                {{ 'app.evaluation.view.exam' | trans }}
                {% if courseInfo.mccCtCoeffSession1 is not null %}
                    ({{ courseInfo.mccCtCoeffSession1 }}%)
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: {{ courseInfo.mccCtCoeffSession1 }}%;" aria-valuenow="{{ courseInfo.mccCtCoeffSession1 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                {% endif %}
            </div>

        </div>

        <div class="col-8">
            <p>
                {{ 'app.view.student.objectives.evaluation_description' | trans }}
            </p>
        </div>
        <div class="col-4 mt-3">
            {{ 'app.evaluation.view.specifications' | trans }}
            <p>
                {{ courseInfo.mccAdvice|humanizeEmptyData() | purify }}
            </p>
        </div>


    </div>


</section>