<section id="presentation-section" class="content">
    <h3 class="text-primary">Présentation générale</h3>
    <div class="dark-light">
        <div class="row p-4">
            <div class="col-4">
                <span>
                <input class="student-icon" type="image" src="/build/images/composante_picto.png">
                    {{ 'app.view.student.presentation.structure' | trans }}
                </span>
                <ul class="text-primary">
                    <li>{{ courseInfo.structure.label }}</li>
                </ul>
            </div>
            <div class="col-4">
                <input class="student-icon" type="image" src="/build/images/domaine_picto.png">
                <span>{{ 'app.view.student.presentation.domain' | trans }}</span>
                <ul class="text-primary">
                    <div class="row" style="width: 50%">
                        {% for domain in courseInfo.domains %}
                            <li class="col-md-6">{{ domain.label }}</li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
            <div class="col-4">
                <input class="student-icon" type="image" src="/build/images/niveau_picto.png">
                <span>{{ 'app.view.student.presentation.level' | trans }}</span>
                <ul class="text-primary">
                    <div class="row" style="width: 50%">
                        {% for level in courseInfo.levels %}
                            <li class="col-md-6">{{ level.label }}</li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
            <div class="col-4">
                <input class="student-icon" type="image" src="/build/images/lieu_picto.png">
                <span>{{ 'app.view.student.presentation.campus' | trans }}</span>
                <ul class="text-primary">
                    <div class="row" style="width: 50%">
                        {% for campus in courseInfo.campuses %}
                            <li class="col-md-6">{{ campus.label }}</li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
            <div class="col-4">
                <input class="student-icon" type="image" src="/build/images/langue_picto.png">
                <span>{{ 'app.view.student.presentation.language' | trans }}</span>
                <ul class="text-primary">
                    <div class="row" style="width: 50%">
                        {% for language in courseInfo.languages %}
                            <li class="col-md-6">{{ language.label }}</li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
            <div class="col-4">
                {% if courseInfo.course.parents is not empty %}
                    {% set parent = courseInfo.course.parents[0] %}
                    {% set parentInfo = '' %}
                    {% if courseInfo.course.parents|length == 1 %}
                        {% for info in parent.courseInfos %}
                            {% if info.year.id == courseInfo.year.id %}
                                {% set parentInfo = info %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if parent is not empty and parentInfo is not empty %}
                        {% set title = parentInfo.title %}
                        {% set ects = parentInfo.ects %}
                        {% set ecue = parent.children|length %}
                    {% endif %}

                    <input class="student-icon" type="image" src="/build/images/info_picto.png">
                    <span>{{ 'app.view.student.presentation.belong_to' | trans({'%title%' : title}) }}</span>
                    <ul class="text-primary">
                        <li>
                            {% if ects is not null %}
                                ({{ ects }})
                            {% endif %}
                            {{ 'app.view.student.presentation.nb_ecue' | trans({'%ecue%': ecue}) }}
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="w-100 col-12">
            <div class="mr-3 mb-3" style="float: left; width: 50%;">
                {% if courseInfo.mediaType == 'image' and courseInfo.image is not null %}
                    {% set imgSrc = courseInfo.image | split('/') | last %}
                    <img class="img-thumbnail img-fluid" src="{{ asset('data/' ~ imgSrc) }}">
                {% elseif courseInfo.mediaType == 'video' and courseInfo.video is not null %}
                    <div class="embed-responsive embed-responsive-16by9">
                        {{ courseInfo.video|raw }}
                    </div>
                {% else %}
                    <div class="border rounded d-flex align-items-center justify-content-center"
                         style="min-height: 200px;">
                        <i class="fas fa-4x fa-images text-light"></i>
                    </div>
                {% endif %}
            </div>
            <p>
                {{ courseInfo.summary|purify }}
            </p>
            <p class="ml-4">
            <div class="text-bold col-12">{{ 'app.view.student.presentation.teachers' | trans }}</div>
            {% for teacher in courseInfo.courseTeachers %}
                <span class="text-primary"> {% set teachers =(not loop.first ? ', ') %}</span>
            {% endfor %}
            </p>
        </div>
    </div>
    <!--
{#
    <div class="row mt-5">
        {% if courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::HYBRID') %}
            <div class="col-4" style="border-right: solid white; border-width: 0 1px;">
                {% include 'course_info/view/student_teaching_mode_in_class.html.twig' %}
            </div>
            <div class="col-4" style="margin-left: 20px">
                {% include 'course_info/view/student_teaching_mode_dist.html.twig' %}
            </div>
        {% elseif courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::DIST') %}
            <div class="col-4">
                {% include 'course_info/view/student_teaching_mode_dist.html.twig' %}
            </div>
        {% elseif courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::IN_CLASS') %}
            <div class="col-4">
                {% include 'course_info/view/student_teaching_mode_in_class.html.twig' %}
            </div>
        {% endif %}
    </div>
    #}
-->
    {#
    <div class="row mt-5" style="display: flex; flex-wrap: wrap; justify-content: space-around">
        {% if courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::HYBRID') %}
            <div>{% include 'course_info/view/student_teaching_mode_in_class.html.twig' %}</div>
            <div style="border-right: solid white; border-width: 0 1px;"></div>
            <div>{% include 'course_info/view/student_teaching_mode_dist.html.twig' %}</div>
        {% elseif courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::DIST') %}
            <div>{% include 'course_info/view/student_teaching_mode_dist.html.twig' %}</div>
        {% elseif courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::IN_CLASS') %}
            <div>{% include 'course_info/view/student_teaching_mode_in_class.html.twig' %}</div>
        {% endif %}
    </div>
    #}

    <div class="teaching-modes mt-5">
        {% if courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::IN_CLASS') or courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::HYBRID') %}
            {% include 'course_info/view/student_teaching_mode_in_class.html.twig' %}
        {% endif %}
        {% if courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::DIST') or courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::HYBRID') %}
            {% include 'course_info/view/student_teaching_mode_dist.html.twig' %}
        {% endif %}
    </div>


    <div class="row mt-5">
        <div class="col-2" style="border-right: solid white; border-width: 0 1px;">

        </div>
        <div class="col-3" style="margin-left: 20px">

        </div>
    </div>
</section>