<section id="objectives-section" class="content">
    <div class="container-fluid">
        <div class="card my-2 shadow">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3  class="text-shadow" style="font-weight: 500;">{{ 'app.view.student.tabs.objectives' | trans }}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-left">{{ 'app.view.student.objectives.achievements_list' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for achievement in courseInfo.courseAchievements %}
                            <tr>
                                <td class="text-left">{{ achievement.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-left">{{ 'app.view.student.objectives.critical_achievements_list' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for criticalAchievement in courseInfo.courseCriticalAchievements %}
                            <tr>
                                <td class="text-left">{{ criticalAchievement.label }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-left">{{ 'app.view.student.objectives.prerequisites_list' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prerequisite in courseInfo.coursePrerequisites %}
                            <tr>
                                <td class="text-left">{{ prerequisite.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-left">{{ 'app.view.student.objectives.tutoring_resources_list' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tutoringResources in courseInfo.courseTutoringResources %}
                            <tr>
                                <td class="text-left">{{ tutoringResources.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
