{% extends 'course_info/layout.html.twig' %}

{% block subContent %}
    <div class="pt-3">
        <section>
            <div class="card">
                <div class="card-header text-center bg-gradient-primary">
                    <h5 class="text-bold">
                        {{ 'app.evaluation.view.first_session' | trans }}
                    </h5>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table">
                        <thead>
                        <tr class="text-center">
                            <th>{{ 'app.evaluation.view.evaluation_type' | trans }}</th>
                            <th>{{ 'app.evaluation.view.evaluation_rate' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center">
                            <td><p class="my-0">{{ 'app.evaluation.view.continuous_assessment' | trans }}</p>
                                {% if courseInfo.mccCcNbEvalSession1 %}
                                    ({{ courseInfo.mccCcNbEvalSession1 }} {{ 'app.evaluation.view.minimm' | trans }})
                                {% else %}
                                    {{ courseInfo.mccCcNbEvalSession1|humanizeEmptyData }}
                                {% endif %}
                            </td>
                            <td>{{ courseInfo.mccCcCoeffSession1|humanizeEmptyData }} {{ courseInfo.mccCcCoeffSession1 ? '%' }}</td>
                        </tr>
                        <tr class="text-center">
                            <td>{{ 'app.evaluation.view.exam' | trans }}
                                {% if courseInfo.mccCtDurationSession1 is not null %}
                                    - {{ courseInfo.mccCtDurationSession1 }}
                                {% endif %}
                            </td>
                            <td>{{ courseInfo.mccCtCoeffSession1|humanizeEmptyData }} {{ courseInfo.mccCtCoeffSession1 ? '%' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div class="card my-2 shadow card-syllabus"
             data-view-url="{{ path('app.course_info.evaluation.specifications', {'id': courseInfo.id }) }}"
             data-form-url="{{ path('app.course_info.evaluation.specifications.edit', {'id': courseInfo.id }) }}"
        >
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3>{{ 'app.evaluation.view.info_evaluation' | trans }}</h3>
                    <button type="button" class="edit-button btn btn-primary rounded" data-title="{{ 'app.evaluation.view.edit' | trans }}">
                        {{ 'app.evaluation.view.edit' | trans  }}
                    </button>
                </div>
            </div>
            <div class="card-body"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#menu-evaluation').addClass('active');
        });
    </script>
{% endblock %}