{% extends 'course_info/layout.html.twig' %}

{% block subContent %}

    <section>
        <div class="card">
            <div class="card-header text-center bg-gradient-primary">
                <h5 class="text-bold">
                    1ère Session
                </h5>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>Type d'évaluation</th>
                        <th>Coefficient</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center">
                        <td><p class="my-0">Contrôle Continu</p> ({{courseInfo.mccCcNbEvalSession1}} minimum)</td>
                        <td>{{courseInfo.mccCcCoeffSession1}}%</td>
                    </tr>
                    <tr class="text-center">
                        <td>Contrôle Terminal - {{courseInfo.mccCtDurationSession1}}</td>
                        <td>{{courseInfo.mccCtCoeffSession1}}%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section>
        {% include('course_info/evaluation/view/specifications.html.twig') %}
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#menu-evaluation').addClass('active');
            $('#menu-evaluation').addClass('border-bottom-3 border-white');
        });
    </script>
{% endblock %}