{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url':
    path('app.course_info.prerequisite.add', {'id': courseInfo.id }), 'data-card': 'card-prerequisite'}}) }}
{{ form_errors(form) }}
<div class="row mt-3">
    <div class="col">
        <div>
            <div>
                {% if form.description is defined %}
                    {{ form_row(form.description) }}
                {% endif %}
                <label>{{ "app.prerequisites.form.is_course_associated" | trans }}</label>
                {{ form_row(form.isCourseAssociated) }}
                <div id="courses-content" class="d-none">
                    {{ form_row(form.courses) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn button-orange" id="create_button">
        {{ 'app.prerequisites.form.add' | trans }}
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false }) }}

<script>
    $('#course_prerequisite_isCourseAssociated').bootstrapToggle();

    $(document).ready(function () {
        displayCoursesContent();

        $(document).on('change', '#course_prerequisite_isCourseAssociated', function () {
            displayCoursesContent();
        });

        function displayCoursesContent() {
            let display = $('#course_prerequisite_isCourseAssociated').closest('div .toggle');
            if (display.hasClass("off"))
            {
                $('#courses-content').addClass('d-none');
            }
            else
            {
                $('#courses-content').removeClass('d-none');
            }
        }

        $('form[name="course_prerequisite"]').find('.select2entity').select2entity();
    });
</script>