{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des syllabus' %}
{% block subContent %}

    <div class="card">
        <div class="card-header">
            {{ form_start(form) }}
            <div class="row ui-front">
                <div class="col-md-2">
                    {{ form_row(form.course) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.year) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.structure) }}
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="btn btn-danger" style="margin-top: 32px" href="{{  path('app_admin_course_info_index')  }}">Réinitialiser les filtres</a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="btn btn-primary float-right" style="margin-top: 32px" href="#">Ajouter un syllabus</a>
                </div>
            </div>
            <input type="submit" style="position: absolute; left: -9999px"/>
            {{ form_end(form) }}
            {#<a class="btn btn-primary float-right" href="{{ path('app_admin_year_new') }}">Ajouter une année</a>#}
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.course.label.type'|trans, 'c.type') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.year.label.label'|trans , 'y.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.course_info.label.title'|trans , 'ci.title') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.structure.label.label'|trans, 's.label') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for syllabus in pagination %}
                        <tr>
                            <td>{{ syllabus.course.type }}</td>
                            <td>{{ syllabus.year.label }}</td>
                            <td>{{ syllabus.title }}</td>
                            <td>{{ syllabus.structure.label }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucun syllabus n'a été trouvé avec ces critères</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
