{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des syllabus' %}

{% block modals %}
    {{ parent() }}
    <div class="modal modal-initialized fade" id="courseInfoDuplicationModal" style="display: none;" aria-hidden="true" data-show="{{ isFormValid ? "false" : "true" }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vers quel syllabus voulez-vous dupliquer le contenu?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                {{ form_start(duplicationForm) }}
                <div class="modal-body">
                    {{ form_errors(duplicationForm) }}
                    {{ form_label(duplicationForm.to) }}
                    {{ form_widget(duplicationForm.to) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Dupliquer</button>
                </div>
                {{ form_end(duplicationForm) }}
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}
{% block subContent %}

    <div class="card">
        <div class="card-header">
            {{ form_start(form) }}
            <div class="row ui-front">
                <div class="col-md-2">
                    {{ form_row(form.course) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.year) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.structure) }}
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="btn btn-danger" style="margin-top: 32px" href="{{  path('app_admin_course_info_index')  }}">Réinitialiser les filtres</a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="btn-group">
                        <button type="button" style="margin-top: 32px" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">Actions
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{  path('app_admin_course_info_new')  }}">Ajouter un syllabus</a>
                            <a class="dropdown-item" href="{{  path('app_admin_course_info_duplicate_syllabus_from_file')  }}">Dupliquer syllabus en masse</a>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" style="position: absolute; left: -9999px"/>
            {{ form_end(form) }}
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.course.label.code'|trans, 'c.code') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.course.label.type'|trans, 'c.type') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.year.label.label'|trans , 'y.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.course_info.label.title'|trans , 'ci.title') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'Structure', 's.label') }}</th>
                        <th>{{ 'app.form.global.action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for syllabus in pagination %}
                        <tr>
                            <td>{{ syllabus.course.code }}</td>
                            <td>{{ syllabus.course.type }}</td>
                            <td>{{ syllabus.year.label }}</td>
                            <td>{{ syllabus.title }}</td>
                            <td>{{ syllabus.structure.label }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseInfoDuplicationModal" data-code-year="{{ syllabus.codeYear(true) }}">
                                    Dupliquer les infos
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucun syllabus n'a été trouvé avec ces critères</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
