<h6 class="mb-3">
    {{ 'app.presentation.view.teachers.title' | trans }}
</h6>
{% if courseInfo.courseTeachers is empty %}
    <div class="d-flex justify-content-center align-items-center mandatory-data">
        <span class="empty-data">
            {{ 'app.presentation.view.teachers.empty_teacher' | trans }}
        </span>
    </div>
{% else %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th>{{ 'app.presentation.view.teachers.lastname' | trans }}</th>
                    <th>{{ 'app.presentation.view.teachers.firstname' | trans }}</th>
                    <th>{{ 'app.presentation.view.teachers.mail' | trans }}</th>
                    <th>{{ 'app.presentation.view.teachers.attributes' | trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for teacher in courseInfo.courseTeachers %}
                <tr class="text-center">
                    <td>{{ teacher.lastname }}</td>
                    <td>{{ teacher.firstname }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>
                        {% if teacher.emailVisibility %}
                            <i class="fas fa-eye" data-toggle="tooltip" title="{{ 'app.presentation.view.teachers.mail_visible' | trans }}"></i>
                        {% else %}
                            <i class="fas fa-eye-slash" data-toggle="tooltip" title="{{ 'app.presentation.view.teachers.mail_invisible' | trans }}"></i>
                        {% endif %}
                        {% if teacher.manager %}
                            <i class="fas fa-graduation-cap" data-toggle="tooltip" title="{{ 'app.presentation.view.teachers.responsible' | trans }}"></i>
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-link modal-action p-0"
                                data-action-title="{{ 'app.presentation.view.teachers.delete_teacher' | trans }}"
                                data-action-url="{{ path('course_presentation_remove_teacher', {'id': courseInfo.id, 'teacherId': teacher.id}) }}">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<script>
    $('[data-toggle="tooltip"]').tooltip({
        container: '.content-wrapper'
    });
</script>
