{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des demandes d\'avis' %}
{% block subContent %}

    <div class="card">

        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.activity.label.label'|trans, 'a.label') }}</th>
                        <th class="sortable">Année</th>
                        <th class="sortable">Utilisateur</th>
                        <th class="sortable text-center">traité</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for askAdvice in pagination %}
                        <tr>
                            <td>
                                <a href="{{ path('app_admin.ask_advice_view', { 'id' : askAdvice.id }) }}">{{ askAdvice.courseInfo.title }}</a>
                            </td>
                            <td>
                                {{ askAdvice.courseInfo.year.id }}
                            </td>
                            <td>
                                {{ askAdvice.user.lastname }} {{ askAdvice.user.firstname }}
                            </td>
                            <td class="text-center">
                                {% if askAdvice.process == true %}
                                    <i class="fas fa-circle success"></i>
                                {% else %}
                                    <i class="fas fa-circle danger"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucune activité n'a été trouvée avec ces critères</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
