{{ form_start(form, {'attr': {'class': 'form-focus'}}) }}
    {{ form_errors(form) }}
<div class="mt-3">
    <div>
        <label placeholder="Période (facultatif)">Indiquer toutes les informations dont vous disposez sur le
            calendrier du cours, des examens…</label>
        <br><span>Vous pouvez aussi partager un emploi du temps (lien web…).</span>
        {{ form_widget(form.agenda) }}
    </div>
    <div class="mt-3">
        <label class="mt-6" placeholder="En quelle(s) langue(s) est dispensé ce cours (facultatif)">Comment
            allez-vous organiser votre cours ?</label>
        {{ form_widget(form.organization) }}
    </div>
</div>
<div class="mt-2">
    <button type="submit" class="focus-submit btn btn-primary submit rounded"
            data-url="{{ path('course_info_convenient_view', {'id': courseInfo.id, 'action': 'submit' }) }}">
        Sauvegarder
    </button>
    <button type="button" class="focus-cancel btn btn-secondary rounded"
            data-url="{{ path('course_info_convenient_view', {'id': courseInfo.id, 'action': 'cancel' }) }}">
        Annuler
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false }) }}
