{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.activity_type.edit_activity_type' | trans %}
{% set href = path('app.admin.activity_type.index') %}

{% block subContent %}

    <div class="card card-primary">
        <!-- /.card-header -->
        <!-- form start -->
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form.label) }}
            {{ form_row(form.activityModes) }}
            {{ form_row(form.icon) }}
            {% if form.vars.data.icon is not null %}
            {% set imgSrc = form.vars.data.icon | split('/') | last %}
            <img src="{{ asset('data/' ~ imgSrc) }}" class="icon-100">
            {% else %}
                {{ 'admin.activity_type.activity_no_icon'|trans }}
            {% endif %}
            <div class="custom-control custom-switch mt-3">
                {{ form_row(form.obsolete) }}
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">{{ 'admin.button.edit' | trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}