{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm">
            {{ form_start(form) }}
            <button type="button" id="addSectionButton"
                    class="btn btn-outline-primary btn-block btn-sm">
                Nouvelle section
            </button>
            <ul class="list-group" id="sections"
                data-prototype="{{ form_widget(form.sections.vars.prototype)|e('html_attr') }}">
            {% for section in form_row(form.sections) %}
                <li class="list-group-item">
                    {{ form_widget(section) }}
                </li>
            {% endfor %}
            </ul>
            <button class="btn btn-outline-secondary btn-block submit" type="button">
                Save
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        /**
         * @param collectionHolder
         */
        function addSectionForm(collectionHolder){
            var prototype = collectionHolder.data('prototype');
            var index = collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            collectionHolder.data('index', index+1);
            var newFormLi = $('<li class="list-group-item"></li>').append(newForm);
            collectionHolder.append(newFormLi);
            addSectionFormDeleteLink(newFormLi);
        }

        /**
         *
         * @param sectionForm
         */
        function addSectionFormDeleteLink(sectionForm){
            var removeFormButton = $('<button type="button" class="btn btn-outline-danger btn-sm">Delete</button>');
            sectionForm.prepend(removeFormButton);
            removeFormButton.click(function(e){
                sectionForm.remove();
            });
        }

        /**
         *
         */
        $(document).ready(function(){
            var sectionsCollectionHolder = $('#sections');
            sectionsCollectionHolder.data('index', sectionsCollectionHolder.find('li').length);
            sectionsCollectionHolder.find('li').each(function(){
                addSectionFormDeleteLink($(this));
            });

            $('#addSectionButton').click(function(){
                addSectionForm(sectionsCollectionHolder);
            });

            $('.submit').click(function(){
                $.ajax({
                    type: 'POST',
                    url: '{{ path('save_activities_course_info', { 'id': courseInfo.id })|escape('js') }}',
                    data: $(this).closest('form').serialize()
                }).done(function(){
                    alert('done');
                }).fail(function(){
                    alert('fail');
                });
            });

            $('#sections').sortable( {
                    group: {
                        name: "sections",
                    },
                    //handle: ".sortable_handle",
                    sort: true,
                    animation: 150
                } );

        });

    </script>
{% endblock %}