{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des syllabus en cours de remplissage' %}
{% block subContent %}

    <div class="card">
        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.activity.label.label'|trans, 'a.label') }}</th>
                        <th class="sortable">Type</th>
                        <th class="sortable text-center">Code établissement</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for courseInfo in pagination %}
                        <tr>
                            <td>
                                <a href="{{ path('app.course_info.dashboard.index', { 'id' : courseInfo.id }) }}">{{ courseInfo.title }}</a>
                            </td>
                            <td>
                                {{ courseInfo.course.type }}
                            </td>
                            <td>
                                {{ courseInfo.course.code }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucun Syllabus n'a été trouvé avec ces critères</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
