{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url': path('course_activities_remove_activity', {'sectionId': courseSection.id, 'courseSectionActivityId': courseSectionActivity.id })}}) }}
{{ form_errors(form) }}
<h5>Êtes-vous sûr(e) de vouloir supprimer l'activité "{{ courseSectionActivity.activity.label }}" ?</h5>
<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-danger rounded mr-2">Supprimer</button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form) }}