{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url': path('app.course_info.achievement.edit', {'id': form.vars.data.id }),
    'data-card': 'card-achievement'}}) }}
{{ form_errors(form) }}
<div class="row mt-3">
    <div class="col">
        <div>
            <div>
                <label>À la fin de ce cours, l'étudiant devrait être capable de…</label>
                {% if form.description is defined %}
                    {{ form_widget(form.description) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-primary rounded" id="create_button">
        Ajouter
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false }) }}