{{ form_start(form, {'attr': {'class': 'form-focus'}}) }}
{{ form_errors(form) }}
<div class="mt-3">
    <div>
        {{ form_label(form.agenda) }}
        <small class="text-muted">
            {{ 'app.info.form.agenda_annotation' | trans }}
        </small>
        {{ form_widget(form.agenda) }}
    </div>
    <div class="mt-3">
        {{ form_row(form.organization) }}
    </div>
</div>
<div class="mt-2">
    <button type="submit" class="focus-submit btn submit button-orange"
            data-url="{{ path('app.course_info.info.info', {'id': courseInfo.id, 'action': 'submit' }) }}">
        {{ 'app.info.form.save' | trans }}
    </button>
    <button type="button" class="btn-link btn text-black cancel-button"
            data-url="{{ path('app.course_info.info.info', {'id': courseInfo.id, 'action': 'cancel' }) }}">
        <u>{{ 'app.info.form.cancel' | trans }}</u>
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false }) }}
