<section id="evaluation-section" class="pb-5">
    <div class="student-title">
        <div class="student-img-banner"
             style="background-image: url('{{ asset('build/images/modalite_photo.jpg') }}') !important; ">
        </div>
        <div class="student-text-banner">
            {{ 'app.view.student.tabs.evaluation' | trans }}
        </div>
    </div>
    {% if courseInfo.mccCcCoeffSession1 is not null and courseInfo.mccCtCoeffSession1 is not null %}
        <div class="row">
            <div class="col col-12 col-lg-5 pr-5 mb-4">
                {% if courseInfo.mccCcCoeffSession1 is not null %}
                    <div class="mb-4">
                        {{ 'app.evaluation.view.continuous_assessment' | trans }}
                        ({{ courseInfo.mccCcCoeffSession1 }}%)
                        <div class="progress student-progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ courseInfo.mccCcCoeffSession1 }}%;"
                                 aria-valuenow="{{ courseInfo.mccCcCoeffSession1 }}" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                {% endif %}
                {% if courseInfo.mccCtCoeffSession1 is not null %}
                    <div>
                        {{ 'app.evaluation.view.exam' | trans }}
                        ({{ courseInfo.mccCtCoeffSession1 }}%)
                        <div class="progress student-progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ courseInfo.mccCtCoeffSession1 }}%;"
                                 aria-valuenow="{{ courseInfo.mccCtCoeffSession1 }}" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col col-12 col-lg-7 mb-4">
                <p>
                    {{ 'app.view.student.objectives.evaluation_description' | trans }}
                </p>
            </div>
        </div>
    {% endif %}
    {% if courseInfo.mccAdvice is not null %}
        <div>
            <span class="text-bold">{{ 'app.evaluation.view.specifications' | trans }}</span>
            <div>{{ courseInfo.mccAdvice|humanizeEmptyData() | purify }}</div>
        </div>
    {% endif %}
</section>