<section id="prerequisites-section" class="pb-5">
    <div class="student-title">
        <div class="student-img-banner"
             style="background-image: url('{{ asset('build/images/prerequis_photo.png') }}') !important; ">
        </div>
        <div class="student-text-banner">
            {{ 'app.view.student.tabs.prerequisites' | trans }}
        </div>
    </div>

    <div class="student-grid justify-content-center">
        <div class="grid-element grid-2-elements">
            {% if courseInfo.coursePrerequisites is not empty %}
                <div class="student-subtitle">
                    <span class="text-bold">{{ 'app.view.student.prerequisites.prerequisites_description' | trans }}</span>
                </div>
                <ul class="student-list list-dotted">
                    {% for prerequisite in courseInfo.coursePrerequisites %}
                        <li>
                            <div class="d-flex flex-column">
                                <span>{{ prerequisite.description | linkify({"attr": {"target": "_blank"}}) | raw }}</span>
                                {% if prerequisite.courses is not empty %}
                                    {% if prerequisite.isCourseAssociated %}
                                        {% for course in prerequisite.courses %}
                                            <div class="ml-3 small font-italic">
                                                <i class="fas fa-check text-success"></i>
                                                {{ course.title }} - ({{ course.code }})
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="p-2 empty-element">{{ 'app.view.student.prerequisites.empty_prerequiste' | trans }}</div>
            {% endif %}
        </div>
        <div class="grid-element  grid-2-elements">
            {% if courseInfo.courseTutoringResources is not empty %}
                <div class="student-subtitle">
                    <span class="text-bold">{{ 'app.view.student.prerequisites.tutoring_resources_description' | trans }}</span>
                </div>
                <ul class="student-list list-dotted">
                    {% if courseInfo.tutoring %}
                        <li>
                            <div>
                                {{ 'app.view.student.prerequisites.tutoring' | trans }}
                                {% if courseInfo.tutoringTeacher == true and courseInfo.tutoringStudent == true %}
                                    {{ 'app.view.student.prerequisites.tutoring_by_both' | trans }}
                                {% elseif courseInfo.tutoringTeacher == true and courseInfo.tutoringStudent == false %}
                                    {{ 'app.view.student.prerequisites.tutoring_by_teacher' | trans }}
                                {% elseif courseInfo.tutoringTeacher == false and courseInfo.tutoringStudent == true %}
                                    {{ 'app.view.student.prerequisites.tutoring_by_student' | trans }}
                                {% endif %}
                                {% if courseInfo.tutoringDescription %}
                                    ({{ courseInfo.tutoringDescription }})
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}

                    {% for tutoringResource in courseInfo.courseTutoringResources %}
                        <li>
                            <div>
                                {{ tutoringResource.description | linkify({"attr": {"target": "_blank"}}) | raw }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="p-2 empty-element">{{ 'app.view.student.prerequisites.empty_tutoring_resources' | trans }}</div>
            {% endif %}
        </div>
    </div>
</section>