{% extends 'base.html.twig' %}

{% block body_class %}
{% endblock %}

{% block modals %}
    {% include 'modal/EcueListUe.html.twig' %}
{% endblock %}

{% block main %}
    <div class="student-view">
        <div class="container">
            {% if courseInfo.publicationDate is not null or is_granted(constant('App\\Syllabus\\Constant\\Permission::WRITE'), courseInfo) %}
                {% include 'course_info/view/student_vertical_menu.html.twig' %}
            {% endif %}
            <div class="student-content">
                {% if courseInfo.publicationDate is null %}
                    <h3 class="my-5 text-center">
                        {{ 'app.view.student.presentation.not_published' | trans }}
                    </h3>
                {% endif %}

                {% if courseInfo.publicationDate is not null or is_granted(constant('App\\Syllabus\\Constant\\Permission::WRITE'), courseInfo) %}

                    {% include 'course_info/view/student_presentation.html.twig' %}
                    {% include 'course_info/view/student_prerequisite.html.twig' %}
                    {% include 'course_info/view/student_objectives.html.twig' %}
                    {% include 'course_info/view/student_activities.html.twig' %}
                    {% if (courseInfo | displayValidator('evaluation_empty')) == true %}
                        {% include 'course_info/view/student_evaluation.html.twig' %}
                    {% endif %}
                    {% if (courseInfo | displayValidator('equipments_empty')) == true %}
                        {% include 'course_info/view/student_equipments.html.twig' %}
                    {% endif %}
                    {% if (courseInfo | displayValidator('info_empty')) == true %}
                        {% include 'course_info/view/student_info.html.twig' %}
                    {% endif %}
                    {% if (courseInfo | displayValidator('closing_remarks_empty')) == true %}
                        {% include 'course_info/view/student_closing_remarks.html.twig' %}
                    {% endif %}
                {% endif %}
                <h3 class="my-5 text-left text-primary">
                    {{ 'app.view.student.presentation.support_for_success' | trans }}
                </h3>
                <ul>
                    <li>
                        <a href="https://univ-cotedazur.fr/tuttop" class="text-blue" target="_blank">
                            TUT'TOP
                        </a>&nbsp;: du tutorat par les pairs sur le plan méthodologique, social, administratif ou logistique
                    </li>
                    <li>
                        <a href="https://lms.univ-cotedazur.fr/{{ courseInfo.year.id }}/enrol/index.php?id=13515" class="text-blue"target="_blank">
                            Kit de(sur) vie étudiant UCA
                        </a>&nbsp;: un guide pour comprendre l'université et ses outils
                    </li>
                    <li>
                        <a href="https://ecriplus.fr/" class="text-blue" target="_blank">
                            écri+
                        </a> : pour améliorer son francais écrit
                    </li>
                    <li>
                        <a href="https://univ-cotedazur.fr/portails/staps/scolarite/organisation-des-etudes/centres-de-ressources-en-langues" class="text-blue" target="_blank">
                            Centre de ressources en langues
                        </a>&nbsp;: développer ses compétences en langues vivantes, française ou étrangères
                    </li>
                    <li>
                        <a href="https://bu.univ-cotedazur.fr/fr/se-former/metoda" class="text-blue" target="_blank">
                            METODA
                        </a>&nbsp;: pour booster ses compétences informationnelles
                    </li>
                    <li>
                        <a href="https://univ-cotedazur.fr/universite/responsabilite-ethique-et-universitaire/handicap" class="text-blue" target="_blank">
                            Cellule Handicap
                        </a>&nbsp;: découvrir les aides proposées pour les étudiants en situation de handicap
                    </li>
                    <li>
                        <a href="https://univ-cotedazur.fr/portails/portail-sciences-et-technologies/scolarite/sorienter-se-reorienter/sorienter-se-reorienter" class="text-blue" target="_blank">
                            S'orienter ou se réorienter
                        </a>&nbsp;: être accompagné dans les BIO
                    </li>
                    <li>
                        <a href="https://univ-cotedazur.fr/formation/scolarite/evaluation-des-enseignements-et-des-formations" class="text-blue" target="_blank">
                            Maison de l'évaluation
                        </a>&nbsp;: évaluer ses enseignements à la fin de chaque semestre
                    </li>
                    <li>Université Numérique thématique</li>
                </ul>

                <div class="text-muted text-center pb-5">
                    <h5>{{ 'app.view.student.alert.important' | trans }}</h5>
                    <p>
                        {{ 'app.view.student.alert.text.part_1' | trans }}
                    </p>
                    <p>
                        {{ 'app.view.student.alert.text.part_2' | trans }}
                    </p>
                    <a href="{{ 'app.view.student.syllabus_form.link' | trans }}"
                       class="btn btn-outline-primary text-center" target="_blank">
                        {{ 'app.view.student.syllabus_form.text' | trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('[data-toggle="tooltip"]').tooltip({
            template: '<div class="tooltip" role="tooltip"><div class="arrow border-white"></div><div class="tooltip-inner bg-white"></div></div>'
        });
    </script>
{% endblock %}
