{% extends 'base.html.twig' %}

{% block body_class %}
{% endblock %}

{% block main %}
    <div class="student-view">
        <div class="container">
            {% if courseInfo.publicationDate is not null or is_granted(constant('App\\Syllabus\\Constant\\Permission::WRITE'), courseInfo) %}
                {% include 'course_info/view/student_vertical_menu.html.twig' %}
            {% endif %}
            <div class="student-content">
                {% if courseInfo.publicationDate is null %}
                    <h3 class="my-5 text-center">
                        {{ 'app.view.student.presentation.not_published' | trans }}
                    </h3>
                {% endif %}

                {% if courseInfo.publicationDate is not null or is_granted(constant('App\\Syllabus\\Constant\\Permission::WRITE'), courseInfo) %}

                    {% include 'course_info/view/student_presentation.html.twig' %}
                    {% include 'course_info/view/student_prerequisite.html.twig' %}
                    {% include 'course_info/view/student_objectives.html.twig' %}
                    {% include 'course_info/view/student_activities.html.twig' %}
                    {% if (courseInfo | displayValidator('evaluation_empty')) == true %}
                        {% include 'course_info/view/student_evaluation.html.twig' %}
                    {% endif %}
                    {% if (courseInfo | displayValidator('equipments_empty')) == true %}
                        {% include 'course_info/view/student_equipments.html.twig' %}
                    {% endif %}
                    {% if (courseInfo | displayValidator('info_empty')) == true %}
                        {% include 'course_info/view/student_info.html.twig' %}
                    {% endif %}
                    {% if (courseInfo | displayValidator('closing_remarks_empty')) == true %}
                        {% include 'course_info/view/student_closing_remarks.html.twig' %}
                    {% endif %}
                {% endif %}


                <div class="text-muted text-center pb-5">
                    <h5>{{ 'app.view.student.alert.important' | trans }}</h5>
                    <p>
                        {{ 'app.view.student.alert.text.part_1' | trans }}
                    </p>
                    <p>
                        {{ 'app.view.student.alert.text.part_2' | trans }}
                    </p>
                    <a href="{{ 'app.view.student.syllabus_form.link' | trans }}" class="btn btn-outline-primary text-center" target="_blank">
                        {{ 'app.view.student.syllabus_form.text' | trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}