<div class="d-flex flex-column">
    <div class="row">
        <div class="col-6">
            <div>
                <div class="border p-2">
                    <p class="title-bold-light">Parties du syllabus a remplir obligatoirement</p>
                    <div class="row">
                        <div class="col-6">
                            <p>
                                {% if violations['presentation'] is empty %}
                                    <i class="fas fa-check text-success"></i>
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                                Présentation</p>
                            <p>
                                {% if violations['contentActivities'] is empty %}
                                <i class="fas fa-check text-success"></i>
                                {% else %}
                                <i class="fas fa-times text-danger"></i>
                                {% endif %}
                                Contenu et activités</p>

                            <p>
                                {% if violations['objectives'] is empty %}
                                <i class="fas fa-check text-success"></i>
                                {% else %}
                                <i class="fas fa-times text-danger"></i>
                                {% endif %}
                                Objectifs du cours</p>
                            <p>
                                {% if violations['evaluation'] is empty %}
                                <i class="fas fa-check text-success"></i>
                                {% else %}
                                <i class="fas fa-times text-danger"></i>
                                {% endif %}
                                Modalités d'évaluation</p>
                        </div>
                        <div class="col-6">
                            <p>{% if violations['equipment'] is empty %}
                                <i class="fas fa-check text-success"></i>
                                {% else %}
                                <i class="fas fa-times text-danger"></i>
                                {% endif %}
                                Matériel et ressources</p>
                            <p>
                                {% if violations['info'] is empty %}
                                <i class="fas fa-check text-success"></i>
                                {% else %}
                                <i class="fas fa-times text-danger"></i>
                                {% endif %}
                                Informations pratiques</p>
                            <p>
                                {% if violations['closingRemark'] is empty %}
                                <i class="fas fa-check text-success"></i>
                                {% else %}
                                <i class="fas fa-times text-danger"></i>
                                {% endif %}
                                Le mot de la fin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="border p-2">
                    <p class="title-bold-light">Syllabus publié pour les étudiants</p>
                    <div>
                        <em>Vous devez remplir les champs obligatoires.</em></br>
                        <div class="pt-2">
                            <input type="checkbox" id="btn_publish" checked data-toggle="toggle" data-onstyle="primary"
                                   data-on="Oui"
                                   data-off="Non">
                            <button type="button" class="btn btn-primary ml-5">Voir la version étudiante</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="border p-2">
                    <p class="title-bold-light">Duplication du syllabus pour l'année suivante</p>
                    <div>
                        <input type="checkbox" id="btn_duplicate" checked data-toggle="toggle" data-onstyle="primary"
                               data-on="Oui"
                               data-off="Non">
                        <button type="button" class="btn btn-primary ml-5" data-toggle="modal" data-target="#courseInfoDuplicationModal" data-code-year="{{ courseInfo.codeYear(true) }}">
                            Dupliquer les infos
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="border p-2">
                <div>
                    <p class="mb-0 text-bold">Création</p>
                    <span>{{ courseInfo.creationDate|localizeddate('full', 'none', null) }} {{ courseInfo.creationDate|date('H:i') }}</span>
                </div>
                <div>
                    <p class="mt-2 mb-0 text-bold">Dernière modification</p>
                    <span>{{ courseInfo.modificationDate|localizeddate('full', 'none', null) }} {{ courseInfo.modificationDate|date('H:i') }}</span>
                    {% if courseInfo.lastUpdater is not null %}
                        <span>par {{ courseInfo.lastUpdater.email }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="pt-4 text-center">
        <button type="button"
                class="btn btn-light modal-action"
                data-action-title="Demander un avis sur le syllabus"
                data-action-url="{{ path('app.course_info.dashboard.askAdvice', {'id': courseInfo.id }) }}">
            <i class="fas fa-comment-dots"></i> Demander un avis a un ingénieur pédagogique
        </button>
    </div>

</div>
<script>
    $('#btn_publish').bootstrapToggle();
    $('#btn_duplicate').bootstrapToggle();
</script>