{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url': path('app.course_info.activities.section.duplicate', {'id': courseInfo.id, 'sectionId': courseSection.id})}}) }}
{{ form_errors(form) }}
<h5>{{ 'app.activities.form.section.duplicate' | trans({'%title%': courseSection.title}) }}</h5>
<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary rounded mr-2">{{ "app.general.button.duplicate" | trans }}</button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form) }}