{{ form_start(form, {'attr': {'class': 'form-focus'}}) }}

        {{ form_errors(form) }}
<div class="mt-3">
    <div>
        <label placeholder="Période (facultatif)">Espace pour laisser un message à vos étudiants (ex:
            encouragements, derniers conseils…)</label>
        {{ form_widget(form.closingRemarks) }}
    </div>
    <div class="mt-3">
        <label class="mt-6" placeholder="En quelle(s) langue(s) est dispensé ce cours (facultatif)">Intégrer une
            ressource vidéo (ou audio) respectant la règlementation sur les droits d'auteur</label>
        <i class="fas fa-exclamation-circle " data-toggle="tooltip" data-placement="right" data-html="true"
           title="{% include 'tooltip/closing_remarks_video.html.twig' %}"></i>
        {{ form_widget(form.closingVideo) }}
    </div>
</div>
<div class="mt-2">
    <button type="submit" class="submit-button btn btn-primary submit rounded"
            data-url="{{ path('course_closing_remarks_message_view', {'id': courseInfo.id, 'action': 'submit' }) }}">
        Sauvegarder
    </button>
    <button type="button" class="cancel-button btn btn-secondary rounded"
            data-url="{{ path('course_closing_remarks_message_view', {'id': courseInfo.id, 'action': 'cancel' }) }}">
        Annuler
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false }) }}

<script>
    $('[data-toggle="tooltip"]').tooltip({
        container: '.content-wrapper'
    });
</script>
