{{ form_start(form, {'attr': {'class': 'form-focus'}}) }}
{{ form_errors(form) }}
<div class="mt-3">
    <div>
        {{ form_row(form.closingRemarks) }}
    </div>
    <div class="mt-3">
        {{ form_label(form.closingVideo) }}
        <i class="fas fa-exclamation-circle " data-toggle="tooltip" data-placement="right" data-html="true"
           title="{% include 'tooltip/closing_remarks_video.html.twig' %}"></i>
        {{ form_widget(form.closingVideo) }}
    </div>
</div>
<div class="mt-2">
    <button type="submit" class="submit-button btn submit button-orange"
            data-url="{{ path('app.course_info.closing_remarks.closing_remarks', {'id': courseInfo.id, 'action': 'submit' }) }}">
        {{ 'app.closing_remarks.form.save' | trans }}
    </button>
    <button type="button" class="btn-link btn text-black"
            data-url="{{ path('app.course_info.closing_remarks.closing_remarks', {'id': courseInfo.id, 'action': 'cancel' }) }}">
        <u>{{ 'app.closing_remarks.form.cancel' | trans }}</u>
    </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false }) }}

<script>
    $('[data-toggle="tooltip"]').tooltip({
        container: '.content-wrapper'
    });
</script>
