{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Liste des structures' %}
{% block subContent %}

    <div class="card">
        <div class="card-header">
            {{ form_start(form) }}
            <div class="row ui-front">
                <div class="col-md-2">
                    {{ form_row(form.code) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.label) }}
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="btn btn-danger" style="margin-top: 32px" href="{{  path('app_admin.structure_index')  }}">Réinitialiser les filtres</a>
                </div>
                <input type="submit" style="position: absolute; left: -9999px"/>
                <div class="col-md-6 col-sm-6">
                    <a class="btn btn-primary float-right" style="margin-top: 32px" href="{{  path('app_admin.structure_new')  }}">Ajouter une structure</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.structure.label.code'|trans, 's.code') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.structure.label.label'|trans, 's.structure') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.structure.label.obsolete'|trans, 's.obsolete') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.structure.label.synchronized'|trans, 's.synchronized') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for structure in pagination %}
                        <tr>
                            <td><a href="{{ path('app_admin.structure_edit', { 'id' : structure.id }) }}">{{ structure.code }}</a></td>
                            <td>{{ structure.label }}</td>
                            <td>{{ structure.obsolete|humanizeBoolean }}</td>
                            <td>{{ structure.synchronized|humanizeBoolean }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucune structure trouvée pour ces critères</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
