<div id="activities-list" class="p-2 list-sortable" data-url="{{ path('app.course_info.section.activities.sort', {'id': activeSection.id}) }}">
    {% if activeSection.courseSectionActivities is empty %}
        <div class="text-center" style="min-height: 300px">
            <h3 class="text-danger">{{ 'app.activities.view.activity.empty_activity' | trans }}</h3>
            <div class="text-bold">
                {{ 'app.activities.view.activity.add_activities' | trans }}
            </div>
            <i class="fas fa-arrow-down fa-5x"></i>
        </div>
    {% else %}
        {% for sectionActivity in activeSection.courseSectionActivities %}
            <div class="card mb-2 shadow item-sortable" data-id="{{ sectionActivity.id }}">
                <div class="card-body">
                    <div class="row">
                        <div class="col my-auto">
                            <div>
                                {{ sectionActivity.activity.label }} ({{ sectionActivity.activityMode }}) {% if sectionActivity.description %} : {{ sectionActivity.description }}{% endif %}
                            </div>
                            {% if sectionActivity.evaluable %}
                                <div class="mt-1">
                                    {% if sectionActivity.evaluationPeer %}<span class="badge badge-primary rounded mr-2">Evalué par les pairs</span>{% endif %}
                                    {% if sectionActivity.evaluationTeacher %}<span class="badge badge-primary rounded">Evalué par les enseignants</span>{% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-2 my-auto">
                            <div class="row">
                                <span class="badge badge-success rounded">{{ sectionActivity.activityType }}</span>
                            </div>
                            {% if sectionActivity.evaluable %}
                                <div class="row mt-1">
                                    <span class="badge badge-primary rounded">{{ (sectionActivity.evaluationCt ? 'ct' : 'cc') | trans }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-1 my-auto btn-group dropleft" style="z-index: 15">
                            <button class="btn dropdown-icon" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i> </button>
                            <div class="dropdown-menu">
                                <button type="button" class="dropdown-item text-info modal-action text-center"
                                        data-action-title="{{ 'app.activities.view.activity.edit_activity' | trans }}"
                                        data-action-url="{{ path('app.course_info.section_activity.edit', {'id': sectionActivity.id, 'activityId': sectionActivity.activity.id }) }}">
                                    <i class="fas fa-edit"></i> {{ 'app.general.button.edit' | trans }}
                                </button>
                                <button type="button" class="dropdown-item text-danger modal-action text-center"
                                        data-action-title="{{ 'app.activities.view.activity.delete_activity' | trans }}"
                                        data-action-url="{{ path('app.course_info.section_activity.delete', {'id': sectionActivity.id }) }}">
                                    <i class="fas fa-trash-alt"></i> {{ 'app.general.button.delete' | trans }}
                                </button>
                            </div>
                        </div>
                        {% if sectionActivity.evaluable %}
                            <div class="ribbon-wrapper">
                                {% if sectionActivity.evaluationRate %}
                                    <div class="ribbon bg-primary">
                                        {{ sectionActivity.evaluationRate }}%
                                    </div>
                                {% else %}
                                    <div class="ribbon bg-secondary">
                                        0%
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
