{% extends 'course_info/layout.html.twig' %}

{% block modals %}
    {{ parent() }}
    <div class="modal modal-initialized fade" id="modal-add-permission" data-show="{{ isValid ? 'false' : 'true' }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajouter une permission</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_label(form.user) }}
                        {{ form_widget(form.user) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.permission) }}
                        {{ form_widget(form.permission) }}
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}
{% block subContent %}
    <h4>Liste des permissions</h4>
    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-add-permission">
                Ajouter une permission
            </button>
        </div>
        <div class="card-body">
            {% if courseInfo.coursePermissions.count > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Permission</th>
                        <th>Modifier/supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for coursePermission in courseInfo.coursePermissions %}
                        <tr>
                            <td>{{ coursePermission.user.userName }}</td>
                            <td>{{ coursePermission.user.lastname }}</td>
                            <td>{{ coursePermission.user.firstname }}</td>
                            <td>{{ ('app.const.permission.' ~ coursePermission.permission)|trans }}</td>
                            <td>
                                <button type="button"
                                        class="btn btn-link modal-action p-0"
                                        data-action-title="Modifier une compétence"
                                        data-action-url="{{ path('app.course_info.permission.delete', {'id': coursePermission.id}) }}">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-link modal-action p-0"
                                        data-action-title="Supprimer une compétence"
                                        data-action-url="{{ path('app.course_info.permission.delete', {'id': coursePermission.id}) }}">
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucune permission n'a été enregistrée</div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#menu-permissions').addClass('active');
        });
    </script>
{% endblock %}