{% extends 'admin_layout.html.twig' %}
{% set h1 = ('list of ' ~ type) | trans %}
{% block subContent %}
    {% set isActivity = type is same as (constant('AppBundle\\Constant\\ActivityType::ACTIVITY')) %}

    <div class="card">
        <div class="card-header">
            {{ form_start(form) }}
                <div class="row ui-front">
                    <div class="col-md-2">
                        {{ form_row(form.label) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_row(form.mode) }}
                    </div>
                    {% if isActivity %}
                        <div class="col-md-2">
                            {{ form_row(form.grp) }}
                        </div>
                    {% endif %}
                    <div class="col-md-3 col-sm-6">
                        <a class="btn btn-danger" style="margin-top: 32px" href="{{  path('app_admin_activity_index', { 'type' : type })  }}">Réinitialiser les filtres</a>
                    </div>
                    {% if not isActivity %}
                        <div class="offset-md-2"></div>
                    {% endif %}
                    <div class="col-md-3 col-sm-6">
                        <a class="btn btn-primary float-right" style="margin-top: 32px" href="{{  path('app_admin_activity_new', { 'type' : type })  }}">Ajouter une {{ type|trans }}</a>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>

        <div class="card-body">
            {% if pagination.totalItemCount > 0 %}
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.activity.label.label'|trans, 'a.label') }}</th>
                        <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.activity.label.mode'|trans, 'a.mode') }}</th>
                        {% if isActivity %}
                            <th class="sortable">{{ knp_pagination_sortable(pagination, 'app.form.activity.label.grp'|trans, 'a.grp') }}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in pagination %}
                        <tr>
                            <td><a href="{{ path('app_admin_activity_edit', { 'id' : activity.id}) }}">{{ activity.label }}</a></td>
                            <td>{{ activity.mode|trans }}</td>
                            {% if isActivity %}
                                <td>{{ activity.grp|trans }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">Aucune activité n'a été enregistrée</div>
            {% endif %}
        </div>
        <!-- /.card-body -->
        {% if knp_pagination_render(pagination) %}
            <div class="card-footer clearfix">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

{% endblock %}
