{% extends 'course_info/layout.html.twig' %}

{% block subContent %}
    <div class="pt-3">

        <div id="card-achievement" class="card my-2 shadow card-syllabus"
             data-view-url="{{ path('app.course_info.objectives.achievements', {'id': courseInfo.id }) }}"
        >
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3>Capacités visées</h3>
                    <button type="button"
                            class="btn btn-primary rounded modal-action"
                            data-action-title="Ajouter une compétence"
                            data-action-url="{{ path('app.course_info.objectives.achievement.add', {'id': courseInfo.id }) }}">
                        Ajouter une capacité
                    </button>
                </div>
                <a href="https://lms.univ-cotedazur.fr/course/view.php?id=22948"
                   class="btn btn-outline-info btn-sm btn-block mt-2"
                   target="_blank">
                    Cours dédié à l'« Approche par Compétences » (auto inscription)
                </a>
            </div>
            <div class="card-body">
            </div>
        </div>


        <div id="card-critical_achievement" class="card my-2 shadow card-syllabus"
             data-view-url="{{ path('app.course_info.objectives.critical_achievements', {'id': courseInfo.id }) }}"
        >
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3>Objectif d'apprentissage APC</h3>
                    <button type="button"
                            class="btn btn-primary rounded modal-action"
                            data-action-title="Ajouter un apprentissage critique"
                            data-action-url="{{ path('app.course_info.objectives.critical_achievement.add', {'id': courseInfo.id }) }}">
                        Ajouter un apprentissage critique
                    </button>
                </div>
            </div>
            <div class="card-body">
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#menu-objectives-course').addClass('active');
            $('#menu-objectives-course').addClass('border-bottom-3 border-white');
    </script>
{% endblock %}