<p>
    Bonjour,
</p>
<p>
    Le syllabus <a href="{{ url('app_router', {'code': courseInfo.course.code, 'year': courseInfo.year.id}) }}">{{ courseInfo.title }}</a>  pour l'année universitaire {{ courseInfo.year.label}} vient d'être publié par {{ app.user.firstname }} {{ app.user.lastname }}.
</p>
<p>
    Bien cordialement
</p>